<md-card class="primo-rate-card" flex layout-padding="">
  <div class="card-upper">
    <span class="card-title" layout-align="center center">
      <img ng-src="{{titleImage}}" alt="rate image">
      <h2>{{title | translate}}</h2>
    </span>
    <span class="md-subhead">
      <p>{{text}}</p>
    </span>
  </div>
  <md-card-actions layout="column">
    <md-button ui-sref="{{buttonAction}}"
               ga-send-event
               mparticle-monthly-buy="{{mparticleMonthlyBuy}}"
               mparticle-label="{{mparticleLabel}}">
      {{"BUY_NOW" | translate}}
    </md-button>
  </md-card-actions>
</md-card>