<div class="container">
  <h2>Textbooks</h2>
  <a href="javascript:void(0)" class="btn btn-success" ng-click="doEnable(save)">Create</a>
  
  <div ng-include="'module/templates/book/create.view.html'" ng-if="enableForm"></div>

  <table class="table" ng-if="!enableForm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ item.title | limitTo: 20 }}{{ item.title.length > 20 ? '...' : ''}}</td>
        <td><img ng-src="{{config.primo.mediumImagePath + item.image}}" width="50px" ng-if="item.image"/>
        <img ng-src="{{ config.noImageUrl }}" / width="150px;" height="50px;" ng-if="!item.image"></td>
        <td>{{ item.description | limitTo: 20 }}{{ item.description.length > 20 ? '...' : ''}}</td>
        <td><a href="javascript:void(0)" ng-click="EditBook(item.slug)">Edit</a> | <a href="javascript:void(0)" ng-click="DeleteBook(item.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" ng-if="!enableForm" ng-disabled="is_disable" ng-click="loadMoreBooks()">Load More</button>
</div>