<a href="javascript:void(0)" ng-click="doDisable()"> Close </a>
<form method="post" ng-submit="Save()" ng-if="!updateForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Book ISBN Number">Book ISBN Number</label>
        <input type="text" class="form-control" ng-model="data.book_number" required>
    </div>

    <div class="form-group">
        <label for="Condition">Condition</label>
        <select class="form-control" ng-model="data.condition" ng-options="key as value for (key , value) in conditions"></select>
    </div>

    <div class="form-group">
        <label for="Trade Types">Trade Type</label>
        <select class="form-control" ng-model="data.trade_type" ng-options="key as value for (key , value) in trades" required></select>
    </div>

    <div class="form-group">
        <label for="Want to sell">Want to Sell</label>
        <select class="form-control" ng-model="data.sold" ng-options="key as value for (key , value) in want_sell" required></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>

    <div class="form-group">
        <label for="Description">Price</label>
        <input type="text" class="form-control" ng-model="data.price" required>
    </div>

    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" class="form-control" onchange="angular.element(this).scope().uploadImage(this)" ng-model="data.image" required>
    </div>


    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Create</button>
    </div>
</form>

<form method="post" ng-submit="UpdateBook()" ng-if="updateForm" enctype="multipart/form-data">
    <input type="hidden" class="form-control" ng-model="data.id" required>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Book ISBN Number">Book ISBN Number</label>
        <input type="text" class="form-control" ng-model="data.book_number" required>
    </div>

    <div class="form-group">
        <label for="Condition">Condition</label>
        <select class="form-control" ng-model="data.condition" ng-options="key as value for (key , value) in conditions"></select>
    </div>

    <div class="form-group">
        <label for="Trade Types">Trade Type</label>
        <select class="form-control" ng-model="data.trade_type" ng-options="key as value for (key , value) in trades" required></select>
    </div>

    <div class="form-group">
        <label for="Want to sell">Want to Sell</label>
        <select class="form-control" ng-model="data.sold" ng-options="key as value for (key , value) in want_sell" required></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>

    <div class="form-group">
        <label for="Description">Price</label>
        <input type="text" class="form-control" ng-model="data.price" required>
    </div>

    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    
    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Update</button>
    </div>
</form>
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind-html="flash.message"></div>