<!-- banner starts -->
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-9 row banner_content">
					<div class="banner_title">
						<h1>Buy Books</h1>
					</div>
					<div class="banner_form">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#buy">Buy</a></li>
							<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
						</ul>
						<div class="tab-content">
							<div id="buy" class="tab-pane fade in active">
								<form ng-submit="bookSearchByTitle(search)">
				                  <input type="text" ng-model="search.title" placeholder="Enter an ISBN, author, title, or keyword" />
				                  <button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
				                </form>
							</div>
							<div id="sell" class="tab-pane fade">
								<h3>Menu 1</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- main content starts -->
		<div id="main__content" class="srch_results bg_grey">
			<div class="container">
				<div class="row">
					<h4 class="srch_results_title">Search results for "{{title}}"</h4>
					<div class="col-md-4 col-sm-6 text-center" ng-repeat="item in items">
						<div class="srch_list">
							<div class="srch_rslt_img">
								<a href="book/{{item.slug}}">
			                      
			                      <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />
			                      
			                      <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  

			                    </a>

			                </div>
							<div class="srch_rslt_detail">
								<div class="book_title">
									<p>{{item.title.length > 20 ? item.title.substr(0,20)+"..." : item.title}}</p>
								</div>
								<div class="book_author">
									<p>{{item.author}}</p>
								</div>
								<div class="book_author_contact">
									<p>2013<br />{{item.book_number}}</p>
								</div>
								<div class="book_price">
									<p>${{item.price}} <!-- <span> $42.47 </span> --></p>
								</div>
								<div class="book_stock">
									<p><a href="book/item.slug" class="btn btn-success">In Stock</a> <!-- Have one to sell? <span>We'll buy it!</span> --></p>
								</div>
							</div>
						</div>
					</div>

					<button class="btn btn-success" ng-disabled="is_disable" ng-click="searchBookByTitleLoadMore()">Load More</button>

				</div>
			</div>
		</div>
		<!-- main content ends