<div layout-padding="" id="faq" layout="row" layout-align="center start">
  <div flex="40" layout="column">
    <md-button class="md-primary md-raised" ui-sref="account.faq">FAQ</md-button>
    <md-button class="md-primary md-raised" ui-sref="account.ticketCreate">Contact Primo</md-button>
    <md-button class="md-primary md-raised" ui-sref="account.ticketList">Ticket List</md-button>
  </div>
</div>