<md-card class="primo-rate-card" flex layout-padding="">
  <div class="card-upper">
    <span class="card-title" layout-align="center center">
      <img ng-src="{{ titleImage }}" alt="rate image"> <br/>
      <span>Credit</span>
    </span>
    <span ng-if="selected">Call and message</span>
    <br/>
    <span ng-if="selected">{{selected.country}}</span>
    <span ng-if="!selected">{{"SEARCH_COUNTRY_CHECK" | translate}} </span>

    <h4>{{title | currency}}</h4>
    <span class="md-subhead small">
      <p ng-if="selected">{{title/selected.pinless_land | formatPrimoCreditMinutes}} minutes to landlines</p>
      <p ng-if="selected">{{title/selected.pinless_mobile | formatPrimoCreditMinutes}} minutes to mobiles</p>
      <p ng-if="selected">{{selected.sms_rate | formatSMSRate}} SMS</p>
    </span>
  </div>
  <md-card-actions layout="column" ng-if="buttonAction">
    <md-button
        ga-send-event
        event-category="Primo Credit Card"
        event-action="click"
        event-label='{{buttonAction}}'
        mparticle-label="{{mparticleLabel}}"
        mparticle-buy-credit="{{mparticleBuyCredit}}"
        ui-sref="{{buttonAction}}">
      {{"BUY_NOW" | translate}}
    </md-button>
  </md-card-actions>
</md-card>