<div id="signup__wrapper">
    <div class="container">
        <h3 class="text-center">Forget Password</h3>
        <form name="form" ng-submit="forgotPassword(user)" role="form" class="signup__form">
            
            <div class="alert alert-danger" ng-if="error">
              <strong>Failed!</strong> {{error}}.
            </div>

            <div class="alert alert-success" ng-if="success">
              <strong>Success!</strong> {{success}}.
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" placeholder="Email *" required />
            </div>
            
            <div class="form-group">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary forgot-password-button"><span ng-show="submitButton"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></span> {{buttonText}} </button>
            </div>
            
            <div class="clearfix"></div>

        </form>
        
    </div>
</div>