<div class="primo-container" id="tos" layout-padding="">
  <h1>
    <a class="blue-button small" href="resources/docs/Primo_Connect_-_Reasonable_Use_Policy.pdf" target="_blank">Reasonable
      Use Policy</a>
    Terms of Service
  </h1>
  <p><i>Last modified: February 7, 2017</i></p>

  <p>Thank you for using Primo, created by Primo Connect, Inc. (together with our affiliates, assigns, and
    agents, &ldquo;Primo&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo;
    or &ldquo;our&rdquo;). Please read these Terms of Service carefully. They govern your use of the software
    application (&ldquo;App&rdquo;,
    as defined below) provided by Primo Connect, and your use of the separate services that are available through the
    App (&ldquo;Services&rdquo;,
    as described below). Your license agreement (&ldquo;Agreement&rdquo;) with us includes (i) these Terms of Service;
    (ii)
    our Privacy Policy; and (iii) our <a ui-sref="rup()" target="_blank">Reasonable Use Policy</a>
    and (iv) any other supplemental terms and conditions that we provide or otherwise make available to you.
    This Agreement is a binding contract between you (&ldquo;you&rdquo;, &ldquo;your&rdquo; or the &ldquo;user&rdquo;)
    and Primo and it explains your rights and obligations when you use Primo. These Terms of Service control in the
    event of
    any conflict with other materials that make up the Agreement.</p>

  <p>You must read and agree to the Agreement (including these Terms of Service) before you can use Primo. By using
    Primo,
    you're agreeing to be bound by the Agreement. If you do not agree to any provision contained in the Agreement,
    please
    do not use Primo.</p>

  <h2>1. Primo</h2>
  <p>Primo is a service available on a mobile device (e.g. a mobile phone or tablet) or a personal computer (e.g. a
    desktop or laptop computer) which allows its users to engage in (i) peer-to-peer video, voice, messaging and content
    exchange, both on a one-to-one basis and in groups, and (ii) video, voice, messaging and content exchange to and
    from the public phone network (a mobile phone or landline using the public phone network).When using a Mobile Device
    (as defined below), Primo is accessible through a free App download from the Apple App Store, and Google Play
    Store, or from Amazon (&ldquo;Mobile App&rdquo;). When using a Personal Computer (as defined below), Primo is
    accessible through a web browser-based version of the App (&ldquo;Web App&rdquo;). Mobile Device users that attempt
    to access Primo through their Mobile Device web browser will be redirected to download the Mobile App. Peer-to-peer
    services may be free to use. Data charges may be applied by your mobile carrier for the download of the Mobile
    App.</p>

  <blockquote>
    <p>(a) Primo features &ldquo;Services&rdquo; that: (i) allow Primo users to participate in peer-to-peer
      communications and content
      exchange (&ldquo;In-App Communications&rdquo;) with other Primo users. In-App Communications with other Primo
      users
      may be free,charged at a fixed per-minute rate, or offered as part of a bundle of Services; and (ii) allow you
      to obtain a Primo Number (as defined below) to: (x) make voice calls to non-Primo users using the public
      phone network; (y) receive voice calls from non-Primo users using the public phone network (individually and
      collectively, &ldquo;Out-of-App Calls&rdquo;); and/or (z) send and receive video, messages and other Content (as
      defined
      below) to and from non-Primo users (individually and collectively, &ldquo;Out-of-App Communications&rdquo;).
      Out-of-App Calls
      and Out-of-App Communications may be free, charged at a fixed rate, or offered as a part of a bundle of Services
      or within a pre-determined rate plan (as described below).
      During introductory promotional offers, Primo may waive any fees otherwise applicable to Out-of-App Calls and
      Out-of-App Communications for a limited time and at its sole discretion.</p>

    <p>(b) The fee payable for making an Out-of-App Call to a mobile or landline phone using the public phone network
      may
      be a fixed per-minute rate determined by us at our sole discretion, and is subject to change at any time. The fee
      payable for Out-of-App Communications with non-Primo users may be a fixed rate determined by us at our sole
      discretion, and is subject to change at any time. Primo Connect may bundle Out-of-App Calls and Out-of-App
      Communications
      (&ldquo;Bundled Services&rdquo;), a portion of which may be free or available upon payment of a fee, with the cost
      of such Bundled
      Services to be determined by us at our sole discretion, and subject to change at any time. We reserve the right,
      at
      our sole discretion, to modify the terms of both Bundled Services previously purchased by you, as well as new
      Bundled Services you purchase, which may include expansion or contraction of the free and paid Services available
      to you. We also may offer special rate plans featuring packages of minutes for Out-of-App Calls that can be
      purchased ahead of time for use within specified countries, in limited quantities, and for limited periods of
      time, all at our sole
      discretion (&ldquo;Primo Rate Plans&rdquo;). We reserve the right, at our sole discretion, to modify the terms of
      Primo Rate
      Plans previously purchased by you, as well as new Primo Rate Plans, which may include expansion or contraction of
      the Services available to you within a particular Primo Rate Plan. Our standard per-minute rates for Out-of-App
      Calls and Out-of-App
      Communications are published within the Primo App and at
      www.primo.me. Payment for Out-of-App Calls, Out-of-App Communications, and Bundled Services is made by purchasing
      and using Primo Money (as described below). You may purchase a Primo Rate Plan at designated retail locations,
      online at Primo’s website, or through the App.</p>

    <p>(c) All international long distance services in connection with Out-of-App Calls are handled by PLD, LLC (&ldquo;PLD&rdquo;).
      PLD is not affiliated with Primo Connect.</p>
  </blockquote>

  <h2>2. Eligibility</h2>
  <p>Use of the App and registration for an Account (as defined below) to use Primo is void where
    prohibited. You must be at least thirteen (13) years or older to use Primo (including, but not limited to,
    registering
    for an Account). By registering for an Account to use Primo, you represent that you are 13 years of age or older and
    that you have the capacity to understand, agree to and comply with the Agreement. Your Account may be deleted and
    your
    access to Primo may be terminated without warning if we believe that you are under 13 years of age. If you are
    between
    the ages of 13 and 17, you represent that your parent or legal guardian has reviewed and agreed to the
    Agreement. </p>

  <h2>3. Acceptance</h2>
  <p>The representations, warranties, conditions, covenants and agreements set forth in these Terms Of Service and
    elsewhere in the Agreement contain the legal terms that govern your use of Primo and the App.

    In these Terms Of Service, &ldquo;App&rdquo; means the downloadable software application for use on your Mobile
    Device or the web browser-based version of the software applicaition available for use on your Personal Computer, as
    distributed by Primo Connect in order to access Primo, as well as any future versions, improvements, developments,
    programming fixes, updates and upgrades thereof. &ldquo;Mobile Device&rdquo;
    means mobile phone, smartphone, handset, tablet or other mobile device
    enabled for internet access and/or communication, and &ldquo;Personal Computer&rdquo; means a desktop or laptop
    computer with a
    web browser enabled for internet access and/or communication (Mobile Device and Personal Computer may be
    collectively referred to in these Terms of Service as a &ldquo;Device&rdquo;).
  </p>

  <p>BY INSTALLING, ACCESSING, OR USING THE APP, INCLUDING, BUT NOT LIMITED TO, SIGNING UP FOR AN ACCOUNT, YOU
    (THE USER) ACKNOWLEDGE, ACCEPT AND AGREE TO BE BOUND BY THE AGREEMENT IN CONNECTION WITH YOUR USE OF BOTH THE APP
    AND
    PRIMO. BY NOT COMPLETING THE INSTALLATION PROCESS FOR THE APP, OR BY UNCHECKING THE BOX PRESENTED DURING ACCOUNT
    REGISTRATION WHICH STATES THAT YOU AGREE TO THE AGREEMENT, YOU SHALL REFLECT THAT YOU DO NOT AGREE WITH THE
    AGREEMENT
    AND YOU WILL NOT HAVE ACCESS TO THE APP OR PRIMO.</p>

  <h2>4. Dispute Resolution and Arbitration</h2>
  <p>PRIMO CONNECT AND YOU EACH AGREE THAT ANY AND ALL CLAIMS OR DISPUTES IN ANY WAY RELATED TO OR CONCERNING THE
    AGREEMENT, OUR
    SERVICES, OR THE APP, WILL BE RESOLVED BY BINDING ARBITRATION ON AN INDIVIDUAL, NON-REPRESENTATIVE, BASIS. This
    includes any claims against other parties relating to Services provided or billed to you (such as our suppliers or
    third party vendors) whenever you also assert claims against us in the same proceeding. Primo Connect and you each
    also agree that the Agreement affects interstate commerce so that the Federal Arbitration Act and federal
    arbitration law apply
    (despite the choice of law provision described below). THERE IS NO JUDGE OR JURY IN ARBITRATION, AND COURT REVIEW OF
    AN ARBITRATION AWARD IS LIMITED. THE ARBITRATOR MUST FOLLOW THE AGREEMENT AND CAN AWARD THE SAME DAMAGES AND RELIEF
    AS
    A COURT (INCLUDING ATTORNEYS’ FEES).</p>

  <p>For all disputes, you must first give us an opportunity to resolve your claim by sending a written description and
    supporting documentation of your claim to the email address set forth in Section 33, below. Primo Connect and you
    each agree to negotiate your claim in good faith. If Primo Connect and you are unable to resolve the claim within
    sixty (60) days after Primo Connect receives your claim description and supporting documentation, you may pursue
    your claim in arbitration.</p>

  <p>CLASS ACTION WAIVER. PRIMO CONNECT AND YOU EACH AGREE THAT ANY PROCEEDINGS, WHETHER IN ARBITRATION OR COURT, WILL
    BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS OR REPRESENTATIVE ACTION OR AS A MEMBER IN A CLASS,
    CONSOLIDATED OR REPRESENTATIVE ACTION. Neither you, nor any other Primo Connect customer, can be a class
    representative, class member, or otherwise participate in a class, consolidated, or representative proceeding
    against Primo Connect.</p>

  <p>JURY TRIAL WAIVER.  If, notwithstanding your agreement to arbitrate disputes as provided in this Section 4, a claim
    proceeds in court rather than through arbitration, PRIMO CONNECT AND YOU EACH WAIVE ANY RIGHT TO A JURY TRIAL.</p>

  <h2>5. Modifications</h2>
  <p>Primo Connect reserves the right to change the terms of these Terms of Service at any time by
    publishing the revised Terms of Service on the Primo website. If we change the Terms of
    Service, we will inform you by posting the revised Terms of Service on the Primo website. Those changes
    will go into effect on the Revision Date shown in the revised Terms of Service. You can find the latest
    version of this Agreement at <a ui-sref="tos">http://www.primo.me/terms-of-service</a>. Your continued use of Primo
    and the App following
    posting of revisions on the Primo website constitutes your consent to be bound by the revised Terms of
    Service.</p>

  <h2>6. Service Availability</h2>
  <p>You are responsible for all Device connection charges incurred by you when you use Primo. If you use Primo on a
    cellular network (rather than via Wi-Fi), standard data rates may apply, according to your wireless plan. And if
    you’re traveling outside of your home country, please check with your wireless carrier before using Primo on a
    foreign
    cellular network (rather than via Wi-Fi), as international data roaming may apply. The Primo App features settings
    that allow you to prevent the App from using mobile data for voice calls, video calls, and for Content exchange.</p>

  <h2>7. 911 Information</h2>
  <p>Primo does not feature all of the services of, and is not a replacement for, a wired or wireless phone. You
    expressly
    understand and agree that Primo does not currently allow and is not intended to support or carry emergency or
    time-critical calls, communications, or messaging to any type of hospital, law enforcement agency, public safety
    answering point, medical care unit or any other kind of emergency or time critical service (&ldquo;Emergency
    Services&rdquo;).
    By agreeing to these Terms Of Service, you understand that additional arrangements must be made to access Emergency
    Services. If you attempt to make an Emergency 911 call while using Primo, you will be automatically transferred out
    of the App and into your Device's standard phone dialer, if available. To access Emergency Services, you
    acknowledge and accept your responsibility to purchase, separately from Primo, traditional wireless or wireline
    telephone service and other means of communication intended for access to Emergency Services. Neither Primo, nor its
    officers, directors, employees, or affiliates may be held liable whether in contract, warranty, tort, or any other
    form of liability for any claim, damage, or loss (and you hereby waive any and all such claims or causes of action)
    arising from or relating to your inability to use Primo or its Services to contact any Emergency Services, or your
    failure to make additional arrangements to access Emergency Services. Neither Primo Connect, nor its officers,
    directors, employees, or affiliates may be held liable whether in contract, warranty, tort, or any other form of
    liability for any claim, damage, or loss (and you hereby waive any and all such claims or causes of action) arising
    from or relating to your inability to use Primo or its Services to contact any Emergency Services, or your failure
    to make additional arrangements to access Emergency Services.</p>

  <p>8. Account Registration</p>
  <p>Use of Primo requires that you sign up for an account (&ldquo;Account&rdquo;) either online at Primo’s website
    located at www.primo.me, through the App, or by sending a short code SMS message to Primo as described in Section 10
    below. The Account applies to use of the App and related Services. When setting up an Account you may be prompted
    to: (i) provide us with a verified mobile phone number to receive a call or SMS message from us so that we may
    authenticate your Account registration and you acknowledge and agree that we may place, and that your provider may
    charge you for, that incoming call or SMS message; and (ii) provide us with certain registration information about
    yourself including, without limitation, your email
    address, your city, state, and country of residence, name, and an Account password. You can manage your password and
    view your Account settings, Primo Money, Primo Rate Plan, and billing information through the account management
    sections of the Primo website and App.
  </p>

  <blockquote>
    <p>(a) You represent and warrant to Primo Connect that: (i) all required registration information you submit is
      truthful and
      accurate; and (ii) you will maintain the accuracy of such information. If you decide to enter a verified mobile
      phone number, country, or other personal information in connection with your use of Primo, you agree only to enter
      the mobile phone number associated with your Account, your country of residence or origin and other accurate
      personal information about you.</p>

    <p>(b) You also agree: (i) to maintain accurate information by providing updates to Primo Connect, as needed,
      through the account management sections of the Primo website or App; and (ii) that we
      may use and rely on any such information provided by you for all purposes in connection with your use of Primo,
      subject to our Privacy Policy. If you provide any information that is inaccurate, not current, false, misleading
      or
      incomplete, or if we have reasonable grounds to suspect that such information is inaccurate, not current, false,
      misleading or incomplete, we have the absolute right, in our sole discretion, to terminate or suspend your access
      to
      Primo and to your Account (which will also result in your not being able to use the App).</p>

    <p>(c) As part of the registration process for your Account, you will choose a password (the &ldquo;Password&rdquo;)
      for your authorized access and use of Primo. Your Password is unique to you alone. Without it, no one can log-in
      to
      your Account. You must carefully select your Password so that it cannot be easily guessed by anyone else. You
      agree
      to keep your Password absolutely confidential, and ensure it is never disclosed, accidentally or otherwise, to
      anyone else. You may change your Password through your Account settings. You are fully responsible for all
      activities and charges that occur under your Account.</p>
  </blockquote>

  <p>You agree to immediately notify us of any unauthorized use, or suspected unauthorized use, of your Account or any
    other breach of security. Primo Connect shall not be liable for any loss or damage arising from your failure to
    comply with
    the above requirements.</p>

  <p>You hereby consent to and allow, and represent that you have the right to allow, Primo to: (i) import, store,
    and/or regularly synchronize the standard system address book contacts from your Mobile Device and from third party
    services through connections enabled by you through the Mobile App with the contacts in your Mobile App; (ii)
    synchronize the telephone contact information from within iCloud or Google with the your contacts in the Web App,
    when you use the Web App on a Personal Computer (iii) identify you by any method possible within your Device,
    including but not limited to use of the name and phone number provided during registration and to third parties with
    whom you communicate using the App; (iv) identify your association with synced contacts to other users of
    the App; and (v) associate contact information on your Device with contact information, as available, from third
    party services enabled by you through the App. YOU ACKNOWLEDGE THAT IF YOU DO NOT CONSENT TO MAKE YOUR CONTACTS
    AVAILABLE TO THE APP, YOUR USE OF THE APP WILL BE LIMITED.</p>

  <p>If your version of the App includes voicemail, photo or audio or video recording features, you consent to allow,
    and
    represent that you have the right to allow Primo to: (i) access your Device’s camera and microphone to facilitate
    sharing of Content; and (ii) copy, cache, store, distribute and share voicemails, photos and/or audio and video
    recordings or files as you designate through the App. For voicemail features, if made available to you in the App,
    you
    agree that voicemails may be deleted by Primo at any time after the voicemail is received, whether or not retrieved
    by
    the user, and in Primo’s sole discretion, and may be subject to limitations as to the number and duration of
    voicemails.</p>

  <h2>9. Notices and Customer Communications</h2>
  <p>You expressly consent to receive all communications, agreements, documents, notices and disclosures (&ldquo;Notices&rdquo;)
    from us, (i) at the mobile phone number or email address you provide to us during Account registration (including
    any
    updates you may make to your Account information), or (ii) through the App. Notices from us to you are considered
    delivered (i) when we deliver them to your mobile phone by text message or voice, or by email to any email address
    you
    provide to us, or (ii) when we deliver them to you through the App.</p>

  <p>We may at times contact you using autodialed or prerecorded message calls or text messages at the telephone number
    associated with your mobile phone or through the App. We may place such calls or texts to (i) provide notices
    regarding your Primo Account or Account activity, (ii) investigate or prevent fraud, or (iii) collect a debt owed to
    us. You agree that we and our service providers may contact you using autodialed or prerecorded message calls and
    text
    messages to carry out the purposes we have identified above. We may share your mobile phone number with service
    providers with whom we contract to assist us in pursuing these interests, but will not share your mobile phone
    number
    with third parties for their own purposes without your consent. Standard telephone minute and text charges may
    apply.
    We and our service providers will not use autodialed or prerecorded message calls or texts to contact you for
    marketing purposes at the mobile phone number associated with your Device unless we receive your
    prior express written consent.</p>

  <p>Except as set forth in the preceding paragraph, you do not have to consent to receive autodialed or prerecorded
    message calls or texts in order to use Primo. Where Primo Connect is required to obtain your consent for such
    communications,
    you may choose to revoke your consent by any reasonable means, including by contacting our customer service
    department
    at <a href="mailto:support@primo.me">support@primo.me</a> or by managing your Account settings via the App. Written
    notices from you to us are considered delivered when you send an email.</p>

  <h2>10. Primo Short Code Service</h2>
  <p>
    As part of its service offerings, Primo Connect makes available to you a service that enables you to send an SMS
    message
    containing an international phone number to the SMS short code PRIMO (77466), after which Primo will send a reply
    SMS message to your Device containing a local telephone number that will forward to the international phone number
    contained in your original SMS message (the &ldquo;Primo Short Code Service&rdquo;). The reply SMS message will also
    contain a temporary username and password that you can use to log on to the Primo website and manage your Account
    information, check your Account balance, purchase Primo Money or a Primo Rate Plan, or perform other functions as
    introduced. The terms and conditions contained in this
    Section 10 apply to the Primo Short Code Service.
  </p>

  <blockquote>
    <p>(a) To opt-in to the Primo Short Code Service and to receive alerts, you text &ldquo;<strong>JOIN</strong>&rdquo;
      to 77466. We will send you an SMS message to confirm your signup.</p>

    <p>(b) You can cancel the Primo Short Code Service at any time. Just text &ldquo;<strong>STOP</strong>&rdquo; to
      77466. After you send the SMS message &ldquo;STOP&rdquo; to us, we will send you an SMS message to confirm that
      you
      have been unsubscribed. After this, you will no longer receive SMS messages from us in connection with the Primo
      Short Code Service. If you want to join again, just sign up as you did the first time and we will start sending
      SMS
      messages to you again.
    </p>

    <p>(c) If at any time you forget what keywords are supported, just text &ldquo;<strong>HELP</strong>&rdquo; to
      77466.
      After you send the SMS message &ldquo;<strong>HELP</strong>&rdquo; to us, we will respond with instructions on how
      to use the Primo Short Code Service as well as how to unsubscribe.
    </p>

    <p>(d) We are able to deliver messages to the following mobile phone carriers: <br/><br/>

      Major carriers: AT&T, Verizon Wireless, Sprint, T-Mobile, U.S. Cellular, Alltel, Boost Mobile, Nextel, Metro PCS
      and
      Virgin Mobile.<br/>
      Minor carriers: Alaska Communications Systems (ACS), Appalachian Wireless (EKN), Bluegrass Cellular, Cellular One
      of
      East Central IL (ECIT), Cellular One of Northeast Pennsylvania, Cincinnati Bell Wireless, Cricket, Coral Wireless
      (Mobi PCS), COX, Cross, Element Mobile (Flat Wireless), Epic Touch (Elkhart Telephone), GCI, Golden State, Hawkeye
      (Chat Mobility), Hawkeye (NW Missouri), Illinois Valley Cellular, Inland Cellular, iWireless (Iowa Wireless),
      Keystone Wireless (Immix Wireless/PC Man), Mosaic (Consolidated or CTC Telecom), Nex-Tech Wireless, NTelos,
      Panhandle Communications, Pioneer, Plateau (Texas RSA 3 Ltd), Revol, RINA, Simmetry (TMP Corporation), Thumb
      Cellular, Union Wireless, United Wireless, Viaero Wireless, and West Central (WCC or 5 Star Wireless).
    </p>
    <p>(e) T-Mobile is not liable for delayed or undelivered messages.</p>
    <p>(f) As always, message and data rates may apply for any messages sent to you from us and to us from you. You will
      receive a maximum of 3 messages per month. If you have any questions about your text plan or data plan, it is best
      to contact your wireless provider. <br/>
      For all questions about the Primo Short Code Service, you can send an email to <a href="mailto:support@primo.me">support@primo.me</a>.
    </p>
    <p>(f) If you have any questions regarding privacy, please read our Privacy Policy located online at <a
      ui-sref="privacyPolicy">http://www.primo.me/privacy-policy</a>.</p>
  </blockquote>
  <h2>11. Data</h2>
  <p>Prior to Account creation, Primo Connect may collect Device identifiers throught the App, but no other personally
    identifiable information. Such information is used for the sole purpose of providing support for the internal
    operations of Primo Connect.
    During and after Account creation, Primo collects data that you provide upon registration and data about your use of
    the App which includes Personal Data and Behavioral Data. &ldquo;Personal Data&rdquo; is data that identifies you
    personally including your: name, address, email address, mobile phone number, and phone numbers of recipients of
    your
    calls and messages, but specifically excludes location data. Personal Data is used only to identify you with your
    Account in order to provide Services to you. You consent to allow Primo Connect to transmit Personal Data to third
    parties
    as
    authorized by our Privacy Policy, which can be accessed within the App and at <a ui-sref="privacyPolicy">http://www.primo.me/privacy-policy</a>.
  </p>

  <h2>12. Advertising</h2>
  <p>Your use of Primo may be supported, in part, by advertising and/or targeted content without which Primo Connect
    would not be able to provide the Services to you. Accordingly, you acknowledge and accept that Primo displays
    advertising and promotions within and throughout the App and the Services provided in the App. Some behavioral data
    collected in the App is used for advertising purposes. That behavioral data does NOT include data that can identify
    you personally, but does include the following (collectively, &ldquo;Behavioral Data&rdquo;): gender, phone number
    issued by Primo Connect, traffic data, the number of messages you send and receive, date and time messages are sent
    and received, logs and other communication data, Device type and operating system, carrier identity, and Device
    identifiers such as UDID, Ethernet MAC address and/or advertising identifier, as well as meta data and other
    information associated with other
    files stored on your Device and location data about the location of your Device. Behavioral Data is used by Primo
    Connect and shared with third parties to deliver advertising within and throughout the App and the Services provided
    in the App, to provide, improve, monitor, and update the App, and for other current and future Primo Connect
    applications and promotions.</p>

  <p>If you download the Mobile App from a U.S. App Store for use in the U.S. or use the Web App for use in the U.S.,
    you acknowledge and agree that you are a U.S. resident, that your use of the App will be entirely within the U.S.,
    and you expressly agree that Primo Connect and its advertising service providers (&ldquo;Service Providers&rdquo;)
    may digitally scan content transmitted through the App in order to provide such advertising to you. Advertising may
    be targeted and embedded within and throughout the App
    and the Services provided in the App (&ldquo;Targeted Content&rdquo;) irrespective of your geographical location,
    and
    based on Behavioral Data and other information Primo Connect or its Service Providers may have about you.</p>

  <p>
    AirFox is a mobile platform and a Service Provider used by Primo to lower the cost of communication
    services. AirFox is integrated into the App using a Sponsored Lockscreen or Rewards SDK.  The
    Sponsored Lockscreen product introduces targeted mobile advertising and content on the lockscreen of
    Android devices, as well as on the screen after you unlock the phone, the frequency of which is
    determined by Primo in its sole discretion. Mobile advertising and content can include offers, news,
    brand, and direct response advertising. The Rewards SDK enables incentivized rewards. You can engage
    with different advertisers and earn rewards as determined by Primo in its sole discretion. Offers can
    include coupons, branded videos, and surveys. Use and access to the mobile advertising is subject to the

    <a href="http://airfox.io/terms/" target="_blank">AirFox Terms of Service</a> and <a
    href="http://airfox.io/privacy/" target="_blank">Privacy Policy</a>.
  </p>

  <p>Service Providers may also use Behavioral Data to provide Targeted Content to you through third-party applications
    and websites. By using the App, you are providing your consent for use of Behavioral Data by Primo Connect and its
    Service Providers as described in these Terms Of Service and our Privacy Policy and you hereby authorize and grant
    to Primo Connect a license to use, copy, and transmit Behavioral Data for any purpose, and to sublicense, sell,
    lease and/or
    transfer the foregoing rights to any third party, subject to limitations of applicable law. You may be able to opt
    out of receiving Targeted Content from third parties. For example, in some iOS devices (with iOS 6 or later), the
    advertising
    identifier may be disabled at your discretion. Further, some Service Providers enable you to opt out of Targeted
    Content through mechanisms available to you through advertisements or on their websites. Primo Connect does not
    provide
    separate opt out mechanisms for tracking of Behavioral Data. You are solely responsible for exercising any opt out
    mechanisms made available by third parties.</p>

  <h2>13. Primo Money and Primo Rate Plans</h2>
  <p>Depending upon the Services you sign up for or use, you may be required to pay a fee. Should you elect to enable
    such features, you shall pay all applicable fees in connection with such features. If you request a change in any
    Service,
    there may be additional or different fees. Special or enhanced features you use may also carry applicable charges.
    For example, we may allow you to place Out-of-App Calls to non-Primo users after you pay a specified fee.</p>

  <p>
    Primo Money. Primo Connect may offer Services (as described above) that allow you to pay us for &ldquo;credits&rdquo;
    that
    you can collect in your Account and that you can later use for minutes, messaging, or other Content that Primo
    Connect may make available to you through the App, in its sole discretion. We may allow you to store purchased
    credits in your Primo Account (&ldquo;Primo Money&rdquo;).
  </p>
  <blockquote>
    <p>(a) Primo Money may apply only to particular Services, such as Out-of-App Communications, may be given away for
      promotional and/or other purposes by Primo Connect at its sole discretion, or may be purchased in the form of
      Bundled Services. Primo Money may be purchased at designated retail locations, online through Primo’s website or
      through the App. If made available to you, you may receive, purchase, or earn Primo Money independently and/or
      through your use of features enabled through the App. We may investigate and limit the number of purchases of
      Primo Money that you can make within a certain period of time, at our sole discretion. Please visit the Primo
      FAQ at www.primo.me/faq/ for more details regarding restrictions on the number of Primo Money purchases that
      you can make. If you purchase Primo Money but do not use Primo Money for
      applicable Services, Primo Money will expire after a specified period of time. Expiration of Primo Money due to
      inactivity is described below. If your Primo Money expires, it will not be reapplied to your Account. In addition,
      we may provide you, without purchase, Primo Money upon registration of your Account, such as credits offered
      through promotions (&ldquo;Primo Rewards&rdquo;). The number of Primo Money credits you can earn for utilizing
      Services shall be as determined by Primo Connect in its sole discretion. Among other promotions, you may earn
      Primo Rewards when you invite others to access and use Primo. However, we may limit the number of invitations
      that you can send within a certain period of time, at our sole discretion. Please visit the Primo FAQ at
      www.primo.me/faq/ for more details. Primo Rewards that we provide may also expire after a specified period of
      time. Primo Money is billed at the time of purchase.
    </p>

    <p>(b) Usage of Primo Money (whether purchased or earned) for In-App Communications or Out-of-App Communications is
      charged to your Account in increments to be determined by Primo Connect in its sole discretion and subject to
      change at any time. Both In-App Communications and Out-of-App Communications features may be limited, suspended,
      blocked or
      restricted by geography, number, duration, or other criteria as determined solely by Primo Connect at any time in
      its sole discretion.</p>

    <p>(c) When your Primo Money balance is zero, you may not be able to make or send In-App Communications or
      Out-of-App
      Communications.</p>

    <p>(d) Please be aware that except as otherwise provided in these Terms Of Service, Primo Connect will be under no
      obligation to offer any refunds or reimbursements for the purchase price of any Primo Money you purchase from
      Primo Connect or any fees you pay to Primo Connect or to any third parties in connection with your use of
      Primo.</p>

    <p>(e) Primo Connect reserves the right to change its pricing and to institute new charges for Services at any time
      in its sole discretion. Primo Connect will provide notice of changes to its pricing by posting rates for Services
      on the Primo website or by other means of communicating with you, which may include notification to you through
      the Primo App. Your use of our Services following such notification constitutes your acceptance of any new or
      increased charges.</p>
  </blockquote>

  <p>You acknowledge and agree that: (i) you will use Primo only for yourself, with your true identity, and for lawful
    purposes; (ii) you may not transfer or assign (or grant a sub-license of) your Account or the Primo Number made
    available to you other than to Primo; and (iii) you will not engage in any activity that interferes with or disrupts
    the App or our Services.</p>

  <p>PRIMO MONEY IS NOT TRANSFERABLE. YOU ACKNOWLEDGE AND AGREE THAT (I) PRIMO MONEY IS REVOCABLE AND CANCELABLE LICENSE
    RIGHTS AND DOES NOT CONSTITUTE DIGITAL GOODS, CURRENCY, GIFT CERTIFICATES, STORED VALUE INSTRUMENTS, OR
    NON-CANCELABLE CREDITS OF ANY KIND; AND (II) YOU WAIVE, AND FOREVER RELEASE PRIMO CONNECT, ITS AFFILIATES, AND THEIR
    RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUCCESSORS AND ASSIGNS FROM, ALL CLAIMS, DAMAGES, LOSSES OR OTHER
    LIABILITY ARISING OUT OF ANY EXPIRATION OR TERMINATION OF PRIMO MONEY FOR ANY REASON.</p>

  <p>Primo Money may be reclaimed by us should your Primo Account be terminated for any reason. We may reclaim Primo
    Money that you received, purchased, or earned from Primo Connect if you have not used Primo Money for Services for a
    period of time to be determined by us in our sole discretion (&ldquo;Inactivity Period&rdquo; or &ldquo;Inactive&rdquo;).
    However, you may be eligible for a Primo Money Phase Out (described below) before Primo reclaims your Primo Connect
    Money.</p>

  <p>Primo Money Phase Out. If you have Primo Money in your Account, Primo Money may be deducted from your Account
    following an Inactivity Period, and in increments of Primo Money credits to be determined by us in our sole
    discretion
    (&ldquo;Primo Money Deduction&rdquo;). Following every Inactivity Period, Primo Money Deductions will be applied to
    your Account. Please visit the Primo FAQ at <a ui-sref="faq">https://www.primo.me/faq/</a> for more details
    regarding the Inactivity Period length and Primo Money Deductions.
    If you have insufficient Primo Money credits in your Account at any time during an Inactivity Period
    to satisfy the Primo Money Deduction, all of your remaining Primo Money credits will be deducted at the same time.
    In addition, if your Account has been Inactive for one hundred eighty (180) consecutive days, all of your remaining
    Primo
    Money credits will be deducted at the same time and your Account may be suspended and/or terminated in accordance
    with Section 22 of this Agreement. Please note that if you begin using Primo Money again during an
    Inactivity Period, you will not receive any refund or restoration of Primo Money credits.</p>

  <p>
    Primo Rate Plans. Primo may offer Services that will operate only after you have purchased and redeemed a Primo Rate
    Plan at designated retail locations, through the App, or online at the Primo website. Please visit our website at
    <a ui-sref="/">www.primo.me</a> for the latest information regarding our Primo Rate Plans.
  </p>
  <blockquote>
    <p>
      (a) Primo Rate Plans include pre-determined packages of minutes for Out-of-App Calls that can be used within
      specified countries and for limited periods of time, all at our sole discretion. Primo Rate Plans may be purchased
      at designated retail locations, online through Primo’s website or through the App. We may investigate and limit
      the
      number of Primo Rate Plans that you can purchase within a certain period of time, at our sole discretion. Please
      visit the Primo FAQ at www.primo.me/faq/ for more details regarding restrictions on the number of Primo Rate Plans
      that you may purchase. Primo Rate Plans themselves may be limited, suspended, blocked or restricted by geography,
      number, duration, or other criteria as determined solely by Primo Connect at any time and at its sole discretion.
      Primo Unlimited Rate Plans are subject to these Terms of Service and our Reasonable Use Policy available at
      <a target="_blank" ui-sref="rup()"> www.primo.me/reasonable-use-policy</a>, and feature up to two thousand (2,000)
      minutes each thirty (30) days for voice calls to no
      more than ten (10) unique phone numbers, as well as unlimited In-App Communications to other Primo users.
      We deduct minutes first from the balance in your Primo Rate Plan Account as they are used and before any balance
      of free minutes that you earned through Primo promotions, and we round up any fraction of a minute to the next
      full minute. Primo Rate Plans do not automatically renew. If you purchase a Primo Rate Plan but do not use all of
      the minutes available within the Primo Rate Plan for applicable Services within the specified period of time, the
      minutes in your Account will expire and will not rollover to any new Primo Rate Plan that you purchase. If your
      Primo Rate Plan expires, any unused minutes will not be reapplied to your Account. When you make a change to your
      Primo Rate Plan, the change takes effect immediately and any unused minutes will not be reapplied to your Account.
    </p>
    <p>
      (b) When the balance of minutes available in your Account is zero, you may not be able to make or send In-App
      Communications or Out-of-App Communications, and your use of Primo may be limited solely to peer-to-peer Services
      that can be accessed through the Mobile App or Web App by other Primo users.
    </p>
    <p>
      (c) Please be aware that except as otherwise provided in these Terms of Service, Primo Connect will be under no
      obligation to offer any refunds or reimbursements for the purchase price of a Primo Rate Plan that you purchase
      from Primo Connect or any fees that you pay to Primo Connect or to any third parties in connection with your use
      of Primo.
    </p>
    <p>
      d) Primo Connect reserves the right to change its pricing and to institute new charges for Primo Rate Plans at any
      time in its sole discretion. Primo Connect will provide notice of changes to its Primo Rate Plan pricing by
      posting rates on the Primo website or by other means of communicating with you, which may including notification
      to you through the App. Your use of our Services following such notification constitutes your acceptance of any
      new or increased charges.
    </p>
  </blockquote>

  <h2>14. Usernames, Primo Phone Numbers, and Primo Number Inactivity</h2>
  <p>We reserve the right to reclaim any Primo usernames and other unique IDs on behalf of businesses or individuals
    that
    we believe may have trademark rights or other legal claims to them.</p>

  <p>If Primo Connect provides a phone number (&ldquo;Primo Number&rdquo;) to you, you understand and agree that you do
    not own
    the number or have a right to keep that Primo Number forever. You acknowledge and agree that you do not have any
    rights to transfer the Primo Number or to use the Primo Number separate and apart from the App. Primo Connect may
    reclaim the Primo Number associated with your Account at any time and/or discontinue the Primo Number availability
    at any time, in each case in its sole discretion and without liability to you. Unless otherwise stated herein, Primo
    Connect will notify you before it changes, reclaims or discontinues your Primo Number.</p>

  <p>Primo Numbers may be reclaimed by us should your Primo Account be terminated for any reason. We may reclaim a Primo
    Number you received through Primo if you have not used applicable Services for a period of time to be determined by
    us in our sole discretion. Should you begin using the Services again, Primo Connect is not obligated under any
    circumstance to provide you with the same Primo Number that you previously used. Please note that if you begin using
    the Primo Number before we reclaim it, you will not receive any refund or restoration of Primo Money prepaid
    credits.</p>

  <h2>15. License</h2>
  <p>Subject to the terms and conditions of this Agreement, Primo Connect hereby grants you a limited, personal,
    revocable, non-exclusive, non-sublicensable, non-assignable license (&ldquo;License&rdquo;) to: (i) download,
    install and use the App on your Device for the sole purpose of personally using Primo; (ii) use the Primo Number
    made available to you for SMS messaging and voice features; and (iii) use Primo together with the App and Primo
    Number to access the Services described in these Terms Of Service. Unless Primo Connect has given you specific
    written permission to do so, you may not assign (or grant a sub-license of) your rights to use the App or otherwise
    transfer any part of your rights to use the App.</p>

  <p>You acknowledge and agree that: (i) while Primo enables SMS messaging, voice reception, and video communications
    features, it does not have all the capabilities of wired and wireless communication services and, as such, it is not
    a replacement for your wired or wireless phone or telephone service; (ii) certain features may be limited,
    suspended, blocked or restricted by geography, number, duration or other criteria at any time and without liability
    to you; and (iii) you are limited to use of one Primo Number made available by Primo Connect for making and
    receiving calls and for sending and receiving SMS messages and other Content as may be made available to you through
    the App.</p>

  <h2>16. Use of Primo</h2>
  <p>In order to prevent fraud and abuse of our Services, we publish a Reasonable Use Policy (&ldquo;Usage
    Policy&rdquo;) to make clear what is reasonable and allowed, and what is impermissible usage. The Usage Policy is
    available at www.primo.me/policy. You are responsible for your use of Primo, and for any use of Primo made using
    your Device. Please remember that any Content that you submit or otherwise communicate to or through Primo is your
    own responsibility and we expect you to take utmost care to ensure that it remains friendly, courteous, respectful
    of others and is in compliance with the Agreement. You are required to comply with all applicable laws in connection
    with your use of Primo and such further limitations as may be set forth in the Agreement and in any written or
    on-screen notice from Primo Connect.</p>

  <p><strong>(a) Normal, Reasonable Use.</strong> Primo (including our unlimited Services) is intended only for normal,
    personal, individual, non-commercial, and person-to person communications and use. Unauthorized or excessive use
    beyond that normally experienced by a typical individual may result in immediate service termination.</p>

  <p><strong>(b) Impermissible Uses.</strong> We evaluate your usage and general calling patterns in comparison to
    typical
    levels of permissible usage engaged in by legitimate customers. While not exhaustive, these are the types of voice
    and
    data uses that would be considered impermissible under our Usage Policy:</p>

  <ul>
    <li>allowing others to access your Primo Account and use your Services;</li>
    <li>operating a business or other enterprise, including any telemarketing;</li>
    <li>operating a call center or similar service or engaging in auto-dialing of any kind;</li>
    <li>reselling your Primo Money to others;</li>
    <li>setting up routing functionality such that only outbound long-distance traffic is sent via the App;</li>
    <li>engaging in continuous, repetitive or extensive call forwarding;</li>
    <li>engaging in continuous call session connectivity, including use of the App or our Services for continuous mobile
      to mobile or mobile to landline voice calls;
    </li>
    <li>using the App or our Services as a substitute or backup for private lines or dedicated data connections;</li>
    <li>uploading, downloading or streaming continuous video or audio;</li>
    <li>using the App or our Services in connection with server devices or host computer applications, including
      continuous Web camera posts or broadcasts, automatic data feeds, automated machine to machine connections, voice
      or
      SMS relay;
    </li>
    <li>using the App or our Services in connection with software or other devices that maintain continuously active
      Internet connections when a computer's connection would otherwise be idle, or &ldquo;keep alive functions&rdquo;
      (e.g., using the App or our Services for Web broadcasting, operating servers, telemetry devices and/or supervisory
      control and data acquisition devices);
    </li>
    <li>using the App or our Services to relay voice calls and text or picture messages not originated from your Device;
      or
    </li>
    <li>engaging in any other activity that would be inconsistent with reasonable personal use patterns or that causes
      network congestion.
    </li>
  </ul>

  <p><strong>(c) Other Practices.</strong> Other practices may be relevant in determining reasonable usage and we
    reserve
    the right to take any abnormal or unusual activity into account in making a determination. We may terminate a user’s
    Account or suspend his or her Services immediately if we determine that user is using the Services contrary to this
    Usage Policy or other policies. We also reserve the right to change this Usage Policy at any time, which change will
    become effective when a revised Usage Policy is posted to our website.</p>

  <p>By way of example, and not as a limitation, you also agree not to use Primo:</p>

  <ul>
    <li>to violate any law or regulation;</li>
    <li>to violate, misappropriate or infringe the intellectual property, privacy, or other rights of any person or
      entity;
    </li>
    <li>to transmit anything that is illegal, abusive, harassing, racist, hateful, defamatory, slanderous, libelous or
      otherwise objectionable in our sole opinion;
    </li>
    <li>to transmit images that are sexually explicit, pornographic, obscene, or otherwise objectionable in our sole
      opinion;
    </li>
    <li>in violation of the Agreement or other policies published by Primo Connect;</li>
    <li>to violate any contract, rules or policies that govern the use of your mobile device, as directed by your
      wireless
      carrier and mobile device manufacturer;
    </li>
    <li>to send unwanted messages, make unwanted calls or transmit unauthorized advertising or commercial
      communications,
      such as spam;
    </li>
    <li>to transmit any malicious or unsolicited software or links to files that contain viruses, malware, corrupted
      files, or any other similar software, programs or files;
    </li>
    <li>to stalk, harass, or harm another individual;</li>
    <li>to impersonate any person or entity, use a fictitious name, or misrepresent your affiliation with a person or
      entity;
    </li>
    <li>to violate any requirements, procedures, policies or regulations of networks connected to Primo;</li>
    <li>to interfere with or disrupt the proper working of Primo or any Services or functionality provided by Primo
      Connect; or
    </li>
    <li>to bypass any measures Primo Connect may use to prevent or restrict access to Primo (or other accounts, computer
      systems
      or networks connected to Primo).
    </li>
  </ul>

  <p>You shall not, directly or indirectly, do any of the following acts in connection with your use of Primo or the
    App:</p>

  <ul>
    <li>take any action that imposes or may impose (as determined by Primo Connect in its sole discretion) an
      unreasonable or disproportionately large load on Primo’s (or its third-party providers’) infrastructure;
    </li>
    <li>game, hack, reverse engineer, decompile, disassemble or otherwise attempt to discover the source code or
      underlying ideas or algorithms of Primo, our network, or the App;
    </li>
    <li>leverage the use of publicly available or personally developed tools, including but not limited to emulators,
      bots, or simulators to harvest, auto-register, or auto-create new accounts to circumvent our normal Account
      registration process;
    </li>
    <li>modify, translate, or create derivative works based on Primo or the App;</li>
    <li>rent, lease, distribute, license, sublicense, sell, resell, assign, or otherwise commercially exploit Primo or
      the
      App or make Primo or the App available to a third party other than as contemplated in the Agreement;
    </li>
    <li>create any link to Primo or the App or frame or mirror any content contained in or accessible from Primo or the
      App; or
    </li>
    <li>access Primo or the App in order to (a) benchmark against or build a competitive product or service, or (b) copy
      any ideas, features, functions, or graphics of Primo or the App.
    </li>
  </ul>

  <p>Primo Connect reserves the right to investigate and take appropriate action against anyone who, in Primo’s sole
    discretion, violates the Agreement. Any use or misuse of Primo in a manner that is disruptive, damaging, unlawful,
    offensive or intrusive as determined by Primo Connect, in its sole discretion, shall be a breach of the terms of the
    Agreement, which shall result in Primo Connect terminating the Agreement (and your Account) as described below.</p>

  <p>Primo Connect reserves the right to remove any Content at any time, for any reason (including, but not limited to,
    upon receipt of claims or allegations from third parties or authorities relating to such Content or if Primo Connect
    is concerned that you may have violated the Agreement) or for no reason at all.</p>

  <h2>17. Violations and Complaints</h2>
  <p>Despite our safety and privacy controls, we cannot guarantee that you will not encounter inappropriate or illegal
    conduct from other users of Primo. Consequently, if you encounter such content and/or conduct, you can help Primo
    Connect by notifying us of any inappropriate or illegal conduct or content (such as, nudity or pornography, or
    harassing statements, unwelcome contact or fraud) by submitting a help ticket within the App or by emailing <a
      href="mailto:support@primo.me">support@primo.me</a>. The reporting of complaints will be confidential and once a
    complaint is received, we will first acknowledge the receipt of your complaint and then take steps to address the
    complaint that may include, but is not limited to, removing the offending content or to warn or, as appropriate, to
    prevent those using Primo from transmitting such content or engaging in such conduct. We will also promptly provide
    you with an explanation of the steps taken to address the complaint.</p>

  <h2>18. Digital Millenium Copyright Act</h2>
  <p>It is Primo Connect’s policy to respect the intellectual property rights of others. If you are a copyright owner or
    an
    agent
    thereof and believe that any communication, Content or other material available through the App or our Services
    infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;)
    by providing our Copyright Agent with the following information in writing (see 17 U.S.C. § 512(c)(3) for further
    detail):</p>
  <ul>
    <li>a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right
      that
      is allegedly infringed;
    </li>
    <li>identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works
      available
      through the App or our Services are covered by a single notification, a representative list of such works;
    </li>
    <li>identification of the material that is claimed to be infringing or to be the subject of infringing activity and
      that is to be removed or access to which is to be disabled and information reasonably sufficient to permit Primo
      Connect to locate the material;
    </li>
    <li>information reasonably sufficient to permit Primo Connect to contact you, such as an address, telephone number,
      and, if available, an electronic mail address;
    </li>
    <li>a statement that you have a good faith belief that use of the material in the manner complained of is not
      authorized by the copyright owner, its agent, or the law; and
    </li>
    <li>a statement that the information in the notification is accurate, and under penalty of perjury, that you are
      authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
    </li>
  </ul>

  <p>Primo Connect's designated Copyright Agent to receive notifications of claimed infringement is: Joshua Silver,
    Esq.,
    Bernstein, Shur, Sawyer & Nelson, P.A., 100 Middle Street, Portland, ME 04101, or by email at copyright@primo.me.
    For
    clarity, only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical
    support, and other communications should be directed to Primo Connect customer service. You acknowledge that if you
    fail to comply with all of the requirements set forth above, your DMCA notice may not be valid.
  </p>
  <p>
    If you are the owner or an agent thereof, of material that was removed from the App or our Services or disabled
    after
    Primo Connect received a copyright infringement notice, and you have a good faith belief that the material was
    removed or
    disabled as a result of mistake or misidentification of the material, you may ask that the material be restored by
    sending Primo Connect a counter-notification. Section 512(g) of the Copyright Act requires that your
    counter-notification
    include all of the following:</p>

  <ul>
    <li>your physical or electronic signature;</li>
    <li>identification of the Content that has been removed or to which access has been disabled and the location at
      which
      the Content appeared before it was removed or disabled;
    </li>
    <li>a statement that you have a good faith belief that the Content was removed or disabled as a result of mistake or
      a misidentification of the Content; and
    </li>
    <li>your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of
      the
      federal court in Los Angeles, California, and a statement that you will accept service of process from the person
      who provided notification of the alleged infringement.
    </li>
  </ul>

  <p>If a counter-notice is received by the Copyright Agent, Primo Connect may send a copy of the counter-notice to the
    original
    complaining party informing that person that Primo Connect may replace the removed content or cease disabling it in
    10
    business days. Unless the copyright owner files an action seeking a court order against the content provider or
    user,
    and provides Primo Connect with notice of same, the removed content may be replaced, or access to it restored, in 10
    to 14
    business days or more after receipt of the counter-notice, at Primo Connect’s sole discretion.</p>

  <h2>19. License for Your Content</h2>
  <p>We require certain rights to the messages, information, data, text, images, graphics or other materials
    (collectively, the &ldquo;Content&rdquo;) that you transmit, post, make available, submit or otherwise communicate
    to
    or through Primo (&ldquo;Your Content&rdquo;) in order to operate certain features of Primo. We do not claim any
    ownership of the intellectual property rights in Your Content. As between Primo Connect and you, you own, or have
    the rights
    to, Your Content at all times. By submitting, transmitting, making available or posting Your Content through Primo,
    you grant us a world-wide, royalty free, perpetual, irrevocable and non-exclusive right and license to use and
    reuse,
    sublicense, reproduce, modify, adapt, publish, translate, distribute, perform and display all or any part of Your
    Content worldwide and/or to incorporate it in other works in any form, media, or technology now known or later
    developed for the purposes of operating and providing Primo.</p>

  <p>By transmitting, posting, making available, submitting or otherwise communicating Your Content to or through Primo
    and the App, you represent and warrant to Primo Connect that you own, have a license to or otherwise control all of
    the rights to Your Content, and that our use of Your Content (in accordance with the Agreement) will not infringe or
    violate the
    rights of any third party including, but not limited to, any privacy, publicity or intellectual property rights, or
    constitute violation of any applicable law. You agree to pay for all royalties, fees, and any other monies owing any
    person by reason of transmission of any of Your Content.</p>

  <p>You shall not have any right to terminate the licenses to Your Content granted in the Agreement, nor to seek,
    obtain,
    or enforce any injunctive or other equitable relief against Primo Connect in connection with its use of Your Content
    in
    accordance with the Agreement, all of which rights are hereby expressly and irrevocably waived by you in favor of
    Primo Connect.</p>

  <p>WE ARE NOT OBLIGATED TO BACK-UP ANY OF YOUR CONTENT AND YOU ACKNOWLEDGE AND AGREE THAT ANY OF YOUR CONTENT MAY BE
    DELETED AT ANY TIME. YOU ARE SOLELY RESPONSIBLE FOR CREATING BACK-UP COPIES OF YOUR CONTENT IF YOU DESIRE.</p>

  <h2>20. Third Party Content and Links</h2>
  <p>Primo may be supported by advertising revenue and may display advertisements and promotions provided by third party
    partners or providers. The manner, mode and extent of advertising on Primo are subject to change without specific
    notice to you. In consideration for Primo Connect granting you access to and use of Primo, you agree that Primo
    Connect may place or allow the placement of such advertising on Primo or within the App.</p>

  <p>Primo Connect may include, make available or display results, advertisements or other content (including data,
    information, applications and other products, services and/or materials) that contain(s) hyper-links to or
    suggestions or results for websites, locations, products, services or activities. Such websites, advertisements,
    products, services or activities are not created or controlled by Primo Connect (collectively, &ldquo;Third Party
    Services&rdquo;), are wholly independent from Primo Connect and as such are intended for convenience only. Primo
    Connect
    shall not be responsible for the contents of, updates to, or privacy practices of these third parties, which may
    differ from those of Primo Connect. You acknowledge and agree that Third Party Services are not under the control of
    Primo Connect, are in no way endorsed by Primo Connect and Primo Connect is not responsible for the content, use,
    accuracy, completeness, usefulness, timeliness, copyright compliance, availability, legality or any other aspect of
    such Third Party Services. The Personal Data you may choose to give to the providers of such Third Party Services
    are not covered by our Privacy Policy. Third Party Services may not be available in all languages or in all
    countries. Primo Connect makes no representation that such Third Party Services are appropriate or available for use
    in any particular location. To the extent you choose to access such Third Party Services, you do so at your own
    initiative and are responsible for compliance with any applicable laws, including, but not limited to, applicable
    local laws. Primo Connect, and its licensors, reserve the right to change, suspend, remove, or disable access to any
    Third Party Services at any time without notice. In no event will Primo Connect be liable for the removal of or
    disabling of access to any such Third Party Services. Primo Connect may also impose limits on the use of or access
    to certain Third Party Services, in any case and without notice or liability.</p>

  <h2>21. Notices and Consents</h2>
  <p>YOU AGREE AND CONSENT TO THE FOLLOWING (THE &ldquo;CONSENTS&rdquo;): (I) PRIMO CONNECT MAY SEND, AND THE APP MAY
    INCLUDE, SERVICE ANNOUNCEMENTS AND ADMINISTRATIVE MESSAGES TO YOU THROUGH THE APP OR TO YOUR WIRELESS NUMBER AND YOU
    WILL NOT BE ABLE TO OPT OUT OF RECEIVING THEM EXCEPT IN THE EVENT YOU TERMINATE YOUR RIGHTS AS PROVIDED BELOW; (II)
    BEHAVIORAL DATA MAY BE USED, SHARED, SUBLICENSED, OR SOLD TO THIRD PARTIES TO PROVIDE, IMPROVE, MONITOR, AND UPDATE
    THE APP OR OUR SERVICES AND TO PRESENT ADVERTISEMENTS AND THIRD PARTY SERVICES TO YOU FROM WITHIN THE APP; (III) THE
    APP MAY COLLECT AND TRANSMIT CONTACT INFORMATION FROM YOUR DEVICE TO PRIMO CONNECT FOR USE WITH THE APP; (IV) PRIMO
    CONNECT MAY ASSOCIATE THE PHONE NUMBERS AND CONTACT NAMES WITH CONTACTS FROM YOUR DEVICE WHEN YOU MAKE, SEND AND
    RECEIVE CALLS AND MESSAGES, INCLUDING BUT NOT LIMITED TO
    IDENTIFYING SUCH CONTACTS AS APP USERS AND IDENTIFYING YOU AS AN APP USER TO YOUR CONTACTS WHO ARE APP USERS; (V)
    PRIMO CONNECT MAY DISCLOSE ANY INFORMATION YOU PROVIDE TO LEGAL AUTHORITIES AS REQUIRED UNDER APPLICABLE LAW AND AS
    AUTHORIZED
    IN OUR PRIVACY POLICY; (VI) SUBJECT TO APPLICABLE LAW, PRIMO MAY TRANSFER YOUR PERSONAL DATA WITHIN AND WITHOUT THE
    WORLD, INCLUDING BUT NOT LIMITED TO THE EUROPEAN UNION AND THE UNITED STATES OF AMERICA; AND (VII) PRIMO CONNECT MAY
    PROCESS
    AND STORE YOUR PERSONAL DATA IN ANY COUNTRY IN THE WORLD. YOU REPRESENT AND WARRANT THAT YOU HAVE ALL NECESSARY
    RIGHTS
    TO GRANT ALL CONSENTS HEREIN AND THAT PRIMO CONNECT’S EXERCISE OF THE RIGHTS GRANTED BY YOU WILL NOT VIOLATE
    APPLICABLE LAW
    OR
    INFRINGE OR VIOLATE THE RIGHTS OF ANY PARTY.</p>

  <h2>22. Rights to Limit/Suspension/Termination</h2>
  <p>The term of the Agreement will commence, and you may begin using Primo once you agree to the Agreement. The
    Agreement
    is effective until terminated by you or us. Termination of the Agreement terminates the License. Primo Connect may
    terminate
    the License and/or disable use of the App and Services at any time, for any reason, and without any liability to you
    or any obligation to return amounts previously paid by you, if any. Your use of Services may be restricted,
    suspended,
    or terminated at any time, for any reason, and without any liability to you and without any obligation to return
    fees
    previously paid by you, if any.</p>

  <blockquote>
    <p>(a) Primo Connect shall affect such suspension or termination by providing notice to you to the wireless number
      or email
      address you have provided, by In-App notification, and/or by preventing your access to your Account. We reserve
      the
      right to terminate Accounts that have been inactive for more than one (6) months. Prior to termination of your
      Account due to inactivity, Primo will first suspend your Account for thirty (30) days, during which time you may
      send an email to <a href="mailto:support@primo.me">support@primo.me</a> in order reactivate your Account (the
      “Suspension Period”). After the Suspension Period, Primo will permanently deactivate your Account in accordance
      with this Agreement. For additional details
      about suspension and/or termination due to Account inactivity, please visit the Primo FAQ at
      <a ui-sref="faq">www.primo.me/faq/</a>.</p>

    <p>(b) You may terminate your Account for any reason, by sending an email to <a href="mailto:support@primo.me">support@primo.me</a>
      or by completing the applicable In-App Account help form, and by stating that you are terminating your use of the
      App. Except for rights of Primo Connect which survive expiration or termination, upon termination your Account
      will be
      terminated by the next business day (Monday through Friday, excluding US federal and California state holidays)
      and
      the license granted to you shall cease, your Personal Data will be deleted unless otherwise required by applicable
      law, any Primo Money or Primo Rate Plan associated with your use of the App will expire without refund or
      liability to you, and you
      shall promptly uninstall the App.</p>

    <p>(c) In the event Primo Connect terminates your Service for any reason as specified above or otherwise, we reserve
      the right to prohibit you from using Primo in the future by blocking the ability of your Device from accessing our
      network, prohibiting you from registering a new Primo Account, or through other means.</p>
  </blockquote>

  <h2>23. Ownership/Intellectual Property Rights</h2>
  <p>All copyright rights in the text, images, photographs, graphics, user interface, and other content provided on the
    App, and the selection, coordination, and arrangement of such content, are owned by Primo Connect, or its applicable
    third party licensors, to the full extent provided for under applicable copyright laws.</p>

  <p>All rights in the product names, company names, trade names, logos and designs of Primo or third party products or
    services that form part of Primo or the App, whether or not appearing in large print or with the trademark symbol,
    belong exclusively to Primo Connect or their respective owners, and are protected from reproduction, imitation,
    dilution or
    confusing or misleading uses under national and international trademark and copyright laws, as applicable. The use
    or
    misuse of these trademarks or any materials, except as permitted herein, is expressly prohibited and nothing stated
    or
    implied in this Agreement confers on you any license or right under any patent, copyright or trademark of Primo or
    any
    third party.</p>

  <h2>24. Privacy Information</h2>
  <p>Primo Connect’s policies and procedures with respect to its collection, use and disclosure of your Personal Data
    are
    governed
    by our privacy policy located online at <a ui-sref="privacyPolicy">http://www.primo.me/privacy-policy</a>
    (the &ldquo;Privacy
    Policy&rdquo;), which is incorporated into these Terms Of Service by reference. The Privacy Policy explains your
    rights
    and our responsibilities with regard to your Personal Data. We will not use your Personal Data in any way that is
    inconsistent with the purposes and limitations provided in the Privacy Policy or as otherwise consented or agreed to
    by you. We may change our Privacy Policy without notice; however, if we change our policy to allow use or disclosure
    of Personal Data in a way that, in our sole determination, is materially different from that stated in the policy at
    the time the data was collected, we will post notice in advance of the change. By using Primo and the App, you agree
    to abide by our Privacy Policy.</p>

  <h2>25. App Merchants</h2>
  <p>You acknowledge and agree that the availability of the Mobile App is dependent on the third party from which you
    downloaded or received the Mobile App (the &ldquo;App Merchant&rdquo;). You acknowledge that the Agreement is
    between you and Primo
    and not with the App Merchant. Primo Connect, not the App Merchant, is solely responsible for the Mobile App, the
    content
    thereof, maintenance, and support services. You agree to pay all fees charged by the App Merchant in connection with
    your download and use of the App (if any). You agree to comply with, and your License to use the App and Primo is
    conditioned upon your compliance with, all applicable third party terms of agreement when using the App. You
    acknowledge that to the maximum extent permissible by law, the App Merchant (and its subsidiaries) are third party
    beneficiaries of this Agreement and will have the right to enforce this Agreement.</p>

  <h2>26. Disclaimers of Warranties</h2>
  <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, PRIMO, THE APP AND THE SERVICES ARE PROVIDED &ldquo;AS IS&rdquo; WITH NO
    WARRANTIES OR
    CONDITIONS WHATSOEVER; PRIMO CONNECT DOES NOT MAKE ANY WARRANTIES, CLAIMS, CONDITIONS OR REPRESENTATIONS WITH
    RESPECT TO PRIMO INCLUDING, BUT NOT LIMITED TO THE APP AND THE SERVICES, WHETHER EXPRESSED OR IMPLIED, INCLUDING,
    WITHOUT LIMITATION, WARRANTIES OR CONDITIONS OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS
    FOR USE FOR A PARTICULAR PURPOSE. PRIMO CONNECT FURTHER DOES NOT REPRESENT OR WARRANT THAT PRIMO, THE APP OR THE
    SERVICES WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE OR ERROR-FREE, OR
    THAT PRIMO, THE APP OR THE SERVICES WILL OPERATE WITHOUT PACKET LOSS, NOR DOES PRIMO CONNECT WARRANT ANY CONNECTION
    TO OR TRANSMISSION FROM THE INTERNET, OR ANY QUALITY OF COMMUNICATIONS MADE THROUGH PRIMO. THIS WAIVER AND
    LIMITATION ALSO APPLIES TO ANY CLAIMS YOU MAY BRING AGAINST ANY OTHER PARTY TO THE EXTENT THAT WE WOULD BE REQUIRED
    TO INDEMNIFY THAT PARTY FOR SUCH CLAIM. YOU AGREE WE ARE NOT LIABLE FOR PROBLEMS CAUSED BY YOU OR A THIRD PARTY.
    EXCEPT TO THE EXTENT PROHIBITED BY LAW, ALL CLAIMS ASSERTED BY YOU AGAINST PRIMO CONNECT MUST BE BROUGHT WITHIN TWO
    (2) YEARS OF THE DATE THE CLAIM ARISES.</p>

  <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE DISCLAIM ANY RESPONSIBILITY FOR THE DELETION, THE FAILURE TO STORE, THE
    MISDELIVERY, OR THE UNTIMELY DELIVERY OF ANY INFORMATION OR MATERIAL INCLUDING, WITHOUT LIMITATION, ANY OF YOUR
    CONTENT. WE DISCLAIM ANY RESPONSIBILITY FOR ANY HARM RESULTING FROM DOWNLOADING OR ACCESSING ANY CONTENT THROUGH
    PRIMO
    OR THE APP. BY USING PRIMO OR THE APP, YOU ACKNOWLEDGE AND AGREE THAT TECHNICAL PROCESSING AND TRANSMISSION OF
    INFORMATION USING PRIMO MAY INVOLVE TRANSMISSIONS OVER VARIOUS NETWORKS AND CHANGES TO CONFORM AND ADAPT TO
    TECHNICAL
    REQUIREMENTS OF CONNECTING NETWORKS OR DEVICES. PRIMO CONNECT IS NOT RESPONSIBLE OR LIABLE FOR ANY: (I) INCORRECT OR
    INACCURATE TRANSCRIPTION OF INFORMATION; (II) HUMAN ERROR OR PRINTING ERROR; (III) INTERRUPTION, DELETION, OMISSION,
    DEFECT, OR LINE FAILURE OF ANY TELEPHONE NETWORK OR ELECTRONIC TRANSMISSION; (IV) PROBLEMS RELATING TO YOUR DEVICE
    OR
    ANY OTHER COMPUTER EQUIPMENT, SOFTWARE, OR INABILITY TO ACCESS THE APP OR PRIMO; OR (V) OTHER TECHNICAL OR
    NON-TECHNICAL ERROR OR MALFUNCTION.</p>

  <p>YOU ACKNOWLEDGE AND AGREE THAT: (I) PRIMO CANNOT TRANSMIT COMMUNICATIONS OR OTHER ELECTRONIC REQUESTS TO DEVICES
    THAT
    ARE UNREACHABLE (E.G, OUT OF CELLULAR COVERAGE, POWERED OFF, ETC.); AND (II) THAT PRIMO IS NOT A SERVICE TO BE
    RELIED
    UPON AS THE SOLE MEANS OF RECEIVING CRITICAL INFORMATION.</p>

  <p>THE APP AND OUR SERVICES ARE CONTROLLED AND OFFERED BY PRIMO CONNECT FROM ITS OFFICES IN THE UNITED STATES OF
    AMERICA, AND PRIMO CONNECT MAKES NO REPRESENTATIONS OR WARRANTIES THAT THE APP OR THE SERVICES ARE APPROPRIATE,
    LEGAL OR AVAILABLE IN OTHER
    JURISDICTIONS. THOSE WHO ACCESS OR USE THE APP OR OUR SERVICES FROM OTHER JURISDICTIONS DO SO AT THEIR OWN RISK AND
    ARE RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAW.</p>
  <p>IF YOU ARE DISSATISFIED WITH THE APP OR ANY OF OUR SERVICES, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING
    THE APP AND SERVICES.</p>

  <h2>27. Limitation of Liability</h2>
  <p>YOU AGREE THAT PRIMO CONNECT WILL NOT BE LIABLE FOR ANY LOST PROFITS, LOSS OF DATA, COSTS OF PROCUREMENT OF
    SUBSTITUTE
    GOODS
    OR SERVICES, OR FOR THE ACTIONS OF THIRD PARTIES IN CONNECTION WITH THE APP OR OUR SERVICES. IN NO EVENT WILL PRIMO
    CONNECT
    AND ITS SUPPLIERS AND RESELLERS BE LIABLE TO YOU FOR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL, INDIRECT, PUNITIVE OR
    EXEMPLARY DAMAGES OR LOSSES ARISING OUT OF OR RELATING TO USE OF OR INABILITY TO USE THE APP OR THE SERVICES,
    HOWEVER
    CAUSED AND UNDER ANY THEORY OF LIABILITY, EVEN IF SUCH PERSON HAS BEEN ADVISED OF, OR OTHERWISE MIGHT HAVE
    ANTICIPATED, THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL PRIMO CONNECT’S TOTAL LIABILITY TO YOU FOR ALL
    DAMAGES,
    LOSSES
    AND OTHER LIABILITY EXCEED THE AMOUNT OF TEN DOLLARS (U.S. $10.00). NOTHING HEREIN SHALL EXCLUDE OR LIMIT LIABILITY
    FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW.</p>

  <h2>28. Indemnification</h2>
  <p>YOU AGREE TO INDEMNIFY, DEFEND AND HOLD PRIMO CONNECT HARMLESS FROM AND AGAINST ANY AND ALL LOSSES, CLAIMS,
    LIABILITIES, DAMAGES, COSTS, AND EXPENSES (INCLUDING TAXES, FEES, FINES, PENALTIES, INTEREST, EXPENSES OF
    INVESTIGATION AND ATTORNEYS’ FEES AND DISBURSEMENTS) INCURRED BY PRIMO CONNECT, IN CONNECTION WITH OR ARISING OUT OF
    YOUR: (I) VIOLATION OR BREACH OF ANY TERM OF THE AGREEMENT OR ANY APPLICABLE LAW OR REGULATION, WHETHER OR NOT
    REFERENCED HEREIN; (II) VIOLATION OF ANY RIGHTS OF ANY THIRD-PARTY; (III) USE OR MISUSE OF THE APP AND/OR PRIMO BY
    YOU OR ANY PERSON ON YOUR ACCOUNT THAT YOU ALLOW TO USE YOUR DEVICE; OR (IV) YOUR CONTENT.</p>

  <h2>29. Enforceability and Assignment</h2>
  <p>If we do not enforce our rights under any provisions of the Agreement, we may still require strict compliance in
    the
    future. If any part of the Agreement is held invalid, unlawful or unenforceable, then that part may be severed from
    the Agreement, and the other provisions of the Agreement will remain in full force and effect. You cannot assign the
    Agreement or any of your rights or duties under it without our written consent. Any determination made by us
    pursuant
    to the Agreement, shall be in our sole reasonable discretion. The provisions of the Agreement which by their sense
    and
    context are intended to survive the termination of the Agreement shall so survive and continue to bind the parties.
    Without limiting the generality of the foregoing, Primo Connect and you agree that the following provisions of these
    Terms of Service shall survive: Sections 4, 9, 16, 18-19, 21, and 26-32.</p>

  <h2>30. Entire Agreement</h2>
  <p>These Terms Of Service, together with the Privacy Policy, Reasonable Use Policy, and any other supplemental terms
    and conditions that we provide or otherwise make available to you, constitute the entire agreement between you and
    Primo Connect with respect to the subject matter hereof and will supersede and replace all prior understandings and
    agreements, in whatever form, regarding such subject matter.</p>

  <h2>31. Waiver</h2>
  <p>Any waiver of any right or remedy under this Agreement must be in writing and signed by each party. No delay in
    exercising any right or remedy shall operate as a waiver of such right or remedy or any other right or remedy. A
    waiver on one occasion shall not be construed as a waiver of any right or remedy on any future occasion.</p>

  <h2>32. Choice of Law; Venue</h2>
  <p>This Agreement is governed by the Federal Arbitration Act, applicable federal law, and the laws of the State of
    Delaware, without regard to the conflicts of laws rules of that state. Foreign laws do not apply. Arbitration or
    court
    proceedings must be in the State of Delaware and each party consents to (i) Delaware as the exclusive site for any
    arbitration proceedings arising out of or relating to the Agreement or its subject matter, and (ii) if the parties
    proceed to court notwithstanding the obligation to arbitrate disputes as provided in Section 4 of these Terms of
    Service,
    the exclusive jurisdiction of, and venue in, any of the federal or state courts of competent jurisdiction located in
    the State of Delaware.</p>

  <h2>33. Contact</h2>
  <p>Should you have any questions concerning the Agreement or the Services operated and provided by Primo Connect,
    contact us at:</p>

  <p>Primo Connect, Inc.<br/>Email:<a href="mailto:support@primo.me">support@primo.me</a></p>
</div>