<div layout-padding="" layout-xs="column" layout="row" id="rate-plans" layout-align="center center">
  <md-card>
    <md-card-title>
      <md-card-title-media>
        <img src="resources/images/add-credit/primo_credit_premium_rate_plan.png" alt="plan">
      </md-card-title-media>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
      <h1 class="md-headline rate-plan">{{"PRIMO_RATE_PLAN" | translate}}</h1>
      <p layout-padding="">
        {{"PRIMO_RATE_PLAN_DESC1" | translate}}
        <a target="_blank" href="{{publicURLs.plans_info}}">
          {{"PRIMO_RATE_PLAN_DESC_LINK_DESC" | translate}}
        </a>{{"PRIMO_RATE_PLAN_DESC2" | translate}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ui-sref="purchase" ng-disabled="true" class="rate-plan">{{"SELECT_RATE_PLAN" | translate}}</md-button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-media>
        <img src="resources/images/add-credit/primo_credit_icon.png" alt="plan">
      </md-card-title-media>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
      <h1 class="md-headline credit">{{"PRIMO_CREDIT" | translate}}</h1>
      <p layout-padding="">
        {{"PRIMO_CREDIT_DESC1" | translate}}<a target="_blank" href="{{publicURLs.rate_sheet}}">{{"PRIMO_CREDIT_DESC_LINK_DESC"
        | translate}}</a>{{"PRIMO_CREDIT_DESC2" | translate}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ui-sref="purchase" class="credit">{{"BUY_PRIMO_CREDIT" | translate}}</md-button>
    </md-card-actions>
  </md-card>
</div>