<!-- main content starts -->
  <div class="notification">
    <div class="container">
      <!-- notification tabs start -->
      <div class="tab_mrkt_details">
        <div class="col-sm-3">
          <div class="profile-info">
            <div class="info">
              <div class="profile-edit-button">
                <a href="javascript:void(0)" ng-click="changeProfilePictureClickedEvent()"><i class="fa fa-edit" aria-hidden="true"></i></a>
              </div>
              <div class="profile-img">
                <img src="resources/images/notifications-image1.png" alt="user.first_name" width="auto" height="100%" ng-if="!user.image" />

                <img ng-src="{{ config.primo.profileImagePath + user.image }}" alt="user.first_name" width="auto" height="100%" ng-if="user.image" />

              </div>
              <div class="profile-name"><p>Hi, {{user.first_name}} {{user.last_name}}</p></div>
            </div>
          
            <ul class="profile__menu">
              <li><a href="javascript:void(0)">View my contents<br/>(Textbooks, Event & More..)</a></li>
              <li><a ng-click="updateProfilePop()">Edit my profile</a></li>
              <li><a ng-click="AddEventHostPopup()">Add Host for events</a></li>
              <li><a ng-click="inviteFriends()">Invite friends</a></li>
            </ul>
          </div>
        </div>
        <!-- tab content starts -->
        <div class="col-sm-9">          
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#text_book">Text Book</a></li>
            <li><a data-toggle="tab" href="#events">Events</a></li>
            <!-- <li><a data-toggle="tab" href="#classified">Classified</a></li> -->
            <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
          </ul>
          <div class="tab-content content_data">
            <div id="text_book" class="tab-pane fade in active no_border">
              <button class="btn btn-success add-btn" ng-click="userAddBooksPopup()">+</button>
              <ul>
                <li class="bg_white padding__0" ng-repeat="item in user.books">
                  <div class="content_img">
                      <a href="book/{{item.slug}}">
                        <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />

                        <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  

                      </a>
                  </div>
                  <div class="content_info">
                    <div class="info_body">
                      <p>{{item.created_at}}</p>
                      <p class="cont_tilte">{{item.title.length > 50 ? item.title.substr(0,50)+"..." : item.title}}</p>
                      <p>Author : {{item.author}}</p>
                    </div>
                    <div class="info__bottom">
                      <ul class="text-right">
                        <li>
                          <a confirmed-click="userDeleteBooks(item.id)" ng-confirm-click="Are you sure?">
                          <img src="resources/images/del_icon.png" /></a>
                        </li>
                        <li><a ng-click="userUpdateBooksPopup(item.id)"><img src="resources/images/edit_icon.png" /></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <button class="btn btn-success" ng-disabled="is_books_disable" ng-click="userBooksLoadMore()">Load More</button>
            </div>
            <div id="events" class="container_block tab-pane fade">
              <p>Events</p>
              <button class="btn btn-success add-btn" ng-click="userAddEventsPopup()">+</button>
              <ul>
                <li class="bg_white padding__0" ng-repeat="item in user.events">
                  <div class="content_img">
                      <a href="event/{{item.slug}}">
                        <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />

                        <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  

                      </a>
                  </div>
                  <div class="content_info">
                    <div class="info_body">
                      <p>{{item.created_at}}</p>
                      <p class="cont_tilte">{{item.title.length > 50 ? item.title.substr(0,50)+"..." : item.title}}</p>
                      <p>Address : {{item.title.address > 50 ? item.address.substr(0,50)+"..." : item.address}}</p>
                    </div>
                    <div class="info__bottom">
                      <ul class="text-right">
                        <li>
                          <a confirmed-click="userDeleteEvents(item.id)" ng-confirm-click="Are you sure?">
                          <img src="resources/images/del_icon.png" /></a>
                        </li>
                        <li><a ng-click="userUpdateEventsPopup(item.id)"><img src="resources/images/edit_icon.png" /></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <button class="btn btn-success" ng-disabled="is_events_disable" ng-click="userEventsLoadMore()">Load More</button>
            </div>
            <div id="classified" class="container_block tab-pane fade">
              <p>Classified</p>
              <button class="btn btn-success add-btn" ng-click="userAddClassifiedPopup()">+</button>
              <ul>
                <li class="bg_white padding__0" ng-repeat="item in user.classified">
                  <div class="content_img">
                      <a href="classified/{{item.slug}}">
                        <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />

                        <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  

                      </a>
                  </div>
                  <div class="content_info">
                    <div class="info_body">
                      <p>{{item.created_at}}</p>
                      <p class="cont_tilte">{{item.title.length > 50 ? item.title.substr(0,50)+"..." : item.title}}</p>
                      <p>Description : {{item.description.address > 50 ? item.description.substr(0,50)+"..." : item.address}}</p>
                    </div>
                    <div class="info__bottom">
                      <ul class="text-right">
                        <li>
                          <a confirmed-click="userDeleteClassified(item.id)" ng-confirm-click="Are you sure?">
                          <img src="resources/images/del_icon.png" /></a>
                        </li>
                        <li><a ng-click="userUpdateClassifiedPopup(item.id)"><img src="resources/images/edit_icon.png" /></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <button class="btn btn-success" ng-disabled="is_classified_disable" ng-click="userClassifiedLoadMore()">Load More</button>
            </div>
            <div id="jobs" class="container_block tab-pane fade">
              <p>jobs</p>
              <button class="btn btn-success add-btn" ng-click="userAddJobsPopup()">+</button>
              <ul>
                <li class="bg_white padding__0" ng-repeat="item in user.jobs">
                  <div class="content_img">
                      <a href="job/{{item.slug}}">
                        <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />

                        <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  

                      </a>
                  </div>
                  <div class="content_info">
                    <div class="info_body">
                      <p>{{item.created_at}}</p>
                      <p class="cont_tilte">{{item.title.length > 50 ? item.title.substr(0,50)+"..." : item.title}}</p>
                      <p>Job Location : {{item.job_location}}</p>
                    </div>
                    <div class="info__bottom">
                      <ul class="text-right">
                        <li>
                          <a confirmed-click="userDeleteJobs(item.id)" ng-confirm-click="Are you sure?">
                          <img src="resources/images/del_icon.png" /></a>
                        </li>
                        <li><a ng-click="userUpdateJobsPopup(item.id)"><img src="resources/images/edit_icon.png" /></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <button class="btn btn-success" ng-disabled="is_jobs_disable" ng-click="userJobsLoadMore()">Load More</button>
            </div>
          </div><!-- tab content ends -->
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- market tabs end -->
    </div>
  </div>  
    
      
      
<!-- main content ends -->

