<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Add Host</h4>
</div>
<div class="modal-body">
    <form ng-submit="AddEventHost()" enctype="multipart/form-data">
          <div class="form-group">
              <label for="Host Name">Host Name</label>
              <input type="text" name="title" ng-model="host.host_name" class="form-control" placeholder="Host Name" required /> 
          </div>

          <div class="form-group">
              <label for="Organizer Name">Organizer Name</label>
              <input type="text" name="title" ng-model="host.organizer_name" class="form-control" placeholder="Organizer Name" required /> 
          </div>

          <div class="form-group">
              <label for="Organizer Phone">Organizer Phone</label>
              <input type="text" name="title" ng-model="host.organizer_phone" class="form-control" placeholder="Organizer Phone" required /> 
          </div>
          
          <div class="form-group">
              <label for="Organizer Email">Organizer Email</label>
              <input type="text" name="title" ng-model="host.organizer_email" class="form-control" placeholder="Organizer Email" required /> 
          </div>

          <div class="form-group">
              <label for="Organizer Website">Organizer Website</label>
              <input type="text" name="title" ng-model="host.organizer_website" class="form-control" placeholder="Organizer Website" required /> 
          </div>

          <div class="form-group">
              <label for="Organizer About">Organizer About</label>
              <textarea rows="5" class="form-control" ng-model="host.organizer_about" required></textarea>
          </div>
          
          <div class="form-group">
              <button class="btn btn-outline btn-primary" type="submit">Create</button>
          </div>

          <div class="form-group">
            <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
              {{error}}
            </div>
          </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>