<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Add Jobs</h4>
</div>
<div class="modal-body">
    <form ng-submit="userAddJob()" enctype="multipart/form-data">
          <div class="form-group">
              <label for="Title">Title</label>
              <input type="text" name="title" ng-model="job.title" class="form-control" placeholder="Title" required /> 
          </div>

          <div class="form-group">
              <label for="recruiter_website">Recruiter website</label>
              <input type="text" name="recruiter_website" ng-model="job.recruiter_website" class="form-control" placeholder="Recruiter website" required /> 
          </div>
          
          <div class="form-group">
              <label for="School">Maximum Experience required</label>
              <select ng-model="job.max_experience" data-placeholder="Choose a Experience required" class="form-control">
                  <option ng-repeat="(key,value) in job_experince_array" value="{{key}}" >{{value}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="School">Minimum Experience required</label>
              <select ng-model="job.min_experience" data-placeholder="Choose a Experience required" class="form-control">
                  <option ng-repeat="(key,value) in job_experince_array" value="{{key}}" >{{value}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="job_location">Job location</label>
              <input type="text" name="job_location" ng-model="job.job_location" class="form-control" placeholder="Job location" required /> 
          </div>

          <!-- <div class="form-group">
              <label for="job_location">Job location</label>
              <input type="text" name="job_location" ng-model="job.job_location" class="form-control" placeholder="Job location" required /> 
          </div> -->

          <div class="form-group">
              <label for="In Campus">In Campus</label>
              <select ng-model="job.in_campus" data-placeholder="In Campus" class="form-control">
                  <option ng-repeat="(key,value) in in_campus_array" value="{{key}}" >{{value}}</option>
              </select>
          </div>          

          <div class="form-group">
              <label for="School">Salary Type</label>
              <select ng-model="job.salary_type" data-placeholder="Salary Type" class="form-control">
                  <option ng-repeat="(key,value) in job_salary_type_array" value="{{key}}" >{{value}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="max_salary">Max Salary</label>
              <input type="text" name="max_salary" ng-model="job.max_salary" class="form-control" placeholder="Max Salary" required /> 
          </div>

          <div class="form-group">
              <label for="Job type">Job Type</label>
              <select ng-model="job.job_type" data-placeholder="Job Type" class="form-control">
                  <option ng-repeat="(key,value) in job_types" value="{{key}}" >{{value}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="Industry">Industry</label>
              <select ng-model="job.industry" data-placeholder="Industry" class="form-control">
                  <option ng-repeat="(key,value) in industries" value="{{key}}" >{{value}}</option>
              </select>
          </div>
          
          <div class="form-group">
              <label for="Status">Status</label>
              <select ng-model="job.status" class='form-control'>
                  <option value="0">Inactive</option>
                  <option value="1">Active</option>
              </select>
          </div>

          <!-- <div class="form-group">
              <label for="School" >Category</label>
              <select ng-model="job.job_category" data-placeholder="Choose a Category" class="form-control">
                  <option ng-repeat="option in jobCategories" value="{{option.id}}" ng-disabled="option.parent == 0" >{{option.title}}</option>
              </select>
          </div> -->
          
          <div class="form-group">
              <label for="Image">Image</label>
              <input type="file" name="image" file-model="job.image" class="form-control" required/>
          </div>

          <div class="form-group">
              <label for="Description">Description</label>
              <textarea rows="5" class="form-control" ng-model="job.description" required></textarea>
          </div>
          
          <div class="form-group">
              <button class="btn btn-outline btn-primary" type="submit">Create</button>
          </div>

          <div class="form-group">
            <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
              {{error}}
            </div>
          </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>