<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Add Events</h4>
</div>
<div class="modal-body">
    <form ng-submit="userAddEvent()" enctype="multipart/form-data">
          <div class="form-group">
              <label for="Title">Title</label>
              <input type="text" name="title" ng-model="event.title" class="form-control" placeholder="Title" required /> 
          </div>

          <div class="form-group">
              <label for="Host" >Host</label>
              <select ng-model="event.host_id" data-placeholder="Choose a Host" class="form-control">
                  <option ng-repeat="option in hosts" value="{{option.id}}">{{option.host_name}}</option>
              </select>
          </div>

          <div class="form-group">
              <label for="Start Date" class="">Start Date</label>
              <div class='input-group date' id='datetimepicker1' ng-model="event.start_date">
                  <input type='text' class="form-control" name="start_date" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                  {{event.start_date}}
              </div>
          </div>
          
          <div class="form-group">
              <label for="End Date" class="">End Date</label>
              <div class='input-group date' id='datetimepicker2' ng-model="event.end_date">
                  <input type='text' class="form-control" name="end_date" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div> 
          </div>

          <div class="form-group">
              <label for="Select Event Condition">Select Event Type</label>
              <select ng-model="event.event_type" class='form-control'>
                  <option value="School event">School event</option>
                  <option value="Other event">Other event</option>
              </select> 
          </div>

          <div class="form-group">
              <label for="Venue Title">Venue Title</label>
              <input type="text" name="venue" ng-model="event.venue_title" class="form-control" placeholder="Venue Title" required /> 
          </div>

          <div class="form-group">
              <label for="Address">Address</label>
              <input type="text" name="address" ng-model="event.address" class="form-control" placeholder="Address" required /> 
          </div>

          <div class="form-group">
              <label for="website">Website</label>
              <input type="text" name="website" ng-model="event.website" class="form-control" placeholder="Website" required /> 
          </div>
          
          <div class="form-group">
              <label for="Status">Status</label>
              <select ng-model="event.status" class='form-control'>
                  <option value="0">Inactive</option>
                  <option value="1">Active</option>
              </select>
          </div>

          <div class="form-group">
              <label for="Image">Image</label>
              <input type="file" name="image" file-model="event.image" class="form-control" required/>
          </div>

          <div class="form-group">
              <label for="Description">Description</label>
              <textarea rows="5" class="form-control" ng-model="event.description" required></textarea>
          </div>
          
          <div class="form-group">
              <button class="btn btn-outline btn-primary" type="submit">Create</button>
          </div>

          <div class="form-group">
            <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
              {{error}}
            </div>
          </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
<script type="text/javascript">
  $(function(){
    $('#datetimepicker1').datetimepicker({minDate: new Date(),format:'YYYY-MM-DD HH:MM A'});
    $('#datetimepicker2').datetimepicker({minDate: new Date(),format:'YYYY-MM-DD HH:MM A'});
  });
</script>