<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Edit Profile Picture</h4>
</div>
<div class="modal-body">
    <form ng-submit="changeProfilePicture()" enctype="multipart/form-data">
    	<div class="form-group">
    		<input type="file" file-model="image" id="profile_image" accept="image/png,image/jpg,image/jpeg" />
      	</div>

      <div class="form-group">
          <button class="btn btn-outline btn-primary" type="submit">Update Image</button>
      </div>

      <div class="form-group">
        <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
          {{error}}
        </div>
      </div>
     </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>