<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Edit Profile</h4>
</div>
<div class="modal-body">
    <form ng-submit="updateProfile()" enctype="multipart/form-data">
          <div class="form-group">
              <label for="First Name">First Name</label>
              <input type="text" name="title" ng-model="user.first_name" class="form-control" placeholder="First Name" required /> 
          </div>

          <div class="form-group">
              <label for="Last Name">Last Name</label>
              <input type="text" name="title" ng-model="user.last_name" class="form-control" placeholder="Last Name" required /> 
          </div>

          <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" name="email" ng-model="user.email" class="form-control" disabled="true" /> 
          </div>
          
          <div class="form-group">
              <label for="Author">Birthday</label>
              <input type="date" name="author" ng-model="user.birthday" value="{{user.birthday}}" class="form-control" placeholder="Birthday" /> 
          </div>

          <div class="form-group">
              <label for="Select Gender">Gender</label>
              <select ng-model="user.gender" class='form-control'>
                  <option value="0" ng-selected="user.gender == 0">Male</option>
                  <option value="1" ng-selected="user.gender == 1">Female</option>
              </select> 
          </div>

          <div class="form-group">
              <button class="btn btn-outline btn-primary" type="submit">Update</button>
          </div>

          <div class="form-group">
            <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
              {{error}}
            </div>
          </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>