<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" ng-click="cancel()" id="myModalLabel">Edit Classified</h4>
</div>
<div class="modal-body">
    <form ng-submit="userUpdateBook()" enctype="multipart/form-data">
          <div class="form-group">
              <label for="Title">Title</label>
              <input type="text" name="title" ng-model="book.title" class="form-control" placeholder="Title" required /> 
          </div>

          <div class="form-group">
              <label for="Book ISBN Number">Book ISBN Number</label>
              <input type="text" name="book_number" ng-model="book.book_number" class="form-control" placeholder="Book Number" required /> 
          </div>
          
          <div class="form-group">
              <label for="Author">Author</label>
              <input type="text" name="author" ng-model="book.author" class="form-control" placeholder="Author" required /> 
          </div>

          <div class="form-group">
              <label for="Author">Price</label>
              <input type="text" name="author" ng-model="book.price" class="form-control" placeholder="Price" required /> 
          </div>

          <div class="form-group">
              <label for="Select Book Condition">Select Book Condition</label>
              <select ng-model="book.condition" class='form-control'>
                  <option value="0" ng-selected="book.condition ==0">New</option>
                  <option value="1" ng-selected="book.condition ==1">Used</option>
              </select> 
          </div>

          <div class="form-group">
              <label for="Select Trade Type">Select Trade Type</label>
              <select ng-model="book.trade_type" class='form-control'>
                  <option value="0" ng-selected="book.trade_type == 0">Money Transaction</option>
                  <option value="1" ng-selected="book.trade_type == 1">Money & Trade</option>
                  <option value="2" ng-selected="book.trade_type == 2">Trade</option>
              </select> 
          </div>

          <div class="form-group">
              <label for="Book ISBN Number">Select Sold Type</label>
              <select ng-model="book.sold" class='form-control'>
                  <option value="0" ng-selected="book.sold == 0">Want to sell</option>
                  <option value="1" ng-selected="book.sold == 1">Sold</option>
              </select>
          </div>

          <div class="form-group">
              <label for="Status">Status</label>
              <select ng-model="book.status" class='form-control'>
                  <option value="0" ng-selected="book.status == 0">Inactive</option>
                  <option value="1" ng-selected="book.status == 1">Active</option>
              </select>
          </div>

          <div class="form-group">
              <label for="School" >Category</label>
              <select ng-init="book.book_category=bookCategories" ng-model="book.book_category" data-placeholder="Choose a Category" class="form-control">
                  <option ng-repeat="option in bookCategories" value="{{option.id}}" ng-disabled="option.parent == 0" ng-selected="option.id == book.book_category" >{{option.title}}</option>
              </select>
          </div>
          
          <div class="form-group">
              <label for="Image">Image</label>
              <input type="file" name="image" file-model="book.image" class="form-control"/>
              <br>
              <img ng-src="{{ config.primo.smallImagePath + image_preview }}" alt="{{book.title}}" height="auto" ng-if="image_preview" width="80" />
              <img ng-src="{{config.primo.noImagePath}}" ng-if="!image_preview" width="80" />  
          </div>

          <div class="form-group">
              <label for="Description">Description</label>
              <textarea rows="5" class="form-control" ng-model="book.description" required></textarea>
          </div>
          
          <div class="form-group">
              <button class="btn btn-outline btn-primary" type="submit">Update</button>
          </div>

          <div class="form-group">
            <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
              {{error}}
            </div>
          </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>