<!-- banner starts -->
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-12 row banner_content">
					<div class="banner_title">
						<h1>Discover the schools that are right for you.</h1>
					</div>
					<div class="banner_form school_banner_form">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#buy">Places to Live</a></li>
							<li class="active"><a data-toggle="tab" href="#sell">K-12</a></li>
							<li><a data-toggle="tab" href="#sell">Colleges</a></li>
						</ul>
						<div class="tab-content">
							<div id="buy" class="tab-pane fade in active">
								<form ng-submit="searchCollegeForm(search)">
									<input type="text" ng-model="search.title" placeholder="Enter a college or University" required />
									<select ng-model="search.state">
					                 <option value="" selected>Select State</option>
					                <option ng-value="state.abbr" ng-repeat="state in states">{{state.name}}</option>
					              </select>
									<select ng-model="search.country">
						                 <option value="" selected>Select County</option>
						                <option ng-value="item.county_name" ng-repeat="item in county_name">{{item.county_name}}</option>
						              </select>
									<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search" ng-click="searchCollegeForm(search)"></span>Search</button>
								</form>
							</div>
							<div id="sell" class="tab-pane fade">
								<h3>Menu 1</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- tesimonial starts -->
		<div id="testimonial__wrapper" class="bg_grey_light">
			<div class="container">
				<div class="testi_detail">
					<div class="rank_title text-center">
						<h1>2016-2017 Rankings</h1>
						<p>We're the leading online resource in finding scholarships to help you pay for school.</p>
					</div>
					<div class="sample_content text-center">
						<div class="col-sm-4 sample_text" ng-repeat="item in topScholarship | limitTo:3">
							<img ng-src="{{ config.primo.smallImagePath + item.image }}" ng-if="item.image" />
							<img ng-src="{{ config.primo.noImagePath }}" ng-if="!item.image" />
							<p>{{item.title | limitTo: 20 }}{{ item.title.length > 20 ? '...' : ''}}</p>
							<a href="{{item.apply_button}}" target="_blank">Place Rankings</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- tesimonial ends -->
		
		<!-- heading section starts -->
		<div id="heading_section">
			<div class="container">
				<div class="heading_highlight text-center">
					<h2>Why Niche?</h2>
					<p>We're the leading online resource in finding scholarships to help you pay for school</p>
				</div>
				<div class="row heading_detail">
					<div class="row why_detail">
						<div class="col-sm-6 text-center">
							<img src="resources/images/reviews.jpg" />
						</div>
						<div class="col-sm-6 why_content">
							<h4>Reviews From Real People</h4>
							<p>Millions of people come to Niche to share personal experiences.</p>
						</div>
					</div>
					<div class="row why_detail">
						<div class="col-sm-6 why_content">
							<h4>Reviews From Real People</h4>
							<p>Millions of people come to Niche to share personal experiences.</p>
						</div>
						<div class="col-sm-6 text-center">
							<img src="resources/images/likes.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- heading section ends -->
		
		<!-- marketplace section starts -->
		<div id="marketplace_section" class="bg_blue text-center">
			<div class="container">
				<h2>Our Team</h2>
				<p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
				<div class="row marketplace_detail">
					<div class="col-md-3">
						<div class="team_mem_pic">
							<img src="resources/images/team_1.jpg" />
						</div>
						<div class="team_mem_title">
							<h4>Morehouse College</h4>
						</div>
						<div class="team_mem_desc">
							<p>The "Million Dollar Scholar"<br />Chicago, IL </p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team_mem_pic">
							<img src="resources/images/team_2.jpg" />							
						</div>
						<div class="team_mem_title">
							<h4>Morehouse College</h4>
						</div>
						<div class="team_mem_desc">
							<p>The "Million Dollar Scholar"<br />Chicago, IL </p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team_mem_pic">
							<img src="resources/images/team_3.jpg" />
						</div>
						<div class="team_mem_title">
							<h4>Morehouse College</h4>
						</div>
						<div class="team_mem_desc">
							<p>The "Million Dollar Scholar"<br />Chicago, IL </p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="team_mem_pic">
							<img src="resources/images/team_4.jpg" />
						</div>
						<div class="team_mem_title">
							<h4>Morehouse College</h4>
						</div>
						<div class="team_mem_desc">
							<p>The "Million Dollar Scholar"<br />Chicago, IL </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- marketplace section ends -->
		
		<!-- merket section starts -->
		<div id="market_section" class="bg_grey_light">
			<div class="container">
				<div class="heading_highlight text-center">
					<h1 class="font-46">Sign Up</h1>
					<p>Sign up to learn more about the schools and neighborhoods in your area - it's free!</p>
				</div>
				<div class="Signup_login_links text-center">
					<a class="bg_dark" href="javascript:void(0)">Sign Up</a>
					<a class="bg_blue" href="login">Login</a>
				</div>
			</div>
		</div>
		<!-- merket section ends -->