<!-- banner starts -->
  <div id="banner__wrapper">
    <div class="container">
      <div class="col-sm-9 row banner_content">
        <div class="banner_title">
          <h1>College Search</h1>
          <p>Niche helps you find the college that's right for you. Explore college reviews, rankings, and statistics.</p>
        </div>
        <div class="banner_form">
          <form name="college-search">
            <input type="text" ng-model="searchText" ng-keyup="onKeySearch(searchText)" placeholder="Search Colleges..." required/>
            <button type="submit" ng-click="searchCollege()" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- banner ends -->
<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
<!-- tesimonial starts -->
<div id="content__wrapper" class="bg_grey_light">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
          <div class="container_block padding__0">
            <ul class="left_quick_links">
              <li class="location"><a href="javascript:void(0)">Location</a></li>
              <li class="majors"><a href="javascript:void(0)">Majors</a></li>
              <li class="score"><a href="javascript:void(0)">Test Scores</a></li>
              <li class="net_price"><a href="javascript:void(0)">Average Net Price</a></li>
            </ul>
          </div>
        </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Modal</h4>
      </div>
      <div class="modal-body">
        Enter Location:
        <input type="text" style="width: 100%;" value="{{currentAddress}}" /> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="searchSearchLocation()" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

      <div class="col-sm-9 school_srch_list">
        <div class="srch_filter">
          <ul>
            <li class="filtr_active"><a href="javascript:void(0)" ng-click="bestCollege()">Best</a></li>
            <!-- <li><a href="javascript:void(0)" ng-click="sortAplha()">A-Z</a></li> -->
            <!-- <li class="pull-right">Showing {{items.length}} Collage</li> -->
            <li class="pull-right">Showing {{totalCollege}} Collage</li>
            
          </ul>
        </div>
        <div class="srch_list_content">
          <!-- loader image appear -->
          <ul ng-if="sortAplhabates">
            <li class="container_block" ng-repeat="item in newItems |  orderBy:sortType |filter:searchText">
              <div class="initial_title bg_blue floatL">{{ item.title | extractFirstAndSecondLetter}}</div>
              <div class="srch_content_detail floatL">
                <h4><a ng-href="college/{{item.slug}}" >{{ item.title | limitTo: 30 }}{{ item.title.length > 30 ? '...' : ''}}</a></h4>
                <p>2 Year . {{ item.address | limitTo: 20 }}{{ item.address.length > 20 ? '...' : ''}}</p>
                <p>
                  <span class="inline_list">
                    <span class="semibold">{{item.no_of_students}}</span>
                    <span>Students</span>
                  </span>
                  <span class="inline_list">
                    <span class="semibold">${{item.net_price}}</span>
                    <span>Avg. Net Price</span>
                  </span>
                </p>
              </div>
              <div class="floatR views_counter text-right">
                <p>
                <span class="{{item.className}} avg_count" data-toggle="tooltip" data-placement="bottom" title="Average">{{item.rating}}</span>
                </p>
                <p>{{item.votes}} votes</p>
                <p>{{item.reviews}} reviews</p>
                <p class="wishlist"><a href="javascript:void(0)" ng-click="addToWishList(item.id)"><i class="fa fa-heart-o" aria-hidden="true"></i> Add Wish List</a></p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

          <!-- <div ng-if="sortAplhabates" ng-repeat="collegeItem in collegeData">
          
          <p>College Name: {{collegeItem.college_name}}</p>
          <p>Rating : {{collegeItem.college_rank}}</p>
          </div> -->

          <div ng-if="totalCollege == 0" style="text-align: center;">
          Data Not Found!.
          </div>

          <!-- <pagination 
              ng-model="currentPage"
              total-items="newItems.length"
              max-size="maxSize"  
              boundary-links="true"
              ng-if="isDataFound">
            </pagination> -->

     <div ng-repeat="item in vm.items">Item {{item}}</div>
         
        <!-- pager -->
        <!-- <ul ng-if="vm.pager.pages.length" class="pagination">
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                <a ng-click="vm.setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
            </li>
        </ul> -->
        

          <div class="load-more-button" ng-if="totalCollege > 0">
            <button style="float: right;" class="btn btn-success" ng-disabled="is_disable" ng-if="loadMoreOnlyTextButton == true" ng-click="loadMoreOnlyTextButtonFun()">Load More
            </button>

            <button style="float: right;" class="btn btn-success" ng-disabled="is_disable" ng-if="loadMoreButton == true" ng-click="loadMore()">Load More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tesimonial ends -->
