<!-- banner starts -->
<div id="banner__wrapper">
	<div class="container sch_profile_banner_sp">
		<a class="bg_orange add_wish_btn" ng-click="addToWishList(item.id)" href="javascript:void(0)">Add Wish List</a>
		<div class="col-sm-9 row banner_content">
			<div class="uni_profile_show">
				<div class="uni_icon_img">
					<img src="../resources/images/uni_profile_icon.jpg" />
				</div>
				<div class="uni_profile_detail">
					<p class="uni_profile_title">{{item.title}}</p>
					<p class="uni_profile_location">{{item.city}}, {{item.state}}</p>
					<p class="uni_profile_reviews"><span class="{{item.className}} avg_count" data-toggle="tooltip" data-placement="bottom" title="Average">{{item.rating}}</span>
					<span ng-if="item.reviews">{{item.reviews}} reviews</span></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- banner ends -->
<!-- main content starts -->
		<div id="main__content" class="srch_results bg_grey_light">
			<div class="container">
				<!--<div class="row">-->
					<div class="col-sm-12">
						<div class="row">
							<div class="tabs_detail sch_profile_tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#book_detail">Book Details</a></li>
									<li><a data-toggle="tab" href="#desc">Description</a></li>
									<li><a data-toggle="tab" href="#bio">Author Bio</a></li>
									<li><a data-toggle="tab" href="#content">Table of Contents</a></li>
								</ul>
								<div class="tab-content container_block">
									<div id="book_detail" class="tab-pane fade in active">
										<p>Book Details Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
									<div id="desc" class="tab-pane fade">
										<p>Selected by theNew York Times Book Reviewas one of the best books of 2011 A Globe and MailBest Books of the Year.</p>
									</div>
									<div id="bio" class="tab-pane fade">
										<p>Author Bio Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
									<div id="content" class="tab-pane fade">
										<p>Table of Contents Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
								</div>
							</div>
							<div class="book_profile">
								<ul class="uni_list">
									<li>
										<p><span>{{item.title}}</span>
										Name</p>
									</li>
									<li>
										<p><span>{{item.phone}}</span>
										Phone</p>
									</li>
									<li>
										<p><span><a href="{{item.website}}" href="_blank">{{item.website}}</a></span>
										Website</p>
									</li>
									<li>
										<p><span>{{ item.zipcode }}</span>
										Zipcode</p>
									</li>
									<li>
										<p><span>{{item.address}}<br />{{item.city}}, {{item.state}}</span>
										Address</p>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="headline">
						<h3>Recently Added Text</h3>
					</div>
					<!-- recently__added starts -->
					<div class="recently__added">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">									
									<div class="col-md-4 col-sm-6 text-center" ng-repeat="book in item.books">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img ng-src="{{config.primo.mediumImagePath + book.image}}" width="150px" ng-if="book.image"/>
        										<img ng-src="{{noImageUrl}}" / width="150px;" height="50px;" ng-if="!book.image">
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>{{ book.title | limitTo: 20 }}{{ book.title.length > 20 ? '...' : ''}}</p>
												</div>
												<div class="book_author">
													<p>{{book.author}}</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />{{book_number.number}}</p>
												</div>
												<div class="book_price">
													<p>${{book.price}}</p>
												</div>
												<div class="book_stock">
													<p><a href="book/{{book.slug}}">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->					<!-- col-md-4 col-md-6 end -->
								</div><!-- row ends -->
							</div><!-- item ends -->
						</div><!-- carousel-inner ends -->
					</div><!-- recently__added ends -->

					<div class="headline" ng-if="item.book_available">
						<h3>Sorry, There are no books.</h3>
					</div>

					<div class="container_block">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<div class="students_grade">
										<p class="std_title">Students</p>
										<p class="sub_title"><span>{{item.no_of_students}}</span> Undergrads</p>
										<ul class="grade_list">
											<li>Undergrads Over 25 <span>01%</span></li>
											<li>Pell Grant <span>15%</span></li>
											<li>Varsity Address <span>12%</span></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-8">
									<p class="std_title"><img src="../resources/images/poll_icon.jpg" /> Poll</p>
									<p class="	">What one word or phrase best describes the typical student at this school?</p>
									<p class="reviews">Based on 34 responses <span>Report</span></p>
									<div class="bar_report">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="47"
											aria-valuemin="0" aria-valuemax="100" style="width:47%">
											<span class="sr-only">70% Complete</span>
											</div>
										</div>
										<p class="bar_title">Brilliant and humble <span style="color:#337ab7;">47%</span></p>
									</div>
									<div class="bar_report">
										<div class="progress">
											<div class="progress-bar bg_blue_light" role="progressbar" aria-valuenow="21"
											aria-valuemin="0" aria-valuemax="100" style="width:21%">
											<span class="sr-only">21% Complete</span>
											</div>
										</div>
										<p class="bar_title">Friendly bt stressed <span style="color:#53bfdf;">21%</span></p>
									</div>
									<div class="bar_report">
										<div class="progress">
											<div class="progress-bar bg_orange_light" role="progressbar" aria-valuenow="18"
											aria-valuemin="0" aria-valuemax="100" style="width:18%">
											<span class="sr-only">18% Complete</span>
											</div>
										</div>
										<p class="bar_title">Laid back <span style="color:#f78f6a;">18%</span></p>
									</div>
									<div class="more_reviews">
										<div class="bar_report">
											<div class="progress">
												<div class="progress-bar bg_blue_light" role="progressbar" aria-valuenow="21"
												aria-valuemin="0" aria-valuemax="100" style="width:21%">
												<span class="sr-only">21% Complete</span>
												</div>
											</div>
											<p class="bar_title">Friendly bt stressed <span>21%</span></p>
										</div>
										<div class="bar_report">
											<div class="progress">
												<div class="progress-bar bg_orange_light" role="progressbar" aria-valuenow="18"
												aria-valuemin="0" aria-valuemax="100" style="width:18%">
												<span class="sr-only">18% Complete</span>
												</div>
											</div>
											<p class="bar_title">Laid back <span>18%</span></p>
										</div>
									</div>
									<a class="show_more_btn book_price" href="javascript:void(0)">More</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>							
					<p class="text-right"><a class="book_price show_more_btn right_arrow" href="javascript:void(0)">Read More About The Student</a></p>
				<!--</div><!-- row ends -->
			</div><!-- container ends -->
		</div>
		<!-- main content ends -->
