<md-dialog aria-label={{"INVITE_FRIENDS" | translate}} id="invite-friends">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select College</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="answer(false)">
        <md-icon md-svg-src="resources/images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding="">
      <div layout-padding="">
        <form name="addFriendForm" ng-submit="addToList()">
          <searchandselect selecteditem="country" values="countries" key="Key" totalrecords="totalRecords" onscroll="getCountries(searchKey, pagenumber)"></searchandselect>
        </div>
        </form>

      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="blue-button small" ng-click="answer(false)">
        {{"CANCEL" | translate}}
      </md-button>
      <md-button
        ga-send-event
        event-category="Invite Friends Page"
        event-action="click"
        event-label='{{"INVITE_FRIENDS" | translate}}'
        class="blue-button small" ng-disabled="inviteEmails.length == 0" ng-click="answer(true)">
        {{"INVITE_FRIENDS" | translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
