
<div id="signup__wrapper">
    <div class="container">
        <h3 class="text-center">Login</h3>
        <form name="form" role="form" class="signup__form">
            <div class="alert alert-success" ng-if="registrationSuccessfull">
              <strong>Success!</strong> {{registrationSuccessfull}}.
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.email" name="uName" placeholder="Enter your eMail/ Primo Username or Mobile..." required="">
                  <br/>
                  <div ng-show="form.$submitted || form.uName.$touched">
                      <div ng-show="form.uName.$error.required" style="color:red">Please enter your email.</div>
                  </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <input type="password" name="password" ng-model="user.password" placeholder="Enter your Password..." required="">
                 <br/>
                <div ng-show="form.$submitted || form.password.$touched">
                    <div ng-show="form.password.$error.required" style="color:red">Please enter your password.</div>
                </div>
            </div>
            <br>
            <span style="color: red;" ng-show="errorMsg">Invalid Login Information</span>
            <span style="color: red;" ng-show="invalidMsg">Something went wrong, Please contact to admin</span>
            <div class="form-group">
                 <button type="submit" ng-click="verifyUsername(user)">Sign In</button>
            </div>

            <div class="signup__link">
                <a href="/sign-up">Register</a></br>
                <a href="">Forget Password ?</a> 
            </div>

        </form>
    </div>
</div>
