<div layout="row" class="contact-list-wrapper">
  <div flex="20" flex-md="30" flex-sm="40" class="rewards-list md-whiteframe-4dp" layout-fill="">
    <md-menu-sidenav>
      <md-content>
        <md-menu-sidenav-item ng-repeat="item in rewardItems">
          <reward-list-card
            ng-disabled="item.reward_name!='MSISDN_VERIFIED' && !isMSISDNVerified(item)">
          </reward-list-card>
        </md-menu-sidenav-item>
      </md-content>
    </md-menu-sidenav>
  </div>
  <div layout="column" flex-md="60" flex="80" layout-padding>
    <reward-details ng-if="selected" item="selected"></reward-details>
  </div>
</div>