<md-sidenav class="md-sidenav-left md-whiteframe-4dp site-sidenav" md-component-id="left" layout-fill="" flex
            ng-hide="state.$current.isPublic"
            md-is-locked-open="$mdMedia('gt-sm')" md-swipe-left="toggleSidenav('left')">
  <md-toolbar class="navside-fullheight" layout-fill="" flex>
    <div layout="row" layout-padding class="sidenav-header">
      <header class="nav-header">
        <a ng-href="/" class="docs-logo" href="/">
          <img src="resources/images/title_primo.png" alt="">
        </a>
      </header>
    </div>
    <md-divider></md-divider>
    <md-menu-sidenav>
      <md-menu-sidenav-item ng-repeat="item in items">
        <md-menu-item>
          <a class="md-button md-ink-ripple" ng-if="item.url"
             ng-click="select(item, $index)"
             ui-sref="{{item.url}}"
             aria-label="{{item.name}}"
             active-link="active">
            <span class="ng-binding ng-scope"><img ng-src="{{isSelected(item) ? item.imageSelected : item.image}}"
                                                   alt=""> {{item.name}}</span>
          </a>
          <a class="md-button md-ink-ripple" ng-if="item.onclick"
             ng-click="logout()"
             aria-label="{{item.name}}"
             active-link="active">
            <span class="ng-binding ng-scope"><img ng-src="{{isSelected(item) ? item.imageSelected : item.image}}"
                                                   alt=""> {{item.name}}</span>
          </a>
        </md-menu-item>
      </md-menu-sidenav-item>
    </md-menu-sidenav>
    <div class="bottom-info">
      <div class="bottom-section" layout-align="left center">
        <img flex src="resources/images/nav-side/menu_add_phone.png"/>
        <a id="didValue" ng-if="user.direct_dial_in != ''" flex href="" disabled="" class="rounded-button">{{ user.direct_dial_in |
          formatDid}}</a>
        <a id="attachDidBtn" ng-if="user.direct_dial_in == ''" flex ng-click="attachDid()" class="rounded-button">{{
          "ADD_PHONE_NUMBER" | translate}}</a>
      </div>
      <div class="bottom-section" layout-align="left center">
        <a href="http://primo.me/features/your-primo-phone-number/" target="_blank">{{"FIND_OUT_ABOUT_PRIMO_NUM" |
          translate}}</a>
      </div>
      <div class="bottom-section" layout-align="left center">
        <span>{{"CREDITS" | translate}} <b>{{user.balance | currency}}</b></span>
        <span>{{"MINUTES" | translate}} <b>{{user.intl_minutes}}</b></span>
      </div>
    </div>
  </md-toolbar>

</md-sidenav>
