<div id="signup__wrapper">
            <div class="container">
                <h3 class="text-center">Sign Up</h3>

                <form class="signup__form" name="form" role="form" ng-submit="register(user)">
                    <div>
                        <div class="form-group">
                            <div angucomplete-alt id="ex1"
                              placeholder="Search Primary School"
                              maxlength="50"
                              pause="100"
                              selected-object="user.education_level"
                              local-data="education_levels"
                              search-fields="education_level"
                              title-field="education_level"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.education_level"
                              ></div>
                           <!-- <div custom-select="g for g in primarySchool | filter: $searchTerm" custom-select-options="primarySchoolOptions" ng-model="education_level"></div> -->
                        </div>
                        <div class="form-group">
                          <div angucomplete-alt id="ex2"
                              placeholder="Search College"
                              maxlength="50"
                              pause="100"
                              selected-object="user.college"
                              local-data="colleges"
                              search-fields="title"
                              title-field="title"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.college"
                              ></div>
                            <!-- <input type="text" class="form-control srch_icon" ng-model="user.college" uib-typeahead="college as college.title for college in colleges | filter:{title:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Enter College Name" > -->
                            
                        </div>
                        <div class="form-group">
                          <div angucomplete-alt id="ex3"
                              placeholder="Search State"
                              maxlength="50"
                              pause="100"
                              selected-object="user.state"
                              local-data="states"
                              search-fields="name"
                              title-field="name"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.state"
                              ></div>
                            <!-- <div custom-select="g for g in stateList | filter: $searchTerm" custom-select-options="stateListOptions" ng-model="state"></div> -->
                        </div>
                        <div class="signup__buttons" ng-if="step1">
                            <button type="submit" class="btn btn-default" ng-click="goToStep2()">Add School</button> 
                            <div class="choice">OR</div>
                            <div class="form-group">
                                
                                <div class="arrow">
                                    <a href="javascript:void(0)" ng-click="goToStep2()"><img src="resources/images/arrow.png"></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div>

                    <div ng-show="step2">
                        <div class="form-group" ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
                            <label for="username">First name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="user.first_name" required />
                            <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.last_name.$dirty && form.last_name.$error.required }">
                            <label for="lastname">Last name</label>
                            <input type="text" name="last_name" id="Text1" class="form-control" ng-model="user.last_name" required />
                            <span ng-show="form.last_name.$dirty && form.last_name.$error.required" class="help-block">Last name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                            <label for="name">Username</label>
                            <input type="name" name="name" id="name" class="form-control" ng-model="user.name" required />
                            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Username is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                    <div class="form-group gender">
                    <p>Gender</p>
                    <div class="">
                        <select ng-model="user.gender" required>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                    </div>
                    <!-- <div class="form-group floatR">
                        <div angucomplete-alt id="ex6"
                              placeholder="Search State"
                              maxlength="50"
                              pause="100"
                              selected-object="user.state"
                              initial-value="user.state"
                              local-data="states"
                              search-fields="name"
                              title-field="name"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.state"
                              ></div>
                    </div>
                    <div class="clearfix"></div>
                    </div>
                    <p>College*</p>
                    <div class="form-group">
                        <div angucomplete-alt id="ex5"
                              placeholder="Search College"
                              maxlength="50"
                              pause="100"
                              selected-object="user.college"
                              initial-value="user.college"
                              local-data="colleges"
                              search-fields="title"
                              title-field="title"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.college"
                              ></div>
                    </div>
                    <p>Education Level*</p>
                    <div class="form-group">
                        <div angucomplete-alt id="ex4"
                              placeholder="Search Primary School"
                              maxlength="50"
                              pause="100"
                              selected-object="user.education_level"
                              initial-value="user.education_level"
                              local-data="education_levels"
                              search-fields="education_level"
                              title-field="education_level"
                              minlength="1"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              ng-model="user.education_level"
                              ></div>
                    </div> -->
                      <div class="form-group">
                        <div class="alert-danger" ng-if="errors" ng-repeat="error in errors">
                          {{error}}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="margin-bottom20 signup__buttons">
                            <button type="submit" class="btn btn-primary signup-button-register">Register</button>
                        </div>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                </form>
                <div class="clearfix"></div>
            </div>
                
            </div>
        </div>
