<md-card class="primo-mini-card" flex layout-padding="">
  <div class="card-upper">
    <span class="card-title" layout-align="center center">
      <a ui-sref="{{buttonAction}}">
        <img ng-src="{{ titleImage }}" alt="rate image"> <br/>
      </a>
    </span>
  </div>
</md-card>