.account-menu {
  md-menu-sidenav {
    md-menu-sidenav-item{
      md-menu-item {
        a {
          span {
            img {
              width: 32px;
              height: 32px;
              display: block;
              float: left;
              margin: 0 10px 0 0;
            }
          }
          &.active {
            //background: @primary-color;
            color: white;
          }
        }
      }
    }
  }
}