/* Navigation styling */
.nav {
  padding: 18px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 11;
  border-bottom: 1px solid rgba(0, 186, 188, .3);
  height: 40px;

  .pull-right {
    position: absolute;
    right: 5%;
    top: 15px;
  }
}

a {
  &.logo {
    float: left;
    margin: 0 0 0 8%;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  display: inline;
  padding: 10px;
  zoom: 1;

  a {
    color: @text-gray;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    img {
      width: 120px;
    }

    &.active {
      color: @primary-color;
    }

    &.web-app {
      display: inline-block;
      margin: -10px 0 0 100px;
    }

    &.login-btn {
      min-width: 134px;
      height: 100%;
      margin: -5px 0 0 5px;
      color: @text-gray;
      border: 1px solid @text-gray;
      line-height: 36px;

      span {
        text-transform: none;
        font-family: "OpenSans", sans-serif;
        font-weight: 100;
        font-size: 16px;
      }

    }
  }

  .md-menu {
    a {
      img {
        width: 14px;
        height: auto;
        margin-bottom: 1px;
      }
    }
  }

  .md-button {
    &.login-btn {
      margin: -8px;
      border: 1px solid @text-gray;
      .border-radius(3px);
    }
  }
}

/* Mobile Navigation */
.nav-mobile {
  display: none; /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5%;
  background: #34495E url('../images/nav.svg') no-repeat center center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 240px) and (max-width: 964px) {
  .nav-mobile {
    display: block;
  }

  .nav {
    width: 100%;

    .pull-right {
      position: inherit;
      width: 100%;
      float: left;
    }
  }

  .nav-list {
    display: none;
  }

  .nav-item {
    width: 100%;
    float: left;
    background: white;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 10px;
    a {
      width: 100%;
      padding: 10px;
      &.login-btn {
        width: 97%;
      }

      &.invest-btn {
        margin: 0;
      }
    }
  }

  .nav-active {
    display: block;
  }

  md-menu-content {
    width: 100%;
    position: inherit;
    margin: 0 0 0 -14px;
    padding: 0;
  }
}