.site-sidenav {
  md-toolbar {
    header {
      a {
        img {
          height: 40px;
        }
      }
    }
  }
  md-menu-sidenav {
    md-menu-sidenav-item {
      md-menu-item {
        a {
          padding-left: 26px;
          span {
            img {
              width: 30px;
              height: 30px;
              display: block;
              float: left;
              margin: 0 10px 0 0;
            }
          }
          &.active {
            padding-left: 20px;
            border-left: 6px solid;
            //border-color: @primary-color;
          }
        }
      }
    }
  }
  .navside-sublink {
    width: 100%;
    margin-left: 0px !important;
    padding-left: 40px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .navside-sublink-inside {
    text-align: left !important;
    width: 100%;
  }

  .navside-sublink-holder {
    width: 100%;
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .navside-expandable-title {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .navside-fullwidth {
    width: 100%;
  }

  .navside-fullheight {
    height: 100% !important;
  }

  .navside-icon {
    position: relative;
    right: -140px;
  }

  .navside-icon-reports {
    position: relative;
    right: -168px;
  }

  .navside-expandable-link {
    padding-top: 5px !important;
  }

  .navside-menu-subitem {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .bottom-info {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 10px;
    .bottom-section {
      width: 100%;
      height: 40px;
      display: block;
      padding: 0 0 5px;
      img {
        width: 32px;
        float: left;
        margin: 0;
        padding: 0;
      }
      a {
        margin: 4px 0 0 4px;
        float: left;
        //color: @primary-button-color;
      }
    }

    b {
      //color: @primary-color;
    }
  }
}

.site-sidenav > * {
  min-width: 218px;
}