<!-- banner start -->
<!-- <div id="banner__wrapper" class="big_banner event_banner" style="background:url({{ config.primo.fullImagePath + data.image}}) no-repeat;"> -->
<div id="banner__wrapper" class="marginB25">
  <div class="container">
    <div class="col-sm-9 row banner_content">
      <div class="banner_title">
        <h1 class="event_banner_title">{{data.title}}</h1>
      </div>
    </div>
  </div>
</div>
<!-- banner ends -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto" ng-bind-html="deliberatelyTrustDangerousSnippet(data.description)"></div>
    </div>
  </div>
</article>