    
    <!-- banner starts -->
      <div class="landing-banner">
        <div class="landing-content">
          <div class="container">
            <div class="banner-line">
              <p>Find Free college sholarships now</p>
              <p>over 3.7 million college sholarships & grants worth around $91 billion</p>
              <a class="schloarship-landingpage-button" class="btn" href="scholarships-search">start search</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        
      </div>
      
    <!-- banner ends -->
    
    <!-- main content starts -->
  <div class="landing-main">
    <div class="landing-box-1">
        <p>What is UCCHUB?</p>
        <p>We're the landing online resource in finding scholarships to help you pay for schools.</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" ng-click="UCCHUB('Targeted Scholarships')">
            <img src="resources/images/scholarship-landing-icon1.png" alt="#">
            <p class="heading">Targeted Scholarships</p>
            <p class="text">
              Scholarships just for you based on  your strengths, interests and skills.
            </p>
          </div>
          <div class="col-sm-3" ng-click="UCCHUB('Financial Aid')">
            <img src="resources/images/scholarship-landing-icon2.png" alt="#">
            <p class="heading">Financial Aid</p>
            <p class="text">
              Resources to help you tough financial aid decisions
            </p>
          </div>
          <div class="col-sm-3" ng-click="UCCHUB('College Search')">
            <img src="resources/images/scholarship-landing-icon3.png" alt="#">
            <p class="heading">College Search</p>
            <p class="text">
              Discover the perfect school for your interests and budget
            </p>
          </div>
          
          <div class="col-sm-3" ng-click="UCCHUB('Career Advice')">
            <img src="resources/images/scholarship-landing-icon4.png" alt="#">
            <p class="heading">Career Advice</p>
            <p class="text">
              Guidance to help you prepare for a promising feature
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="landing-box-2">
        <p>Member Become Winners</p>
        <p>These students have won scholarships-and so can you!</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="resources/images/team_1.jpg" alt="#">
            <p class="heading">Morehouse College</p>
            <p class="text-1">
              The "million dollar scholar" chicago, IL
            </p>
            <p class="text-2">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
            </p>
          </div>
          <div class="col-sm-3">
            <img src="resources/images/team_2.jpg" alt="#">
            <p class="heading">Morehouse College</p>
            <p class="text-1">
              The "million dollar scholar" chicago, IL
            </p>
            <p class="text-2">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
            </p>
          </div>
          <div class="col-sm-3">
            <img src="resources/images/team_3.jpg" alt="#">
            <p class="heading">Morehouse College</p>
            <p class="text-1">
              The "million dollar scholar" chicago, IL
            </p>
            <p class="text-2">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
            </p>
          </div>
          <div class="col-sm-3">
            <img src="resources/images/team_4.jpg" alt="#">
            <p class="heading">Morehouse College</p>
            <p class="text-1">
              The "million dollar scholar" chicago, IL
            </p>
            <p class="text-2">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="landing-box-3">
        <div class="back-ground">
          <div class="container">
            <div class="text">
              <p>college directory and matching</p>
              <p>Visit our College for detailed information on over 7,000 colleges admission starts,tution,fees,finacial aid and scholarships, academic majors and more. Or you can use our College Matchmaker to get matched to colleges specifically suited for you.</p>
              <button type="button" class="btn btn-1" ng-click="collegeDictory()">college directory</button>
              <button type="button" class="btn btn-2" ng-click="matchMaker()">college matchmaker</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    </div> 
    
    <div class="landing-box-4">
        <p>Featured College Scholarships</p>
        <p>Check out frequently updated scholarship offers most students qualify for</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" ng-repeat="itemdata in topScholarship | limitTo:4">
            <div class="content">
              <img ng-src="{{ config.primo.smallImagePath + itemdata.image}}" alt="{{itemdata.title}}" ng-if="itemdata.image">
              <img ng-src="{{ config.primo.noImagePath + itemdata.image}}" alt="{{itemdata.title}}" ng-if="!itemdata.image">
              <p class="heading">${{itemdata.award}}</p>
              <p class="text">
                {{itemdata.title | limitTo: 15 }}{{ itemdata.title.length > 15 ? '...' : ''}}
              </p>
              <button type="button" class="btn" ng-click="ApplyScholarship(itemdata.id)">Apply now</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
    
  </div>  <!-- main content ends -->
    <!-- tesimonial starts -->
    <!-- <div id="testimonial__wrapper" class="bg_grey_light">
      <div class="container">
          <div class="sample_content text-center">
            <div class="col-sm-4 sample_text" ng-repeat="item in items">
              <a ng-href="#!/scholarship/{{item.slug}}" ng-if="item.image"><img ng-src="{{moduleThumbnailUrl + item.image}}" /></a>

              <a ng-href="#!/scholarship/{{item.slug}}" ng-if="!item.image"><img ng-src="{{noImageUrl}}" / width="250px;" height="250px;" ></a>

              <p><a ng-href="#!/scholarship/{{item.slug}}" >{{item.title}}</a></p>
              <a ng-href="{{item.website}}" target="_blank">Place Rankings</a>
            </div>
            
          </div>
          <div class="clearfix"></div>
      </div>
    </div> -->
    <!-- tesimonial ends -->
    
    <!-- heading section starts -->
    <div id="heading_section">
      <div class="container">
        <div class="heading_highlight text-center">
          <h2>Why Niche?</h2>
          <p>We're the leading online resource in finding scholarships to help you pay for school</p>
        </div>
        <div class="row heading_detail">
          <div class="row why_detail">
            <div class="col-sm-6 text-center">
              <img src="resources/images/reviews.jpg" />
            </div>
            <div class="col-sm-6 why_content">
              <h4>Reviews From Real People</h4>
              <p>Millions of people come to Niche to share personal experiences.</p>
            </div>
          </div>
          <div class="row why_detail">
            <div class="col-sm-6 why_content">
              <h4>Reviews From Real People</h4>
              <p>Millions of people come to Niche to share personal experiences.</p>
            </div>
            <div class="col-sm-6 text-center">
              <img src="resources/images/likes.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- heading section ends -->
    
    <!-- marketplace section starts -->
    <!-- <div id="marketplace_section" class="bg_blue text-center">
      <div class="container">
        <h2>Our Team</h2>
        <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
        <div class="row marketplace_detail">
          <div class="col-md-3" ng-repeat="item in testimonialsTeam">
            <div class="team_mem_pic">
              <img src="{{item.team_image}}" />
            </div>
            <div class="team_mem_title">
              <h4>{{item.team_name}}</h4>
            </div>
            <div class="team_mem_desc">
              <p>The "{{item.college_name}}"<br />{{item.location}}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div> -->
    <!-- marketplace section ends -->
    
    <!-- merket section starts -->
    <div id="market_section" class="bg_grey_light" ng-if="!isUserLoggedIn">
      <div class="container">
        <div class="heading_highlight text-center">
          <h1 class="font-46">Sign Up</h1>
          <p>Sign up to learn more about the schools and neighborhoods in your area - it's free!</p>
        </div>
        <div class="Signup_login_links text-center">
          <a class="bg_dark" href="javascript:void(0)">Sign Up</a>
          <a class="bg_blue" href="login">Login</a>
        </div>
      </div>
    </div>
    <!-- merket section ends -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Scholarship:</h4>
      </div>
      <div class="modal-body">
        Enter Scholarship Content:</br></br>
        <input class="form-control" type="text" style="width: 100%;" value="Search here..." /> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="searchSearchLocation()" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
