<!-- banner starts -->
			<div class="scholarship-banner">
				<div class="col-sm-12 scholarship-content">
					<div class="container banner-caption">
						<p>Banner or Featured Scholorship Post/News/Blog</p>
					</div>
				</div>
				<div class="clearfix"></div>
				
			</div>
			
		<!-- banner ends -->
		
		<!-- main content starts -->
	<div class="main-area">
		<div class="form-box">
			<div class="container">
				<div class="col-sm-8">
					<form ng-submit="searchScholarship(search)">
						<div class="gender">
							<div class="floatL">
								<p>Gender</p>
							</div>
							<div class="form-data floatR">
								<select ng-model="search.gender">
									<option>Male</option>
									<option>Female</option>
									<option>Others</option>
								</select>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="race">	
							<div class="floatL">
								<p>Race</p>
							</div>	
							<div class="form-data floatR">
								<input type="text" placeholder="" ng-model="search.race">
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="school">
							<div class="floatL">
								<p>School</p>
							</div>	
							<div class="form-data floatR">
								<!-- <input auto-complete ui-items="colleges" ng-model="selected"> -->
								<div angucomplete-alt id="ex1"
								  placeholder="Search Colleges"
								  maxlength="50"
								  pause="100"
								  selected-object="search.college"
								  local-data="colleges"
								  search-fields="title"
								  title-field="title"
								  minlength="1"
								  input-class="form-control form-control-small"
								  match-class="highlight"
								  ng-model="search.college"
								  ></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="search-button"><button type="button" class="btn" ng-click="searchScholarship(search)">Search For Scholarship</button></div>
					</form>
				</div>
				<!-- <div class="col-sm-4 btns-group">
					<div class="col-md-12"><button type="button" class="btn">Tips and Tricks</button></div>
					<div class="col-md-12"><button type="button" class="btn">Another Button</button></div>
				</div> -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="border-line"></div>
		<div class="scholarship-block">
			<div class="container">
				
				<div class="scholarship-info" ng-repeat="item in items">
					<div class="col-sm-7 text-box">
						<div class="col-sm-2 img-area">
							<img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="item.title" ng-if="item.image" width="100" />
							<img ng-src="{{ config.primo.noImagePath}}" alt="item.title" ng-if="!item.image" width="100" />
						</div>
						<div class="col-sm-10 text-area">
							<p class="text-heading">{{item.title | limitTo: 30 }}{{ item.title.length > 30 ? '...' : ''}}</p>
							<p class="text">{{item.description | limitTo: 150 }}{{ item.description.length > 150 ? '...' : ''}}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-sm-3 details">
						<div class="col-sm-4 amount">
							<p>${{item.award}}</p>
							<p>Amount</p>
						</div>
						<div class="col-sm-8 deadline">
							<p>{{item.deadline | date}}</p>
							<p>Deadline</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-sm-2 details-btn">
					<a type="button" class="btn" href="{{item.apply_button}}" target="_blank">Send details</a>
					
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="load-more-button" ng-if="pagination">
		            <button style="float: right;" class="btn btn-success" ng-disabled="is_disable" ng-click="loadMore()">Load More
		            </button>
		        </div>   
			</div>
			
		</div>	
	</div>	
		<!-- main content ends -->
