<div id="register-page" class="auth-page">
  <div class="middle">
    <a
      ga-send-event
      event-category="VerifyMSISDN Page"
      event-action="click"
      event-label='Cancel'
      class="close-button" ng-click="cancelDialog()"><img src="resources/images/close_icon.png"></a>

    <form name="verifyForm" novalidate ng-submit='verify()'>
      <md-content layout-padding>
        <img src="resources/images/logo.png" class="logo">

        <md-input-container class="md-block flex-gt-sm">
          <input type="text" id="pin" name="pin" class="form-control" ng-model="user.pin"
                 required=""
                 placeholder="{{'PIN' | translate}}"
                 autocomplete="off"
                 autofocus="" md-maxlength="30" ng-maxlength="30" ng-minlength="3">
        </md-input-container>
      </md-content>

      <md-button
        ga-send-event
        event-category="VerifyMSISDN Page"
        event-action="click"
        event-label='{{"VERIFY" | translate}}'
        id="submitButton" class="md-raised md-primary md-button"
        ng-disabled="verifyForm.$invalid"
        type="submit"
        aria-label="Primary"><span class="ng-scope">{{"VERIFY" | translate}}</span>
      </md-button>

    </form>
  </div>
</div>