<section id="rate-search" class="demo-class-5">
  <div layout="row" layout-align="center center" class="search-bar">
    <md-autocomplete
        md-delay=500
        md-input-id="fromLocation"
        aria-label="searchTextLabel"
        md-selected-item="selected"
        md-selected-item-change="selectedFromChanged(item)"
        md-search-text="searchText"
        md-items="item in searchForLocation(searchText)"
        md-item-text="item.name"
        md-min-length="0"
        md-autoselect="true"
        placeholder="{{'WHERE_R_U_CALLING' | translate}}">
      <md-item-template>
        <img ng-src="resources/images/flags/{{item.code | lowercase}}.svg" width="14">
        <span md-highlight-text="searchText" md-highlight-flags="^i">
          {{ item.name }}
        </span>
      </md-item-template>
      <md-not-found>
        {{"NO_MATCHING_STATES" | translate}} "{{searchText}}" {{"WERE_FOUND" | translate}}.
      </md-not-found>
    </md-autocomplete>

    <div hide-xs class="currency">{{"USD" | translate}}</div>
    <a
        ga-send-event
        event-category="Search Bar"
        event-action="click"
        event-label='Search icon'
        hide-xs class="search-btn" ng-click="trySearchForLocation(searchText)">
      <i class="sprite icon-search_icon"></i>
    </a>
  </div>

  <div ng-hide="selected" layout="column" layout-gt-sm="row" layout-align="center center" class="popular">
    <p>{{"POPULAR_DESTINATIONS" | translate}}</p>
    <div layout-gt-md="row" layout="column" layout-align="center center">
      <p ng-repeat="country in popularCountries">
        <a
            ga-send-event
            event-category="Search Bar"
            event-action="click"
            event-label='{{country.name}}'
            mparticle-unlimited-buy='["{{country.name}}", "$9.99"]'
            ng-click="selectCountryOnClick(country.name)">
          <img ng-src="resources/images/flags/{{country.code}}.svg" alt="india">
          <span class="india">{{country.name}}</span>
        </a>
      </p>
    </div>
  </div>

  <h3 ng-show="selected">
    {{"CHOOSE_HOW_YOU_CONNECT" | translate}} {{selected.country}}
    <img class="country-flag" ng-src="resources/images/flags/{{selected.code | lowercase}}.svg" height="30"
         alt="flag">
  </h3>

  <div layout="column" layout-align="center center" class="results fade-in-out" ng-show="selected">
    <div class="primo-container">
      <div class="md-padding" layout="row" layout-align="center center" layout-wrap>
        <md-card class="primo-connect-card md-padding" flex-gt-sm="25" layout="column"
                 layout-align="space-between none">
          <div class="card-upper">
            <img src="resources/images/unlimited_primo_icon.png">
            <span class="card-title">
              {{"UNLIMITED_PRIMO_TO_PRIMO" | translate}}
            </span>
            <span class="md-subhead">
              <p>{{"UNLIMITED_CALLS" | translate}}</p>
              <p>{{"UNLIMITED_SHARING" | translate}}</p>
           </span>
          </div>
          <md-card-content>
            <md-card-actions layout="column">
              <md-button
                  ga-send-event
                  event-category="Search Bar"
                  event-action="click"
                  event-label='Download now'
                  ui-sref="download">
                Download now
              </md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>

        <md-card ng-repeat="product in selected.products | filter: countryPlanFilter"
                 class="primo-connect-card md-padding" flex-gt-sm="25" layout="column"
                 layout-align="space-between none">
          <md-card-content class="card-upper">
            <img class="flag" ng-src="{{selected.flag}}"/>
            <span class="card-title">
              {{product.title}}
            </span>
            <span class="md-subhead">
              <p>
                <span>{{product.rate|currency}} <small>per month</small></span>
              </p>
            </span>
            <span class="md-subhead">
              <p>Unlimited Primo to Primo</p>
            </span>
            <span class="md-subhead small">
              <p>{{"LANDLINE" | translate}}: {{product.minutes.fixed | formatRate}}</p>
              <p>{{"MOBILE" | translate}}: {{product.minutes.mobile | formatRate}}</p>
            </span>
          </md-card-content>

          <md-card-actions layout="column">
            <md-button
                ga-send-event
                event-category="Search Bar"
                event-action="click"
                event-label='Buy now'
                ui-sref="purchase({rate_plan: product.product})">
              Buy Now
            </md-button>
          </md-card-actions>
        </md-card>

        <md-card class="primo-connect-card md-padding" flex-gt-sm="25" layout="column"
                 layout-align="space-between none">
          <md-card-content class="card-upper">
            <img src="resources/images/primo_credit_icon_sm.png">
            <span class="card-title">
              Credit
            </span>
            <span class="md-subhead">
              <p>
                <a
                    ga-send-event
                    event-category="Search Bar"
                    event-action="click"
                    event-label='International rates'
                    ui-sref="internationalRates({'#':'rates'})">Call and message landlines in 200+ destinations</a>
              </p>
            </span>
            <span class="md-subhead">
              <md-menu>
                <md-button ng-click="$mdOpenMenu($event)">
                  {{selectedCreditProduct.rate|currency}}
                  <small>
                    ({{selectedCreditProduct.rate/selected.pinless_mobile | number : 0}} min)
                  </small>
                  <img src="resources/images/dropdown_icon.png">
                </md-button>
                <md-menu-content>
                  <md-menu-item ng-repeat="item in credit_products">
                    <md-button ng-click="$parent.$parent.selectedCreditProduct=item">
                      {{item.rate | currency}}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </span>

            <span class="md-subhead small">
              <p>{{ "LANDLINE" | translate }}: {{selected.pinless_land | formatRate}}</p>
              <p>{{ "MOBILE" | translate }}: {{selected.pinless_mobile | formatRate}}</p>
              <p>{{ "SMS" | translate }}: {{selected.sms_rate | formatSMSRate}}</p>
            </span>
            <span class="md-subhead">
              <p>Never expires</p>
            </span>
          </md-card-content>

          <md-card-actions layout="column">
            <md-button
                ga-send-event
                event-category="Search Bar"
                event-action="click"
                event-label='{{"BUY_NOW" | translate}}'
                ui-sref="purchase({credit: selectedCreditProduct.product})">
              {{"BUY_NOW" | translate}}
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</section>