<div class="top__header">
<div class="loading" ng-if="isProcessing">Loading&#8230;</div>
<toast></toast>

  <div class="container">
    <div class="row">
      <div class="col-md-7 top_left">
        <div class="row">
          <div class="col-sm-5 uni_select">
            <!-- <a class="bg_orange" href="javascript:void(0)">Change University/College</a> -->
            <a class="bg_orange dropdown-toggle" data-toggle="dropdown" ng-click="changeCollege()" aria-expanded="false">Change University/College</a>
                  <ul class="bg_orange dropdown-menu">
                    <li ng-repeat="item in setUniversityCollege">
                    <a class="setCursor" ng-click="changeUniversityCollege(item)">{{item.name}}</a>
                  </li>
                  </ul>
          </div>
          <div class="col-sm-7">
            <!-- <p class="uni_title">{{setUniversityCollegeName.length >20 ? setUniversityCollegeName.substr(0,20)+"..." ? setUniversityCollegeName}}</p> -->
            <p class="uni_title">
              {{ setUniversityCollegeName | limitTo: 20 }}{{ setUniversityCollegeName.length > 20 ? '...' : ''}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 top_right">
        <div class="row">
          <div class="col-sm-7 srch_feild">
            <form>
              <input class="bg_grey" type="text" placeholder="Search colleges..." ng-model="selectedCollege" />
            </form>
          </div>
          <div class="col-sm-5 cate_select">
            <p class="bg_blue">Category / Section</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- top header ends -->
<div class="main__header">
  <div class="container">
    <div class="row">
      <div class="site__logo col-sm-2">
        <a ui-sref="/">UCCHUB</a>
      </div>
      <div class="nav__menu col-md-7">
        <ul>
          <li class="srch_select dropdown dropdown-submenu">
            <a class="bg_dark dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" ng-if="currentMenuItem">{{currentMenuItem}}</a>
            <a class="bg_dark dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" ng-if="!currentMenuItem">Browse</a>
              <ul class="bg_dark dropdown-menu">
                <li>
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('colleges')">colleges</a>
                </li>
                <li>
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('scholarship')">scholarship</a>
                </li>
                <li>
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('news')">news</a>
                </li>
                <li >
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('events')">events</a>
                </li>
                <li>
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('jobs')">jobs</a>
                </li>
                <li>
                  <a class="setCursor ng-binding" ng-click="setHeadeMenuItem('textBooks')">Textbooks</a>
                </li>
              </ul>
          </li>

          <li ng-repeat="item in menuItems">
            <a class="setCursor" ng-href="{{item.url}}">{{item.title}}</a>
          </li>

          <!-- <li><a ui-sref="colleges">Colleges</a></li>
          <li><a ui-sref="scholarship">scholarship</a></li>
          <li><a ui-sref="news">News</a></li>
          <li><a ui-sref="events">Events</a></li>
          <li><a ui-sref="jobs">Jobs</a></li>
          <li><a ui-sref="/">TextBook</a></li> -->
        </ul>
      </div>

      <div class="profile_detail col-md-2" ng-if="!userId">
        <div class="profile-pic floatL">
            <ul>
              <li><a ui-sref="login">Login</a> / <a ui-sref="registration">Signup</a></li>
            </ul>
        </div>
      </div>

      <div class="profile_detail col-md-2" ng-if="userId">
        <div class="profile-pic floatL">
          <img src="resources/images/notifications-image1.png" alt="user.first_name" width="25px" ng-if="!user.image" />

          <img ng-src="{{ config.primo.profileImagePath + user.image }}" alt="user.first_name" width="25px" ng-if="user.image" />
        </div>
        <div class="profile_title floatL">
          <a ui-sref="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{ userId | limitTo: 12 }}{{ userId.length > 12 ? '...' : ''}}</a>
          <ul class="bg_dark dropdown-menu">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="javascript:void(0)" ng-click="seeNotifications()" class="">Notifications</a></li>
            <li><a ui-sref="javascript:void(0)" ng-click="logout()" class="">Logout</a></li>
          </ul>
          
        </div>
        <div class="clearfix"></div>
      </div>
      
      <!-- <div class="profile_detail col-md-1" ng-if="userId">
       <span class="glyphicon glyphicon-bell setCursor" ng-click="seeNotifications()">
        <span class="notificationVisible">{{notificationCount}}</span>
       </span>
       <div class="clearfix"></div>
      </div> -->

    </div>
  </div>
</div><!-- main header ends -->