<md-card class="primo-see-countries-card" flex layout-padding="">
  <div class="card-upper">
    <span class="card-title" layout-align="center center">
      <h2>{{title | translate}}</h2>
    </span>
    <span class="md-subhead">
      <p>{{"60_COUNTRIES" | translate}}</p>
    </span>
  </div>
  <md-card-actions layout="column">
    <a class="md-button"
       ng-click="showDialog('sweet_60_rate_plan')">
      {{"SEE_COUNTRIES" | translate}}
    </a>
  </md-card-actions>
</md-card>