<section class="cd-hero" id="home-carousel">
  <ul class="cd-hero-slider">
    <li class="selected">
      <div class="cd-full-width">
        <h2>Connect Your World for Free</h2>
        <p>Free international calling to over 60 countries and unlimited app-to-app calling and messaging</p>
        <div class="badges" ng-include="'partials/app-download-badges.html'"></div>
      </div>
    </li>
    <!--<li>-->
    <!--<div class="cd-full-width">-->
    <!--<h2>Always in the Moment</h2>-->
    <!--<p>HD video calling let's you be there even if you are on the other side of the world</p>-->
    <!--<div class="badges" ng-include="'partials/app-download-badges.html'"></div>-->
    <!--</div>-->
    <!--</li>-->

    <li>
      <div class="cd-full-width">
        <h2>Connect to Anyone, Anyhow, Anywhere</h2>
        <p>Reach those who matter with low per minute and messaging rates to over 200 destinations</p>
        <div class="badges" ng-include="'partials/app-download-badges.html'"></div>
      </div>
    </li>
    <li>
      <div class="cd-full-width">
        <h2>Talk Your Heart Out</h2>
        <p>Unlimited and minute plans allow you to talk as much or as little as you like</p>
        <div class="badges" ng-include="'partials/app-download-badges.html'"></div>
      </div>
    </li>
  </ul>
  <div class="cd-slider-nav">
    <nav>
      <span class="cd-marker item-1"></span>

      <ul>
        <li class="selected"><a href="#0"></a></li>
        <li><a href="#0"></a></li>
        <li><a href="#0"></a></li>
      </ul>
    </nav>
  </div> <!-- .cd-slider-nav -->
  <a class="discover-more" ng-click="discoverMore()">
    Discover more
  </a>
  <a class="arrow prev" ng-click="prevSlide()"></a>
  <a class="arrow next" ng-click="nextSlide()"></a>
</section>