<div id="deactivate-page" layout="row" layout-margin layout-align="center center" flex="100">
  <div flex="70">
    <form name="form" novalidate ng-submit='deactivate()'>
      <md-content layout-padding>
        <h1>{{"DEACTIVATE_ACCOUNT" | translate}}</h1>
        <p>{{"DEACTIVATE_ACCOUNT_TEXT" | translate}}</p>
        <md-input-container class="row">
          <md-button id="submitButton" class="md-raised md-primary md-button" ng-disabled="form.$invalid"
                     type="submit"
                     ng-transclude=""
                     aria-label="Primary">{{"YES" | translate}}
          </md-button>
        </md-input-container>
      </md-content>
    </form>
  </div>
</div>