/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-amazon_badge {
  background-image: url(../images/_sprite.png);
  background-position: -137px 0px;
  width: 137px;
  height: 40px;
}
.icon-facebook_icon {
  background-image: url(../images/_sprite.png);
  background-position: -127px -120px;
  width: 24px;
  height: 24px;
}
.icon-google_badge {
  background-image: url(../images/_sprite.png);
  background-position: 0px -80px;
  width: 137px;
  height: 40px;
}
.icon-instagram_icon {
  background-image: url(../images/_sprite.png);
  background-position: -175px -120px;
  width: 24px;
  height: 24px;
}
.icon-ios_badge {
  background-image: url(../images/_sprite.png);
  background-position: 0px -40px;
  width: 137px;
  height: 40px;
}
.icon-logo {
  background-image: url(../images/_sprite.png);
  background-position: -137px -80px;
  width: 133px;
  height: 35px;
}
.icon-logo_small {
  background-image: url(../images/_sprite.png);
  background-position: 0px -120px;
  width: 127px;
  height: 34px;
}
.icon-search_icon {
  background-image: url(../images/_sprite.png);
  background-position: -199px -120px;
  width: 20px;
  height: 20px;
}
.icon-twitter_icon {
  background-image: url(../images/_sprite.png);
  background-position: -151px -120px;
  width: 24px;
  height: 24px;
}
.icon-web_app_badge_black {
  background-image: url(../images/_sprite.png);
  background-position: -137px -40px;
  width: 137px;
  height: 40px;
}
.icon-web_app_badge_teal {
  background-image: url(../images/_sprite.png);
  background-position: 0px 0px;
  width: 137px;
  height: 40px;
}
