<div id="forgot-page" class="auth-page">
  <div class="middle">
    <a
      ga-send-event
      event-category="Forgot Username Page"
      event-action="click"
      event-label='Cancel'
      class="close-button" ng-click="cancelDialog()"><img src="resources/images/close_icon.png"></a>
    <form name="form" novalidate ng-submit='forgotUsername()'>

      <md-content layout-padding>
        <h4>{{"FORGOT_USERNAME" | translate}}</h4>
        <p>{{ "FORGOT_USERNAME_SUBTEXT" | translate }}</p>

        <div layout-gt-xs="row" class="phone-wrapper">
          <md-input-container class="md-block" flex-gt-xs>
            <msisdn-control ng-disabled="isDisabledMsisdn"
                            aria-label="msisdn"
                            ng-model="user.msisdn"
                            placeholder="{{ 'PHONE_NUMBER' | translate }}">
            </msisdn-control>
          </md-input-container>
        </div>

        <div flex layout="column">
          <span>{{"OR" | translate}}</span>
        </div>

        <md-input-container class="md-block" flex>
          <label>{{'EMAIL' | translate}}</label>
          <input type="text" class="form-control" id="email"
                 ng-model="user.email" placeholder="{{'EMAIL' | translate}}"
                 name="email"
                 ng-disabled="isDisabledEmail"
                 aria-label="email"
                 ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                 ng-maxlength="40"
                 md-maxlength="40">

          <div ng-messages="form.email.$error">
            <div ng-message-exp="['maxlength']">{{ 'EMAIL_FORMAT' |
              translate}}
            </div>
            <div ng-message="pattern">{{"EMAIL_FORMAT" | translate }}</div>
            <div ng-message="md-maxlength">{{"EMAIL_FORMAT_MAX_LGT" | translate }}</div>
            <div ng-message="minlength">{{"EMAIL_FORMAT_MIN_LGT" | translate }}</div>
          </div>
        </md-input-container>
      </md-content>

      <md-button
        ga-send-event
        event-category="Forgot Username Page"
        event-action="click"
        event-label='{{"SEND_USERNAME" | translate}}'
        id="submitButton" class="md-raised md-primary md-button" ng-disabled="form.$invalid"
        type="submit"
        ng-transclude=""
        aria-label="Primary">{{"SEND_USERNAME" | translate}}
      </md-button>

      <div layout-align="center center" class="links-wrapper">
        <a
          ga-send-event
          event-category="Forgot Username Page"
          event-action="click"
          event-label='{{"FORGOT_PASSWORD" | translate}}'
          ng-click="forgotPassword($event)" class="forgot-password">{{"FORGOT_PASSWORD" | translate}}</a>
      </div>

    </form>
  </div>
</div>