<div flex layout-padding class="sub-content">
  <div layout="column">
    <form class="form-horizontal" name="changePasswordForm" ng-submit="changePassword()" novalidate="">
      <md-input-container class="md-block" flex>
        <label>{{'CURRENT_PASSWORD' | translate}}</label>
        <input
          aria-label="password"
          type="password" id="inputCurrentPassword" name="inputCurrentPassword" class="form-control"
          placeholder="{{'CURRENT_PASSWORD' | translate}}" required ng-model="checkSecret">

        <div ng-messages="changePasswordForm.inputCurrentPassword.$error" role="alert">
          <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>{{'NEW_PASSWORD' | translate}}</label>
        <input
          aria-label="new-password"
          type="password" id="inputNewPassword" ng-model="secret" class="form-control"
          placeholder="{{'NEW_PASSWORD' | translate}}"
          name="secret"
          minlength="6"
          required="">

        <div ng-messages="changePasswordForm.secret.$error" role="alert">
          <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
          <div ng-message-exp="['minlength']" ng-bind-html="'PASSWORD_FORMAT' | translate"></div>
        </div>
      </md-input-container>


      <md-input-container class="md-block" flex>
        <label>{{'CONFIRM_PASSWORD' | translate}}</label>
        <input
          aria-label="confirmation"
          type="password" id="inputConfirmPassword" ng-model="confirmation" class="form-control"
          name="confirmation"
          compare-to="changePasswordForm.secret.$viewValue"
          placeholder="{{'CONFIRM_PASSWORD' | translate}}" required="">

        <div ng-messages="changePasswordForm.confirmation.$error" role="alert">
          <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
          <div ng-message="compareTo">{{ 'CONFIRM_PASSWORD_FORMAT' | translate}}</div>
        </div>
      </md-input-container>


      <md-button
        ga-send-event
        event-category="Change Password Page"
        event-action="click"
        event-label='{{"SAVE" | translate}}'
        id="submitButton" ng-disabled="changePasswordForm.$invalid"
        class="md-raised md-primary md-button md-ink-ripple"
        type="submit">{{'SAVE' | translate}}
      </md-button>
    </form>
  </div>
</div>
