body {
  font-family: 'OpenSansLight', sans-serif;
  font-size: 100%;
}

#main-content {
  padding-top: 72px;
  background: white;
}

.primo-container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: @primary-color;
  text-decoration: none;

  &.link-button {
    border: 1px solid @primary-button-bgcolor;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .primo-container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .primo-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.md-toast-content {
  position: fixed;
}