@primary-color: #00babc;
@text-gray: #6C8786;
@light-gray: #ebf2f2;
@dark-gray: #979797;
@text-black: #202020;
@background-color: #6C8786;

@primary-button-color: white;
@primary-button-color-hover: white;
@primary-button-bgcolor: #71c9c4;
@primary-button-bgcolor-hover: #5a9f9b;

@contact-list-card-image-background: #66DDDD;
@menu-item-background: #424242;

@credit-plan-card-credit: #2dcc70;
@credit-plan-card-rate-plan: #00babc;

@danger: #F2296C;
@info: #F4D565;
