@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


h1 {
  color: @primary-color;
  margin-top: 5px;
  font-family: "OpenSansBold", sans-serif;
  font-weight: bold;
  font-size: 3.375em;
  line-height: 45px;
  letter-spacing: 0;
  text-transform: none;

  @media(max-width: 360px) {
    font-size: 3em;
    letter-spacing: -2px;
  }

  &.left-h1 {
    text-align: left;
    &:before {
      content: " ";
      width: 67px;
      height: 10px;
      display: inline-block;
      background-color: @primary-color;
      position: absolute;
      margin: -20px 0;
    }
  }

  &.center-h1 {
    text-align: center;
    &:before {
      content: " ";
      width: 67px;
      height: 10px;
      display: inline-block;
      background-color: @primary-color;
      position: relative;
      margin: 50px 0;
      left: calc(50% - 24px);
    }
  }
}

h2 {
  font-family: "OpenSansBold", sans-serif;
  font-size: 2.8125em;
  line-height: 120%;
}

h3 {
  font-family: "OpenSansBold", sans-serif;
  font-size: 2.25em;
}

h4 {
  font-family: "OpenSansBold", sans-serif;
  color: @text-gray;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 100%;
  letter-spacing: 0px;
}

a, p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.125em;
  line-height: 150%;
}

p {
  color: @text-gray;
}

a {
  cursor: pointer;
}