<a href="https://itunes.apple.com/app/id976647948" target="_blank">
  <i class="sprite icon-ios_badge"></i>
</a>
<a href="https://play.google.com/store/apps/details?id=com.primo.mobile.android.app" target="_blank">
  <i class="sprite icon-google_badge"></i>
</a>
<a href="https://www.amazon.com/gp/mas/dl/android?p=com.primo.mobile.amazon.app" target="_blank">
  <i class="sprite icon-amazon_badge"></i>
</a>
<a href="https://web.primo.me" target="_blank">
  <i class="sprite icon-web_app_badge_black"></i>
</a>