<div class="sub-content" id="retailers" layout-padding>
  <section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
      <li class="selected">
        <div class="cd-full-width">
          <div class="primo-container">
            <h2>{{ "SELL_MORE_WITH_PRIMO" | translate }}</h2>
            <md-button ui-sref="retailersApply" class="md-primary md-button md-raised right">{{"BECOME_RETAILER" |
              translate}}
            </md-button>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <div class="primo-container">
    <h4>{{"RETAILERS_TITLE" | translate}}</h4>
    <p>
      {{"RETAILERS_SUBTITLE" | translate}}
    </p>

    <h4>{{"RETAILERS_WHY" | translate}}</h4>
    <ul>
      <li>{{"RETAILERS_WHY1" | translate}}</li>
      <li>{{"RETAILERS_WHY2" | translate}}</li>
      <li>{{"RETAILERS_WHY3" | translate}}</li>
    </ul>

    <div class="retailers-button-wrapper" layout="column">
      <div layout="column" layout-gt-sm="row">
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Why Sell Primo?'
          target="_blank"
          href="resources/docs/Why_Primo.pdf"
          flex-sm="50"
          flex="100"
          class="blue-button">
          Why Sell Primo?
        </a>
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Unlimited Countries'
          target="_blank"
          href="resources/docs/Primo_Unlimited_Countries.pdf"
          flex-sm="50"
          flex="100"
          class="blue-button">
          Unlimited Countries
        </a>
      </div>
      <div layout="column" layout-gt-sm="row">
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Retailer FAQ'
          target="_blank" href="resources/docs/Primo_Retailer_FAQ.PDF"
          flex-sm="50"
          flex="100"
          class="blue-button">
          Retailer FAQ
        </a>
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Collateral Placement Guide'
          target="_blank"
          flex-sm="50"
          flex="100"
          href="resources/docs/Primo_Collateral_Guide.pdf" class="blue-button">
          Collateral Placement Guide
        </a>
      </div>
      <div layout="column" layout-gt-sm="row">
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Sales Process Guide English'
          target="_blank"
          flex-sm="50"
          flex="100"
          href="resources/docs/Primo_Sales_Process_English.pdf"
          class="blue-button">
          Sales Process Guide English
        </a>
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='Sales Process Guide Spanish'
          flex-sm="50"
          flex="100"
          target="_blank"
          href="resources/docs/Primo_Sales_Process_Spanish.pdf"
          class="blue-button">
          Sales Process Guide Spanish
        </a>
      </div>
      <div layout="column" layout-gt-sm="row">
        <a
          ga-send-event
          event-category="Retailers Page"
          event-action="click"
          event-label='{{"CONTACT_BECOME_RETAILER" | translate}}'
          flex="100" ui-sref="retailersApply" class="blue-button black-button">
          {{"CONTACT_BECOME_RETAILER" | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
