<!--<md-dialog aria-label={{"INVITE_FRIENDS" | translate}} id="retailers-contact">-->
<div id="retailers-contact" class="sub-content" flex-gt-sm="60">
  <form name="dealerForm" novalidate ng-submit='resolve()'>
    <div layout-padding="">
      <p class="header-text">
        <img src="resources/images/close_icon.png"
             ui-sref="retailers"
             alt="close">
        <span>{{"BECOME_PRIMO_RETAILER" | translate}}</span><br/>
        {{"BECOME_RETAILER_SUBTEXT" | translate}}
      </p>
      <div>
        <div layout="row" layout-align="center center" class="first-row">
          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="firstname" name="firstname" class="form-control" ng-model="user.first_name"
                   required=""
                   placeholder="{{'FIRST_NAME' | translate}}"
                   autocomplete="off"
                   ng-pattern="/^[a-zA-Z]*$/"
                   autofocus="" md-maxlength="32" ng-maxlength="32" ng-minlength="4">
          </md-input-container>

          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="lastname" name="lastname" class="form-control" ng-model="user.last_name"
                   required=""
                   placeholder="{{'LAST_NAME' | translate}}"
                   autocomplete="off"
                   ng-pattern="/^[a-zA-Z]*$/"
                   autofocus="" md-maxlength="32" ng-maxlength="32" ng-minlength="4">
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center" class="first-row">
          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="email" name="email" class="form-control" ng-model="user.email"
                   required=""
                   placeholder="{{'EMAIL' | translate}}"
                   autocomplete="off"
                   ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                   ng-minlength="4"
                   md-maxlength="32" ng-maxlength="32">
          </md-input-container>

          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="phone" name="phone" class="form-control" ng-model="user.phone"
                   required=""
                   placeholder="{{'PHONE' | translate}}"
                   md-maxlength="16" ng-maxlength="16" ng-minlength="10">
          </md-input-container>
        </div>

        <md-input-container class="md-block flex-gt-sm">
          <input type="text" id="company" class="form-control"
                 ng-model="user.company"
                 name="company"
                 md-maxlength="32" ng-maxlength="32" ng-minlength="4"
                 placeholder="{{'COMPANY' | translate}}"
                 required="">
        </md-input-container>

        <md-input-container class="md-block flex-gt-sm">
          <input type="text" id="address_1" class="form-control"
                 ng-model="user.address_1"
                 name="address"
                 ng-maxlength="32" ng-minlength="4"
                 placeholder="{{'ADDRESS' | translate}}"
                 required="">
        </md-input-container>

        <div layout="row" layout-align="center center" class="first-row">
          <md-input-container flex="50" class="md-block flex-gt-sm">
            <input type="text" id="city" name="city" class="form-control" ng-model="user.city"
                   required=""
                   placeholder="{{'CITY' | translate}}"
                   autocomplete="off"
                   autofocus="" md-maxlength="32" ng-maxlength="32" ng-minlength="4">
          </md-input-container>

          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="state_province" name="state_province" class="form-control"
                   ng-model="user.state_province"
                   required=""
                   placeholder="{{'STATE' | translate}}"
                   autocomplete="off"
                   autofocus="" md-maxlength="16" ng-maxlength="16" ng-minlength="2">
          </md-input-container>
          <md-input-container flex class="md-block flex-gt-sm">
            <input type="text" id="postal_code" name="postal_code" class="form-control" ng-model="user.postal_code"
                   required=""
                   placeholder="{{'ZIP' | translate}}"
                   autocomplete="off"
                   autofocus="" ng-maxlength="12" ng-minlength="4">
          </md-input-container>
        </div>

        <md-select ng-model="user.store_type" placeholder="{{'STORE_TYPE' | translate}}" required="">
          <md-option ng-repeat="(key, value) in storeTypes" value="{{key}}">{{value}}</md-option>
        </md-select>

        <md-select ng-model="user.source" placeholder="{{'HOW_HEAR' | translate}}" required="">
          <md-option ng-repeat="(key, value) in source" value="{{key}}">{{value}}</md-option>
        </md-select>


        <md-checkbox
          ng-model="user.epay_pos"
          aria-label="epay+pos"
          ng-true-value="1"
          ng-false-value="0"
          class="md-accent" flex>
          {{"RETAILER_POS" | translate}}
        </md-checkbox>
        <!--<md-switch ng-model="user.epay_pos" aria-label="POS" ng-true-value="1" ng-false-value="0"-->
        <!--class="md-accent">-->
        <!--</md-switch>-->

            <textarea flex=""
                      ng-model="user.message"
                      id="replyTextArea"
                      ng-maxlength="128"
                      placeholder="{{'MESSAGE' | translate}}"
                      class="ng-pristine ng-untouched ng-valid ng-scope flex ng-empty"
                      aria-invalid="false">
              </textarea>

      </div>

    </div>
    <div layout="row" layout-padding>
      <span flex></span>
      <md-button
        ga-send-event
        event-category="Retailers Apply Page"
        event-action="click"
        event-label='{{"SEND_MESSAGE" | translate}}'
        class="blue-button" ng-disabled="dealerForm.$invalid" ng-click="answer(true)">
        {{"SEND_MESSAGE" | translate}}
      </md-button>
    </div>
  </form>
  </form>
</div>
<!--</md-dialog>-->
