<md-content flex layout-padding layout="row" layout-align="center top" class="reward-details">
  <div flex="15" flex-md="100" flex-sm="100">
    <img data-ng-src="{{item[0].image | profileImageFilter}}"
         alt="{{item.description}}"/>
  </div>
  <div flex="85" flex-md="100" flex-sm="100" ng-if="item.length == 1">
    <h3>{{item[0].description}} <img ng-src="resources/images/rewards/reward_checkmark.png" alt="{{item.type}}"/></h3>
    <span class="reward-item-description">{{item[0].reward_value}} {{"MINUTE" | translate}} {{"EARNED_ON" | translate}} {{item[0].reward_date * 1000 | date:'MMM dd, yyyy'}}</span>
  </div>
  <div flex="85" flex-md="100" flex-sm="100" ng-if="item.length > 1">
    <h3 class="reward-item-title">{{item[0].description}} <img ng-src="resources/images/rewards/reward_checkmark.png" alt="{{item.type}}"/></h3>
    <table class="md-table">
      <thead>
      <th>{{"PERIOD" | translate}}</th>
      <th>{{"DATE" | translate}}</th>
      <th>{{"MINUTE" | translate}}</th>
      </thead>
      <tbody>
      <tr ng-repeat="i in item">
        <td>{{i.details}}</td>
        <td>{{i.reward_date * 1000 | date:'MMM dd, yyyy'}}</td>
        <td>{{i.reward_value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</md-content>