#alert {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  z-index: 99999;

  &.success {
    background: @primary-color;
  }
  &.danger {
    background: @danger;
  }
  &.info {
    background: @info;
    color: black;
  }
  p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: white;
  }
}