.arrow-up {
  padding-top: 45px;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid @light-gray;
}

.arrow-down {
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}