.primo-plan-card {
  margin: 0px;
  //height: 410px;
  text-align: center;
  color: white;
  padding: 40px 30px 30px;
  border-radius: 0;
  box-shadow: none;

  .card-upper {
    img {
      width: 40px !important;
      height: 40px !important;
      display: inline-block;
    }

    .card-title {
      margin-top: 25px;
      margin-bottom: 10px;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0px;
    }
  }

  md-card-content {
    padding: 0 60px;
    height: 90px;

    p {
      color: white;
      margin-top: 0;
      margin-bottom: 10px;
    }

    a {
      margin-top: 0;
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      letter-spacing: 0px;
      color: #1FE8E4;
    }
  }
  md-card-actions {
    margin: 40px 0 0 0;

    button,
    .md-button {
      width: 180px;
      height: 81px;
      margin: 0 auto !important;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0px;
      color: white;
      text-transform: none;
      background-color: @primary-color;
    }

    a {
      margin: 0 auto !important;
      line-height: 81px;
    }
  }

  &:hover {
    .opacity(0.8);
    .transition(0.1);
  }

}

@media (max-width: 768px) {
  .primo-plan-card {
    md-card-actions {
      button, a {
        width: 200px;
      }
    }
  }

}

@media (max-width: 1280px) {
  .primo-plan-card {
    md-card-content {
      padding: 0;
    }
    md-card-actions {
      button, a {
        width: 200px;
      }
    }
  }
}