md-dialog {

  &.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

md-toolbar {
  background: @primary-color !important;
}