#primo-footer {
  min-height: 439px;
  background-color: white;

  .footer-inner {
    padding-top: 80px;

    .flex-20 {
      padding: 0 15px;
    }

    .flex-40 {
      padding-left: 0;
      padding-right: 60px;
    }

    .flex-20:last-child {
      padding-right: 0;
    }

    .footer-logo {
      margin-bottom: 18px;
    }

    .description {
      padding-right: 60px;
    }

    .copyright {
      margin-top: 30px;
    }

    .download-btns {
      padding: 0;

      i {
        margin-bottom: 10px;
      }
    }

    .social-icons {
      img {
        height: 24px;
      }

      .flex-20 {
        padding: 0;
      }
    }

    p {
      font-size: 16px;
    }

    a {
      font-family: "OpenSans", sans-serif;
      font-size: 16px;
    }

    h4 {
      color: @text-gray;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  #download-mobile {
    display: table !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: @primary-color;
    z-index: 999;
    text-decoration: none;
    text-align: center;

    a {
      color: white;
    }
  }

  #download-mobile-mobile {
    display: none;
  }
}

#download-mobile {
  display: none;
}