md-input-container {

  .md-input {
    min-height: 45px !important;
    height: 45px !important;
  }

  label {
    &:after {
      display: none;
    }
  }

  .md-placeholder,
  label:not(.md-no-float):not(.md-container-ignore) {
    margin-bottom: -7px;
    margin-left: 11px;
  }

  &.md-input-focused label:not(.md-no-float),
  &.md-input-has-placeholder label:not(.md-no-float),
  &.md-input-has-value label:not(.md-no-float) {
    margin-bottom: 0;
    margin-left: 0;
  }

  .md-char-counter {
    display: none;
  }

}

button {
  &[disabled] {
    opacity: .6;
  }
}
