input, textarea, select {
  .border-radius(4px);
  border: 1px solid rgba(108, 135, 134, .5) !important;
  color: @text-black !important;
  min-height: 45px;
  padding: 10px !important;
  background: transparent;

  &:active, &:focus {
    border: 1px solid @primary-color !important;
  }
  
  &:disabled {
    border: 1px solid rgba(108, 135, 134, .3) !important;
    color: @text-gray !important;
  }
}
