.primo-see-countries-card {
  border: 1px solid @dark-gray !important;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 15px;
  padding: 0 !important;
  text-align: center;
  background-color: @primary-color;

  .card-upper {
    height: 143px;
  }

  p {
    color: white;
  }
  s
  .card-title {
    color: @text-gray;
    margin-bottom: 40px;
    display: block;

    img {
      height: 60px !important;
      width: auto;
      margin: 0 auto !important;
    }
  }

  .md-subhead {
    margin-bottom: 26px;
    display: block;
  }

  md-card-actions {
    margin: 0 !important;
    padding: 0 !important;
    a, button {
      font-weight: bold;
      line-height: 27px;
      letter-spacing: 0px;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      height: 81px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      text-transform: none;
      background-color: @primary-color;
      font-size: 18px !important;
      color: #fff;
      span {
        font-size: 24px !important;
        padding: 0;
        color: #fff;
      }
    }
  }

}
