.primo-connect-card {
  border: 1px solid @dark-gray !important;
  min-height: 460px;
  width: 360px;
  border-radius: 8px;
  box-shadow: none;
  margin: 5px 15px;
  padding: 10px 0 0 0;
  text-align: center;

  md-card-content {
    text-align: center !important;
    &.card-upper {
      height: 294px;

      img {
        &.flag {
          width: 50% !important;
        }
      }
    }
    padding: 0;

    span {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0;
      color: @text-gray;
    }

    a {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0;
      color: @primary-color;
      padding: 9px 30px;
      padding-left: 0;
      text-align: right;
    }

    .md-subhead {
      margin-bottom: 12px;
      display: block;

      &.small {
        p {
          font-size: 15px;
        }
      }
      button {
        small {
          font-size: 15px;
        }
      }

      p {
        font-family: "OpenSans", sans-serif;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0;
        color: @text-gray;
        margin: 0;
      }

      a {
        font-family: "OpenSans", sans-serif;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0;
        margin-top: 4px;
      }

      .select-style {
        background: #fff url('../images/dropdown_icon.png') no-repeat 92% 50%;
        overflow: hidden;
        border: 1px solid @text-gray;
        border-radius: 8px;
        margin-top: 26px;
        height: 54px;

        select {
          width: 130%;
          height: 54px;
          font-family: "OpenSans", sans-serif;
          font-size: 32px;
          line-height: 0;
          letter-spacing: 0;
          color: @text-gray;
          border: none;
          text-align: left;
          background-color: transparent;
          margin-left: 20px;
          outline: none;
          padding-left: 5px;
        }

        select:focus, select:active, a:selected, a:visited {
          outline: none;
        }

        select:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 @text-black;
        }

      }

      .last-card-dropdown {

        span {
          margin-top: 26px;
          font-family: "OpenSans", sans-serif;
          line-height: 50px;
          letter-spacing: 0;
          color: @text-gray;
          text-align: right;
        }
      }

    }

  }

  .card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 0;
    color: @text-gray;
    display: block;
  }

  md-card-actions {
    margin: 0;

    a {
      padding: 25px !important;
    }
    button, a {
      font-family: "OpenSans", sans-serif;
      font-weight: bold;
      line-height: 27px;
      letter-spacing: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      height: 81px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      text-transform: none;
      background-color: @primary-color;

      span {
        font-size: 24px !important;
        padding: 0;
        color: #fff;
      }
    }

  }

  .md-menu {
    > .md-button {
      font-size: xx-large;

      small {
        opacity: .5;
      }

      img {
        vertical-align: middle;
      }
    }
  }

}