primo-credit-card {
  &.auto-size {
    .primo-rate-card {
      min-width: 150px;
      width: initial !important;
    }
  }

  md-card {
    height: 359px !important;
  }
  .card-upper {
    padding-top: 0 !important;
    height: 290px !important;
    .card-title {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0;
      color: #6C8786;
      margin-bottom: 40px;
      display: block;
    }
  }
  md-card-actions {
    a {
      height: 73px !important;
    }
  }
  outline: none;
  &.active {
    .primo-rate-card {
      background-color: @primary-color;
      color: white;

      h2, p {
        color: white;
      }
    }
  }
}

primo-rate-card {
  &.small {
    margin-bottom: 20px;
    .primo-rate-card {
      width: auto !important;
      .card-upper {
        height: 150px;
        padding-top: 20px;
        .card-title {
          margin-bottom: 0;
          h2 {
            font-size: 1.5em;
            margin: 10px 0 0;
          }
        }
      }
    }
  }
}

.primo-rate-card {
  border: 1px solid @dark-gray !important;
  width: 300px;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 15px;
  padding: 0px !important;
  text-align: center;

  .card-upper {
    padding-top: 40px;
    height: 274px;
  }

  .card-title {
    color: @text-gray;
    margin-bottom: 40px;
    display: block;

    img {
      height: 60px !important;
      width: auto !important;
      margin: 0 auto !important;
    }
  }

  .md-subhead {
    margin-bottom: 26px;
    display: block;
  }

  md-card-actions {
    margin: 0 !important;
    padding: 0 !important;

    a {
      padding: 30px !important;
    }

    a, button {
      font-weight: bold;
      line-height: 27px;
      letter-spacing: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      height: 81px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      text-transform: none;
      background-color: @primary-color;

      span {
        font-size: 24px !important;
        padding: 0;
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
  .primo-rate-card {
    .md-subhead {
      p {
        font-size: 1em !important;
      }
    }
  }
}