md-card {
  &.primo-mini-card {
    &.green {
      background-color: @primary-color;
    }
    .border-radius(8px);
    border: 1px solid @dark-gray !important;
    .card-upper {
      padding-top: 10px;
      width: 100px;

      img {
        height: 60px !important;
        width: 100px !important;
        margin: 0 auto !important;
      }

      .card-title {
        color: @text-gray;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}