.yellow-button {
  .primo-button(#ffffff, #CC00FF);
}

.blue-button {
  height: 81px !important;
  margin: 10px auto !important;
  font-family: "OpenSans", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 1.5 !important;
  letter-spacing: 0 !important;
  color: #fff !important;
  text-transform: none !important;
  background-color: @primary-color !important;
  padding: 20px;
  width: 350px;

  &.auto {
    width: auto;
    height: 40px !important;
    font-size: 12px !important;
    margin: 5px !important;
    line-height: .5 !important;
  }

  &.small {
    width: 200px;
    height: 40px !important;
    font-size: 12px !important;
    margin: 5px !important;
    line-height: .5 !important;
  }

  &.button-auto-width {
    width: auto;
    height: 40px !important;
    font-size: 12px !important;
    margin: 5px !important;
  }
}

@media only screen and (max-width: 600px) {
  .blue-button {
    width: 100%;
  }
}