#profile-picture {
  img {
    width: 261px;
    display: block;
    cursor: pointer;
  }

  .thumbnail {
    width: 205px;
    height: 205px;
    display: block;
  }
  .thumbnail:hover span.text-content {
    opacity: 1;
  }

  span.text-content {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: table;
    height: 54px;
    position: relative;
    top: -54px;
    left: 0px;
    width: 261px;
    text-align: center;
    opacity: 0;
    font-size: 18px;
  }
}