.select-style {
  background: #fff url('../images/dropdown_icon.png') no-repeat 92% 50%;
  overflow: hidden;
  border: 1px solid rgba(108, 135, 134, .5);
  border-radius: 4px;
  height: 45px;
  margin: 0;

  &.select-style-disabled {
    background: none;
    border-color: transparent;
    color: @text-gray;
  }

  .md-select-icon {
    display: none;
  }
  .md-select-value {
    border: none;
  }
  select {
    width: 130%;
    height: 45px;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    line-height: 0px;
    letter-spacing: 0px;
    color: @text-black;
    border: none;
    text-align: left;
    background-color: transparent;
    padding-left: 5px;
    outline: none;

    &:disabled {
      color: @text-gray;
    }

  }

  select:focus, select:active, a:selected, a:visited {
    outline: none;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 @text-black;
  }

}