#submenu {
  display: block;
  position: relative;
  z-index: 10 !important;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition: border .15s ease-out;
  transition: border .15s ease-out;
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 60px;

  ul {
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 186, 188, .3);
    cursor: pointer;
    list-style-type: none;
    outline: none;
    height: 64px;
    padding: 0;

    li {
      outline: none !important;
      padding: 10px;
      border: none;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: @text-gray;
      margin: 0 0 5px;

      &.active {
        border-bottom: 2px solid @primary-color;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  #submenu {
    ul {
      li {
        font-size: 0.7em;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) {
  #submenu {
    ul {
      li {
        font-size: 0.85em;
      }
    }
  }
}