<div id="banner__wrapper">
      <div class="container">
        <div class="col-sm-9 row banner_content">
          <div class="banner_title">
            <h1>Buy Books</h1>
          </div>
          <div class="banner_form">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab" href="#buy">Buy</a></li>
              <li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
            </ul>
            <div class="tab-content">
              <div id="buy" class="tab-pane fade in active">
                <form ng-submit="bookSearchByTitle(search)">
                  <input type="text" ng-model="search.title" placeholder="Enter an ISBN, author, title, or keyword" />
                  <button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
                </form>
              </div>
              <div id="sell" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner ends -->
    
    <!-- tesimonial starts -->
    <div id="testimonial__wrapper" class="bg_grey">
      <div class="container">
        <div class="testi_detail">
          <div class="testi_user floatL">
            <img src="resources/images/testi_user_pic.jpg" />
          </div>
          <div class="testi_content floatL">
            <p>"This is the first time I've ever used Textbook Rush and so far the process has been very quick and simple! I will recommend them to friends and use them in the future! Awesome!!"</p>
            <p class="user_name">- Katie E.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- tesimonial ends -->
    
    <!-- heading section starts -->
    <div id="heading_section">
      <div class="container">
        <div class="heading_highlight text-center">
          <h2>Some Heading</h2>
          <p>We're the leading online resource in finding scholarships to help you pay for school</p>
        </div>
        <div class="row heading_detail">
          <div class="col-md-4">
            <h4>Buy from us. Here's why:</h4>
            <p>Why should TextbookRush be your textbook destination? Watch the video to find out.</p>
            <a href="javascript:void(0)">Watch Video</a>
          </div>
          <div class="col-md-4">
            <h4>Get it shipped today!</h4>
            <p>Orders placed before 2pm EST will be shipped out from our warehouse on the same day the order was placed. This excludes holidays and weekends.</p>
          </div>
          <div class="col-md-4">
            <h4>Buy international textbooks</h4>
            <p>Get exactly the same content and save up to 80%! Save a stack of cash by buying international.</p>
            <a href="javascript:void(0)">Get Started ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- heading section ends -->
    
    <!-- marketplace section starts -->
    <div id="marketplace_section" class="bg_blue text-center">
      <div class="container">
        <h2>Enjoy Marketplace Saving Every Day.</h2>
        <div class="row marketplace_detail">
          <div class="col-md-4">
            <div class="market_icon">
              <img src="resources/images/books.png" />
            </div>
            <div class="market_content">
              <p>Earn up to 2 Times more when selling your books back on our marketplace</p>
            </div>
            <div class="market_link">
              <a href="javascript:void(0)">Sell Your Books</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="market_icon">
              <img src="resources/images/shipping.png" />             
            </div>
            <div class="market_content">
              <p>Free shipping on most orders over $49 and free economy shipping on retail items.</p>
            </div>
            <div class="market_link">
              <a href="javascript:void(0)">Free Shipping</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="market_icon">
              <img src="resources/images/supplies.png" />
            </div>
            <div class="market_content">
              <p>School Supplies Everything you need for back to school</p>
            </div>
            <div class="market_link">
              <a href="javascript:void(0)">School Supplies</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- marketplace section ends -->
    
    <!-- merket section starts -->
    <div id="market_section" class="bg_grey">
      <div class="container">
        <h2 class="text-center">The Marketplace</h2>
        <p style="float: right;" ng-if="selectedCtaName">You selected: {{selectedCtaName}}<p>
        <div class="row">
          <div class="col-md-2">
            <div class="quick_links" ng-repeat="(key, value) in itemList">
                <h4 class="highlight">{{key}}</h4>
                <div class="featured_links" ng-repeat="item in value">
                  <ul>
                    <li style="cursor: pointer;"><a ng-click="searchBookByCategoryId(item.id)">{{item.title}}</a></li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="col-md-10">
          <div class="row">
            <!-- <h4 style="float: right;">Total Books: {{totalTextBook}}</h4> -->
          </div>
            <div class="book_lists">

              <ul>
                <li ng-repeat="item in items">
                  <div class="book_img">
                    <a href="book/{{item.slug}}">
                      <img ng-src="{{ config.primo.smallImagePath + item.image}}" alt="{{item.title}}" height="auto" ng-if="item.image" width="150" />
                    </a>

                    <a href="book/{{item.slug}}">
                      <img ng-src="{{config.primo.noImagePath}}" ng-if="!item.image" width="150" />  
                    </a>
                    
                  </div>
                  <div class="book_detail" style="cursor: pointer;">
                    <p>{{item.title.length > 20 ? item.title.substr(0,20)+"..." : item.title}}</p>
                    <p class="book_author">{{item.author}}</p>
                  </div>
                </li>
              </ul>
              <!-- <img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader"> -->

              <button class="btn btn-success" style="float: right;" ng-disabled="is_disable" ng-if="items.length > 10" ng-click="loadMore()">Load More</button>

              <!-- <pagination 
                  ng-model="currentPage"
                  total-items="items.length"
                  max-size="maxSize"  
                  boundary-links="true">
                </pagination> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- merket section ends -->

    <!-- <script>
        paypal.Button.render({
            env: 'sandbox', // sandbox | production
            client: {
                sandbox:'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: ''
            },
            commit: true,
            payment: function(data, actions) {
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '0.01', currency: 'USD' }
                            }
                        ]
                    }
                });
            },
            onAuthorize: function(data, actions) {
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button-container');
    </script> -->
