<!-- banner starts -->
		<div id="landing_banner__wrapper">
			<div class="col-sm-8 slider_banner_content">
				<!--<img src="resources/images/slider_img.png" />-->
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<!--<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>-->

					<!-- Wrapper for slides -->
					<div class="carousel-inner">

						<div class="item active">
							<img src="resources/images/slider_img.png" />
							<div class="carousel-caption">
								<h3>Created by Professional Athletes for True Fans.</h3>
								<p>Engage with all your favorite athletss!</p>
								<div class="banner_btn_links">
									<a href="javascript:void(0)">Learn More</a>
									<a href="javascript:void(0)">Watch Video</a>
								</div>
							</div>
						</div>

						<div class="item">
							<img src="resources/images/slider_img_1.jpg" />
							<div class="carousel-caption">
								<h3>Created by Professional Athletes for True Fans.</h3>
								<p>Engage with all your favorite athletss!</p>
								<div class="banner_btn_links">
									<a href="javascript:void(0)" class="bg_orange">Learn More</a>
									<a href="javascript:void(0)" class="bg_blue">Watch Video</a>
								</div>
							</div>
						</div>

						<div class="item">
							<img src="resources/images/slider_img.png" />
						</div>

					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<!--<span class="glyphicon glyphicon-chevron-left"></span>-->
						<span class="arrow_link"><i class="fa fa-angle-left"></i></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<!--<span class="glyphicon glyphicon-chevron-right"></span>-->
						<span class="arrow_link"><i class="fa fa-angle-right"></i></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col-sm-4 login_signup_form">
				<ul class="nav nav-tabs">
					<li class="active col-sm-6"><a data-toggle="tab" href="#signup">Sign Up</a></li>
					<li class="col-sm-6"><a class="bg_grey_dark" data-toggle="tab" href="#login">Log In</a></li>
				</ul>
				<div class="direct_signup">
					<ul>
						<li class="fb_signup"><a href="javascript:void(0)"><i class="fa fa-facebook"></i> Sign Up</a></li>
						<li class="go_signup"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i> Sign Up</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="signup" class="tab-pane fade in active">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search Primary School" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search College" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search State" />
							</div>
							<button type="button" class="btn-primary no_border btn">Add School</button> OR
							<button type="submit" class="btn-primary no_border btn"><img src="resources/images/long-arrow.jpg" /></button>
						</form>
					</div>
					<div id="login" class="tab-pane fade">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search Primary School" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search College" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search State" />
							</div>
							<button type="submit" class="btn-primary no_border btn">Add School</button> OR
						</form>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- banner ends -->
		
		<!-- Partners Logos -->
		<div class="partner_logos">
			<ul>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_1.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_2.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_3.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_4.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_5.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_6.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_7.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_8.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_9.png" /></a></li>
				<li><a href="javascript:void(0)"><img src="resources/images/logo_10.png" /></a></li>
			</ul>
		</div>
		<!-- Partners Logos End -->
		
		<!-- heading section starts -->
		<div id="why_we_wre_section">
			<div class="self_lists">
				<div class="col-lg-3 col-sm-6 color_purple">
					<div class="counter_title">
						<p class="c_number">125,486</p>
						<p class="icon"><i class="fa fa-save"></i></p>
						<p class="c_title">Cheap textbooks</p>
						<p class="c_adr">Australia's biggest textbook market.</p>
						<p class="c_text">100% free, no commisson.</p>
					</div>
					<div class="go_link_btn">
						<a href="/textbooks"><i class="fa fa-angle-right"></i> Go</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 color_mustud">
					<div class="counter_title">
						<p class="c_number">2,153</p>
						<p class="icon"><i class="fa fa-handshake-o"></i></p>
						<p class="c_title">Helpful tutors</p>
						<p class="c_adr">Get a tutor early. Avoid the stress of tough subjects.</p>
						<p class="c_text">Tutors covering 19,370 subjects.</p>
					</div>
					<div class="go_link_btn">
						<a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Go</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 color_green">
					<div class="counter_title">
						<p class="c_number">14,760</p>
						<p class="icon"><i class="fa fa-file-text"></i></p>
						<p class="c_title">Subject notes</p>
						<p class="c_adr">High quality subject notes for better exam prep.</p>
						<p class="c_text">Boost your marks.</p>
					</div>
					<div class="go_link_btn">
						<a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Go</a>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 color_blue">
					<div class="counter_title">
						<p class="c_number">58,822</p>
						<p class="icon"><i class="fa fa-star"></i></p>
						<p class="c_title">Subject ratings</p>
						<p class="c_adr">Which subjects are great?</p>
						<p class="c_text">Vote early and vote often.</p>
					</div>
					<div class="go_link_btn">
						<a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Go</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- heading section ends -->