<div id="banner__wrapper">
	<div class="container">
		<div class="col-sm-9 row banner_content">
			<div class="banner_title">
				<h1>Buy Books</h1>
			</div>
			<div class="banner_form">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#buy">Buy</a></li>
					<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
				</ul>
				<div class="tab-content">
					<div id="buy" class="tab-pane fade in active">
						<form>
							<input type="text" placeholder="Enter an ISBN, author, title, or keyword" />
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>
					</div>
					<div id="sell" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner ends -->
		
<!-- main content starts -->
<div id="testimonial__wrapper" class="bg_grey_light">
			<div class="container">
				<div class="rank_title">
					<!-- <p>30 events found...</p> -->
					<p></p>
				</div>
				<div class="row">
					<div class="col-sm-12 job_details">
						<div class="container_block job_detail_list padding__0">
							<div class="job_body no_border">
								<span  ng-click="jobAddToFavorite(item.id)" class="fav_select"><i class="fa fa-star" aria-hidden="true"></i></span>
								<div class="job_title">
								<a href="#!/jobs/desciption">{{ item.title | limitTo: 50 }}{{ item.title.length > 50 ? '...' : ''}}</a>
								</div>
								<div class="job_comp">{{item.industry}}</div>
								<div class="job_location_exp">
									<span class="job_exp"><i class="fa fa-briefcase" aria-hidden="true"></i> {{item.min_experience ==null ? 0 : item.min_experience}}-{{item.max_experience ==null ? 0 :item.max_experience}}yrs</span>
									<span><i class="fa fa-map-marker" aria-hidden="true"></i> {{item.job_location.length > 0 ? item.job_location : 'None'}}</span>
								</div>
								<div class="job_apply_btns">
									<a href="javascript:void(0)" ng-click="jobApply(item.id)" class="bg_orange hand_cursor">Apply</a>
									<a href="javascript:void(0)" ng-click="seeRecruiterNumber(item.id)" class="rcur_btn hand_cursor">See recruiter number</a>
								</div>
								<div class="social_icon_btns">
									<a href="javascript:void(0)" class="fb"></a>
									<a href="javascript:void(0)" class="twtr"></a>
									<a href="javascript:void(0)" class="linkdin"></a>
									<a href="javascript:void(0)" class="t_social"></a>
									<a href="javascript:void(0)" class="gplus"></a>
									<a href="javascript:void(0)" class="n_social"></a>
									<a href="javascript:void(0)" class="pintrest"></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="refine_results container_block padding__0">
							<ul>
								<li><p class="frm_title">Refine Results</p></li>
								<li class="rslt_cnt">
									<p><span class="refine_title">Colleges</span><span class="part_col">:</span>{{item.colleges}}</p>

									<p><span class="refine_title">industry</span><span class="part_col">:</span>{{item.industry}}</p>
									
									<p><span class="refine_title">Max Salary</span><span class="part_col">:</span>{{item.max_salary ? item.max_salary : 0}} <span ng-if="item.salary_type">{{ (item.salary_type == 1) ? ' /Hourly' : (item.salary_type==2)? '/Weekly' : (item.salary_type) ? ' /Montly': (item.salary_type == 3) ? '/Quarterly' : 'Yearly' }}</span></p>

									<p><span class="refine_title">In Campus</span><span class="part_col">:</span>{{item.in_campus ? item.in_campus : ''}}</p>

									<p><span class="refine_title">Job Type</span><span class="part_col">:</span>{{item.job_type ? item.job_type : ''}}</p>

									<p><span class="refine_title">Recruiter Website</span><span class="part_col">:</span>{{item.recruiter_website ? item.recruiter_website : ''}}</p>

								</li>
							</ul>
						</div>
						<div class="refine_results container_block padding__0">
							<ul>
								<li><p class="frm_title">Job Description</p></li>
								<li class="rslt_cnt">
									<pre><p>{{item.description}}</p></pre>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- tesimonial ends -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Recruiter Details.</h4>
      </div>
      <div class="modal-body">
    </br>Name: &nbsp;&nbsp;{{recruiter.first_name}} &nbsp;{{recruiter.last_name}}
    </br>Phone No: &nbsp;&nbsp;{{recruiter.phone_no ? recruiter.phone_no :'+91 XXXX-XXXX-XX'}}
    </br>Email: &nbsp;&nbsp;{{recruiter.email ? recruiter.email :''}}
      </div>
      <div class="modal-footer">
      	<!-- <button type="button" class="btn btn-default" ng-click="searchSearchLocation()" data-dismiss="modal">OK</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- main content ends