<div id="banner__wrapper" class="big_banner event_banner">
  <div class="container">
    <div class="col-sm-9 row banner_content">
      <div class="banner_title">
        <h1 class="event_banner_title">Bring People Together</h1>
        <p class="event_banner_subtitle">Create Events, Sell Tickets Online and Share Events.</p>
      </div>
    </div>
  </div>
</div>

<div id="heading_section">
      <div class="container">
        <div class="heading_highlight text-center">
          <p class="semibold">Find your Next Experience</p>
        </div>
        <div class="event_srch_form">
          <form ng-submit="searchEvents(search)">
            <input type="text" placeholder="Search Events" ng-model="search.title">
            <input type="text" placeholder="Search State : Euless" ng-model="search.state">
            <!-- <select ng-model="search.date">
              <option ng-value="">All Dates</option>
              <option ng-value="today">Today</option>
              <option ng-value="tomorrow">Tomorrow</option>
              <option ng-value="week">This Week</option>
              <option ng-value="later">Later</option>
            </select> -->
            <button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
          </form>
        </div>
        <div class="heading_highlight text-center">
          <!-- <p class="event_venue">Events for you in <span class="semibold">Euless, Tx</span></p> -->
        </div>
        <div class="row events_lists">
          <div class="col-md-4" ng-repeat="item in items">
            <div class="event_img">
                <a href="event/{{item.slug}}">
                  <img ng-src="{{config.primo.mediumImagePath + item.image}}" alt="" height="auto" width="100%" ng-if="item.image" />
                  <img ng-src="{{config.primo.noImagePath }}" alt="" height="auto" width="100%" ng-if="!item.image" />
                </a>
            </div>
            <div class="event_detail container_block">
              <p>{{item.start_date | date }}</p>
              <p class="event_title"{{item.title}}</p>
              <p>{{ item.address | limitTo: 30 }}{{ item.address.length > 30 ? '...' : ''}}</p>
            </div>
            <div class="event_bottom container_block">
              <p>#Business <span>#Convention</span></p>
              <ul>
                <li><a href="javascript:void(0)"><span class="upload_icon"><img src="resources/images/upload_icon.png"></span></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="text-center job_apply_btns">
          <a class="bg_orange">See More</a>
        </div>
        <div class="row events_categories">
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_1.jpg">
              </div>
              <div class="event_cate_name">
                <p>Business &amp; Technology</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_2.jpg">
              </div>
              <div class="event_cate_name">
                <p>Conventions</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_3.jpg">
              </div>
              <div class="event_cate_name">
                <p>Travel</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_4.jpg">
              </div>
              <div class="event_cate_name">
                <p>Sports</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_5.jpg">
              </div>
              <div class="event_cate_name">
                <p>Education</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="cate_list">
              <div class="event_cate_img">
                <img src="resources/images/evnt_img_6.jpg">
              </div>
              <div class="event_cate_name">
                <p>Spcial</p>
              </div>
            </div>
          </div>
        </div>
        <div class="heading_highlight">
          <p class="semibold">Most Viewed</p>
        </div>
        <div class="row most-viewed_lists">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-1.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-2.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-3.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-4.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-5.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-6.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-6.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-5.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-4.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-3.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-2.jpg">
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="viewed_img">
              <img src="resources/images/viewed-1.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>

