<div layout="column" layout-gt-sm="row">
  <select ng-model="model.prefix" ng-disabled="isDisabled" ng-options="country.code as (country.iso + ' (+' + country.code + ')') for country in countries"></select>

  <input ng-model="model.number"
         required
         ng-attr-placeholder="{{placeholder}}"
         ng-disabled="isDisabled"
         aria-label="number">
</div>
<div class="md-errors-spacer"></div>
