#account-profile {
  margin: 0 auto;
  background-image: url('../images/homepage_map_bg.jpg');
  background-size: cover;
  padding-bottom: 0;

  .primo-container {
    padding: 0;

    form {
      margin-bottom: 0;
    }
  }

  .info-form {
    min-height: 335px;
  }

  .profile-top {
    padding-bottom: 15px;

    h1 {
      font-family: "OpenSansLight", sans-serif;
      font-weight: 100;
      font-size: 36px;
      line-height: 62px;
      color: @text-gray;
      margin-bottom: 0;
    }

    .blue-button {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 323px;
      height: 54px;
      text-transform: none;
      margin-top: 18px;
      margin-bottom: 0;
    }
  }

  .primo-number-div {
    background: #1a1a1a;
    color: @primary-color;
  }

  .primo-profile-div {
    background: #9E9E9E;
    margin: 0;
    padding: 0;
  }

  .content-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .side-nav {
    background: white;

    #profile-picture {
      .thumbnail {
        width: 100%;
        height: 261px;

        img {
          height: 261px;
          width: 261px;

        }

        .text-content {
          background: @text-black;

          span {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 54px;
          }
        }
      }

      .thumbnail:hover .text-content {
        opacity: 0.7;
      }
    }

    .side-menu {
      margin: 30px 0 0 30px;

      a {
        font-family: "OpenSans", sans-serif;
        font-size: 18px;
        margin-bottom: 18px;

        .icon {
          width: 24px;
          height: 24px;
          margin-right: 18px;
          vertical-align: middle;
        }
      }

      .spacer {
        width: 100%;
        height: 42px;
      }

      h5 {
        margin-top: 32px;
        margin-bottom: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: @text-gray;
      }

      .download-btns {
        a .icon {
          margin-bottom: 9px;
        }
      }
    }
  }

  .profile-area {
    background: @light-gray;
    padding: 30px;
    max-width: 877px;
    margin: 0;

    form {
      .primo-card {
        margin: 0 30px 0 0;
        padding-bottom: 7px;
        border-radius: 4px !important;
        color: @text-gray;

        .edit-btn {
          margin-bottom: 15px;

          &[disabled] {
            opacity: .5;
          }

          &:nth-child(n+1) {
            margin-left: 15px;
          }

          img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
          }
        }

        md-progress-linear {
          display: none;
        }

      }

      &.editing-false {
        input, select, option {
          border: none !important;
          background: transparent;
          padding-left: 0 !important;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
        }

        md-input-container {

          label {
            bottom: 85%;
            color: #6C8786;
            margin-left: 0;

            &:after {
              display: none;
            }

          }
        }

        .name {
          font-family: OpenSans,sans-serif;
          font-size: 36px;
          font-weight: 100;
          line-height: 36px;
          color: @text-gray;
          margin-top: -25px;
          word-wrap: break-word;
        }

        .location {
          input {
            font-family: OpenSans,sans-serif;
            font-size: 24px;
            font-weight: 100;
            line-height: 36px;
          }
        }

        .md-char-counter {
          visibility: hidden;
        }

        [ng-messages] {
          display: none;
        }

        .md-errors-spacer {
          display: none;
        }

      }

      &.editing-true {
        md-input-container {
          margin: 10px 0;
        }
      }

    }

    .invite {

      .primo-plan-card {
        background-image: url('../images/free_minutes_bg.jpg');
        background-size: cover;
        background-position: center;
        height: auto;
      }
    }

    .primo-plan-card {
      border-radius: 4px;
      padding: 30px;
      height: 100%;

      .card-upper img {
        width: 46px !important;
        height: 53px !important;
        margin: 20px 0;
      }

      .card-title {
        font-family: "OpenSans", sans-serif;
        font-size: 24px;
        font-weight: 100;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 60px;
      }

      md-card-actions {
        margin: 0;

        button, a {
          width: 100%;
          height: 54px;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 16px;
          margin: 0;
        }

        a {
          line-height: 54px;
        }
      }

    }

    .balances {
      width: 100%;
      padding: 0 !important;

      h1 {
        margin-top: 14px;
        margin-bottom: 15px;
        color: @primary-color;
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 36px;
      }

      .primo-plan-card {
        margin: 0 10px;
        padding: 0;
        height: 270px;
        color: @text-gray;
        width: 100%;

        .card-upper {
          padding-top: 25px;

          img {
            width: 30px !important;
            height: 30px !important;
            margin: 0;
          }

          .card-title {
            margin-top: 10px;
            margin-bottom: 40px;
            font-family: "OpenSans", sans-serif;
            font-size: 18px;
            line-height: 18px;

            .current-plan {
              font-style: italic;
              font-weight: 400;
            }
          }
        }

        md-content {
          background-color: white;
          overflow: hidden;

          .minutes {
            font-family: "OpenSans", sans-serif;
            font-size: 24px;
            line-height: 24px;
            color: @primary-color;
            margin-bottom: 40px;
            display: block;
          }

          .expiration {
            font-family: "OpenSans", sans-serif;
            font-size: 14px;
            color: @text-gray;
            margin-bottom: 15px;
            display: block;
          }
        }

        button, a {
          width: 100%;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      .primo-plan-card:nth-child(1) {
        margin-left: 0;
      }

      .primo-plan-card:nth-child(3) {
        margin-right: 0;
      }
    }

    .quick-links {
      width: 100%;
      padding: 0 !important;

      h1 {
        margin-top: 19px;
        margin-bottom: 20px;
        color: @primary-color;
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 36px;
      }

      img {
        width: auto;
        height: 64px;
        margin: 15px 0;
      }

      .primo-card {
        width: 100%;
        padding: 15px;
        margin: 0;
      }

    }

    .change-password {

      .close-button {
        text-align: right;
        display: block;

        img {
          width: 40px;
          height: 40px;
        }
      }

      form {
        width: 100%;
      }

      h1 {
        margin-bottom: 20px;
        color: @primary-color;
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 36px;
      }

      .primo-card {
        padding: 0;
        height: 330px;
      }

      .primo-plan-card {
        padding: 0;

        md-content {
          background-color: white;
          overflow: hidden;
          padding: 30px 30px 0 30px;
          border-radius: 4px;

          md-input-container {
            margin: 0 0 15px;
            label {
              text-align: left;
            }

            .md-input-messages-animation {
              text-align: left;
            }
          }
        }

        button {
          width: 100%;
          height: 81px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          font-size: 24px;
        }

        button:disabled {
          background-color: @text-gray;
          color: white;
        }
      }
    }

  }

  @media screen and (max-width: 1200px) {
    .profile-top {
      margin-top: 40px;
    }

    .info-form {
      margin-bottom: 30px !important;
    }

    .contact-info {
      margin: 0 !important;
    }
  }

  @media screen and (max-width: 960px) {
    .balances {
      md-card {
        margin: 0 0 20px !important;
      }
    }

    .contact-info .editing md-input-container:nth-child(2) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .primo-card {
      padding: 30px 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    .flex-gt-sm-70 {
      max-width: 70% !important;
    }

    .flex-gt-sm-30 {
      max-width: 30% !important;
    }
  }

}