.auth-page {
  background: url('../images/auth_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  overflow: auto;

  .middle {
    width: 460px;
    max-width: 90%;
    margin: 20px auto;
    text-align: right;

    .close-button {
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;

        @media (min-width: 768px) {
          margin-right: -60px;
          margin-bottom: 20px;
        }

      }
    }

    md-content {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 17px 17px 0;
      text-align: left;

      @media (min-width: 768px) {
        padding: 30px 30px 0 30px;
      }

      .logo {
        width: 127px;
        height: 34px;
        padding: 0;
        margin: 0 0 25px 0;
      }

      md-input-container {
        margin: 0 0 20px;
        padding: 0;
        text-align: left;
        .md-char-counter {
          display: none;
        }

        &.nomargin {
          margin: 0 !important;
        }

        label {
          color: @text-black;

          &:after {
            display: none;
          }

          &.md-placeholder,
          &:not(.md-no-float):not(.md-container-ignore) {
            margin-bottom: -6px;
          }

        }

        &.md-input-focused label:not(.md-no-float),
        &.md-input-has-placeholder label:not(.md-no-float),
        &.md-input-has-value label:not(.md-no-float) {
          margin-bottom: 0;
          margin-left: 0;
        }

        .form-control {
          padding: 0 10px;
          height: 45px;
          border: 1px solid rgba(108, 135, 134, 0.30);
          border-radius: 4px;
          font-family: "OpenSans", sans-serif;
          font-size: 18px;
          color: @text-gray;
        }

        .form-control:focus {
          border: 1px solid @primary-color;
          border-radius: 4px;
        }
      }
    }

    #submitButton {
      background: @primary-color;
      border-radius: 0 0 4px 4px;
      width: 100%;
      height: 81px;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 24px;
      text-transform: none;
      margin: 0;
      box-shadow: none;
    }

    #submitButton:disabled {
      background: @text-gray;
    }

    .links-wrapper {
      margin-top: 15px;
      text-align: left;

      a {
        font-family: "OpenSans", sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: @primary-color;
      }

      .forgot-password {
        float: right;
      }
    }

  }

  @media (max-width: 600px) {
    .links-wrapper {
      a {
        width: 100%;
        float: left;
        text-align: center;
      }
    }
  }
}