#country-search {

  padding-left: 30px;
  padding-right: 30px;
  .gradient(#fff, #f2ffff);

  .primo-container {
    width: 100%;
  }

  .primo-profile-div {
    background: white;
  }

  .country-credit-icon {
    margin-top: 1.8vw;
    margin-bottom: 1.8vw;
  }

  .country-credit-expires {
    margin-top: 1.8vw;
    color: green;
    margin-bottom: 2vw;
  }

  .search-bar {
    padding-top: 40px;
    md-autocomplete {
      position: relative;
      top: 0px;
      height: 52px;
      width: 377px;

      md-progress-linear {
        visibility: hidden;
      }
      button {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
    }

    input {
      width: 377px;
      height: 52px;
      padding: 17px 18px;
      color: @text-black;
      background-color: #fff;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      border: 1px solid @dark-gray;
      .border-radiuses(0, 0, 5px, 5px) !important;
    }

    .currency {
      width: 97px;
      height: 54px;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #fff;
      background-color: @primary-color;
      opacity: 0.5;
      text-align: center;
      padding: 17px;
    }

    .search-btn {
      width: 68px;
      height: 54px;
      margin: 0;
      margin-left: -1px;
      background-color: @primary-color;
      color: #fff;
      text-align: center;
      padding: 17px;
      .border-radiuses(5px, 5px, 0, 0);
    }
  }

  .popular {
    padding-top: 22px;
    padding-bottom: 40px;

    > div {
      display: inline-flex;
      text-align: center;
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-gray;
      margin-right: 20px;
    }

    img, object {
      outline: none;
      cursor: pointer;
      width: 34px;
      height: 24px;
      margin-right: 15px;
      vertical-align: middle;
      margin-top: -5px;
    }

    span {
      font-family: "OpenSans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-gray;
      margin-right: 20px;
      display: inline-block;
    }
  }

  .rates-bar {
    background-image: linear-gradient(-50deg, #00FFFD 3%, #0EFDF4 6%, #F4D565 65%, #FD9427 92%, #FF8317 100%);
    background: rgba(0, 89, 88, 0.08);
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 40px;

    .country-wrapper {
      display: inline-block;

      .country-text {
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0px;
        color: @text-gray;
        margin-left: 10px;
        display: inline-block;
      }

      .country-flag {
        width: 70px;
        height: 50px;
        vertical-align: top;
      }
    }

    .row {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
    }

    .rates-wrapper {
      vertical-align: top;
    }
    .rates-wrapper > div {
      padding: 0 35px;
    }

    .rates-prices {
      width: 100%;

      .rates-icon-wrapper {
        padding-top: 5px;
        display: inline-block;
        vertical-align: top;
      }

      .rates-icon {
        height: 40px;
        width: 26px;

        &.landline {
          width: 46px;
        }

        &.mobile {
          padding: 0 10px;
        }

        &.sms {
          width: 46px;
          height: 32px;
          padding-top: 5px;
        }
      }

      .rates-price {
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0px;
        color: @text-gray;
        margin-left: 10px;
      }

    }

  }

  .rates-cards {
    margin-bottom: 80px;
  }

  h3 {
    text-align: center;
  }

  .primo-connect-card {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    min-height: 100px;
    margin: 10px;

    .flag-image {
      width:80%;
    }

    &.disabled {
      background: transparent;
    }

    .card-upper {
      padding-top: 20px;

      .card-title {
        margin-bottom: 15px;
        margin-top: 10px;
      }

      .md-subhead {
        margin-bottom: 0px;
        p {
          font-size: 15px;
        }
        &.small {
          p {
            font-size: smaller;
            line-height: 1.3em;
          }
        }

        .md-button {
          font-size: large;
          font-weight: 900;
        }
      }
    }

    md-card-content {
      margin-left: -20px;
      margin-right: -20px;

      span {
        font-size: 14px;
        padding-left: 10px;
      }

      a {
        font-size: 14px;
        padding-right: 10px;
      }

    }

  }

  @media (max-width: 1366px) {
    min-width: 100%;

    .primo-connect-card {
      .card-upper-country {
        height: 30vw;
      }

      .card-upper-credit {
        height: 22vw;
      }

      .card-upper-did {
        height: 22vw;
      }

      .flag-image {
        height:10vw;
        width:80%;
      }
    }

    .country-price {
      margin-top: 2vw;
    }

  }

  @media (max-width: 960px) {

    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;

    h3 {
      font-size: 4vw;
      color: gray;
    }

    .country-credit-icon {
      margin-top: 6vw;
      margin-bottom: 2vw;
      width: 60px;
    }

    .country-credit-expires {
      margin-top: 3vw;
      color: green;
      margin-bottom: 2vw;
    }

    .popular-country-card {
      font-size: 50px;
    }

    .country-card {
      margin: 7px;
      padding-left: 5px;
      padding-right: 5px;

    }

    .primo-connect-card {
      font-size: 16px;
      min-height: 100px;
      height: auto;

      .card-title {
        font-size: 15px;
      }

      .flag-image {
        height:15vw;
        width:80%;
      }

      md-card-content {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 10px;

        span {
          padding: 0px;
        }

        md-card-actions {
          margin: auto;

          a {
            height: 8vw;
            padding: 6px !important;

            span {
              font-size: 4vw !important;
              line-height: 6vw;
            }
          }

          button {
            height: 7vw;

            span {
              font-size: 4vw !important;
            }
          }
        }
      }

      .card-upper {
        font-size: 16px;
        padding-top: 2px;

        .md-subhead {
          margin-bottom: 4px;

          .md-button {
            font-size: 4vw;
          }

          .country-price {
            min-height: 10px;
            height: auto;
            line-height: 6vw;
          }

          p {
            color: black;
            font-family: OpenSansLight, sans-serif;
          }
        }

        .card-title {
          font-size: 3vw;
          margin-top: 5px;
          margin-bottom: 5px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden
        }

        .country-card-title {
          margin-top: 3vw;
          margin-bottom: 3vw;
        }
      }

      .card-upper-country {
        height: 49vw;
      }

      .card-upper-credit {
        height: 34vw;
      }

      .card-upper-did {
        height: 34vw;
      }
    }

    #country-search {
      margin: 0;
      padding-left: 2px;
      padding-right: 2px;

    }
  }

  @media (max-width: 600px) {
    .primo-connect-card {

      .card-upper {
        .md-subhead {
          .creditto {
            margin-top:2px; 
            margin-bottom:2px;
          }
        }
      }

      .card-upper-country {
        height: 58vw;
      }

      .card-upper-credit {
        height: 46vw;
      }

      .card-upper-did {
        height: 44vw;
      }

      .flag-image {
        height:17vw;
        width:70%;
      }
    }
  }
}