#download_page {
  background-image: url('../images/homepage_map_bg.jpg');
  background-size: cover;
  text-align: center;
  padding-bottom: 40px;

  .primo-connect-inner {
      display: block;
    }
  
  h1 {
    font-family: "OpenSansLight", sans-serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 54px;
    color: @text-gray;
    margin-top: 40px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
      font-size: 26px;
      width: 100%;
      margin-top: 0;
    }
  }
  
  h4 {
    margin-top: 20px;
  }

  .download-button-wrapper {

    .blue-button {
      display: inline-block;
      width: ~"calc(50% - 20px)";
      margin: 10px !important;

      @media (max-width: 600px) {
        width: ~"calc(100% - 10px)";
        font-size: 19px !important;
        height: 72px !important;
        margin: 0 0 10px !important;
      }}

      span {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
    }

  }

  .download-button-wrapper + img {
    margin-top: 70px;
    width: 100%;
    max-width: 777px;
  }

  @media only screen and (max-width: 600px) {
      
      h1 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
      }
      

    section {
      margin: 40px 0;
      
      h1 {
        margin-top: 40px;
      }
      
      .padded {
        margin-bottom: 40px;
      }
    }
  
}
