#faq {

  .cd-hero-slider li {
    background-image: url('../images/hero/boy_with_the_bell.jpg');
  }

  .cd-hero-slider .cd-full-width {
    padding-top: 130px;
  }

  .search-bar {
    padding-top: 20px;
    padding-bottom: 30px;

    md-input-container {
      label {
        display: none;
      }
    }

    input {
      width: 449px;
      height: 53px !important;
      padding: 17px 30px !important;
      color: @text-black;
      background-color: #fff;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      border: 1px solid @dark-gray;
      .border-radiuses(0, 0, 5px, 5px) !important;
    }

    .search-btn {
      width: 68px;
      height: 53px;
      margin: 0;
      margin-left: -1px;
      background-color: @primary-color;
      color: #fff;
      text-align: center;
      .border-radiuses(5px, 5px, 0, 0);
      display: inline-block;

      i {
        margin-top: 17px;
      }
    }
  }

  ul {
    outline: none;

    &.faq-menu {
      li {
        float: left;
        list-style-type: none;
        margin: 0;
        text-align: center;
        border: 1px solid @text-gray;
        color: @text-gray;
        cursor: pointer;

        &:hover {
          background-color: @background-color;
        }
        &.active {
          background-color: @background-color;
        }
      }
    }

    li {
      outline: none;
      list-style-type: none;
      cursor: pointer;

      p, a {
        font-size: 18px !important;
      }

      h4 {
        outline: none;
      }
    }
  }

  .primo-container {
    padding: 30px 0;
  }

  .help {
    background-image: url('../images/map_bg.png');
    background-size: cover;
    padding: 100px;

    h1 {
      font-family: "OpenSansLight", sans-serif;
      font-weight: 100;
      font-size: 36px;
      margin: 0;
      color: @text-gray;
    }

    a {
      margin-top: 40px !important;
      text-align: center;
      font-family: "Montserrat", sans-serif !important;
      font-weight: bold !important;
      font-size: 24px;
      border-radius: 4px;
    }
  }

  @media only screen and (max-width: 600px) {
    .cd-hero {
      margin: 0;

      .cd-hero-slider {
        height: 392px;

        .cd-full-width {
          padding-top: 140px;

          h2 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }

    }

    .search-bar {
      padding: 0 30px;

      input {
        width: 100%;
      }

      .search-btn {
        display: none;
      }
    }

    .help {
      padding: 30px;
    }

  }

}

.md-dialog-container {
  z-index: 90 !important;
}

#dialogContent_send {
  width: 650px;
  max-height: 100%;
  box-shadow: none;

  md-dialog-content {
    max-height: ~"calc(100vh - 160px)";
    overflow-y: auto;
    padding: 0 30px 0;

    .header {
      padding: 0;
      margin-bottom: 20px;
      text-align: center;
    }

  }

  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: @text-gray;
    margin: 40px 0 0 0;
  }

  h5 {
    font-family: "OpenSans", sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: @text-gray;
    margin-top: 10px;
    margin-bottom: 0;
  }

  p {
    font-family: "OpenSans", sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: @text-gray;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  form {
    width: 100%;

    .blue-button {
      width: ~"calc(100% + 32px)";
      margin: 0px -16px 0 !important;
    }

    .fields {
      padding: 0 30px 30px 30px;
    }
  }

  md-input-container {
    margin: 10px 0;
    width: 100%;

    input {
      font-size: 18px;
    }

    textarea {
      height: 120px !important;
      font-size: 18px;
    }

    select {
      width: 100%;
    }

    .select-style {
      background: #fff url('../images/dropdown_icon.png') no-repeat 95% 50%;
      overflow: hidden;
      border: 1px solid rgba(108, 135, 134, .5);
      border-radius: 4px;
      height: 45px;
      max-width: 100%;
      width: 100%;

      select {
        width: 130%;
        height: 45px;
        font-family: "OpenSans", sans-serif;
        font-size: 18px;
        line-height: 0px;
        letter-spacing: 0px;
        color: @text-black;
        border: none;
        text-align: left;
        background-color: transparent;
        outline: none;
        padding-left: 5px;
      }

      select:focus, select:active, a:selected, a:visited {
        outline: none;
      }

      select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 @text-black;
      }

    }
  }

  button {
    margin: 0 !important;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    span {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 24px;
    }
  }

}


