#features {

  .cd-hero-slider li {
    background-image: url('../images/features_hero.jpg');
  }

  .cd-hero-slider .cd-full-width {
    padding-top: 60px;

    h2 {
      text-align: left;
      width: 400px;
      margin: 0;
    }

    p {
      text-align: left;
      width: 400px;
      margin: 0;
      margin-top: 10px;
    }
  }

  section {
    div {
      &.padded {
        padding: 30px 0;
        max-width: 70%;

        h1 {
          font-family: "Montserrat", sans-serif !important;
          font-size: 45px;
          line-height: 45px;
        }

        h4 {
          font-family: "Montserrat", sans-serif !important;
          font-size: 16px;
          line-height: 24px;
        }

        p {
          font-size: 16px;
        }
      }

      .image-wrapper {
        max-height: 605px;
        overflow: hidden;
      }

    }

    img {
      width: 100%;
    }

    .blue-button {
      margin-bottom: 0 !important;
      font-family: "Montserrat", sans-serif !important;
      font-weight: bold !important;
      line-height: 81px;
      max-width: 100%;
    }

  }

  #download {
    background-image: url('../images/homepage_map_bg.jpg');
    background-size: cover;
    text-align: center;
    padding-bottom: 40px;

    .primo-connect-inner {
      display: block;
    }

    h1 {
      font-family: "OpenSansLight", sans-serif;
      font-weight: 100;
      font-size: 36px;
      line-height: 54px;
      color: @text-gray;
      margin-top: 40px;
      width: 55%;
      margin-left: auto;
      margin-right: auto;
    }

    .button-wrapper {
      display: inline-block;

      a {
        padding: 0 !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        max-width: 100%;

        span {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          line-height: 81px;
        }
      }
    }

    img {
      margin-top: 70px;
      width: 100%;
      max-width: 770px;
    }
  }

  @media only screen and (max-width: 600px) {
    .cd-hero {
      margin: 0;

      .cd-hero-slider {
        height: 392px;

        .cd-full-width {
          padding-top: 80px;

          h2 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }

    }

    #download {

      h1 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
      }

      .button-wrapper {
        display: inline-block;
        max-width: 100%;


      }
    }

    section {
      margin: 40px 0;

      h1 {
        margin-top: 40px;
      }

      .padded {
        margin-bottom: 40px;
      }
    }
  }
}