#forgot-page {
  md-content {
    text-align: center;
    
    h4 {
      margin-bottom: 0;
    }
    
    p {
      margin-top: 0;
    }
    
    md-input-container {
      height: 45px;
    }
    
    span {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      color: @text-gray;
      margin-bottom: 10px;
    }
  }
  
  .phone-wrapper {
    padding: 0;
    
    input {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
    }
  }
  
  .select-style {
    background: #fff url('../images/dropdown_icon.png') no-repeat 92% 50%;
    overflow: hidden;
    border: 1px solid rgba(108,135,134,.5);
    border-radius: 4px;
    height: 45px;
    max-width: 90%;

    select {
      width: 130%;
      height: 45px;
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-black;
      border: none;
      text-align: left;
      background-color: transparent;
      outline: none;
      padding-left: 5px;
    }

    select:focus, select:active, a:selected, a:visited {
      outline: none;
    }
    
    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @text-black;
    }

  }
}
