#free-countries-list {
  padding: 30px;
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      td {
        padding: 7px;
        border-collapse: collapse;
        border-bottom: 1px solid @light-gray;
        span {
          img {
            height: 18px;
          }
        }
      }
    }
  }
}