.history-page {
  background: white;

  .history-title {
    font-family: "OpenSansLight", sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: @primary-color;
    margin-top: 35px;
    margin-bottom: 25px;

    a {
      font-family: "OpenSansLight", sans-serif;
      font-weight: 100;
      font-size: 36px;
      color: @text-gray;
    }
  }

  .filters {
    border: 1px solid #d2dbda;

    div {
      text-align: center;
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      font-weight: 100;
      color: @text-gray;
      padding: 16px;
      outline: none;
    }

    div.selected {
      background-color: @light-gray;
    }

    div:last-child {
      border-right: none;

      span {
        margin-right: 10px;
      }

      button {
        span {
          margin: 0 !important;
        }
      }

      md-datepicker {
        vertical-align: top;
        margin-right: 10px;
        padding: 0;

        .md-datepicker-button {
          display: none;
        }

        .md-datepicker-input-container {
          padding: 0;
          margin: 0;
          width: 200px;
          border: none;

          input {
            width: 200px;
            height: 36px;
            border: 1px solid @text-gray;
            border-radius: 4px;
            text-align: left;
            padding-left: 10px;
            color: @text-gray;
            font-family: "OpenSans", sans-serif;
            font-size: 18px;
            font-weight: 100;
          }

          .md-datepicker-triangle-button {
            background-image: url('../images/dropdown_icon.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin: 9px 17px 0 0;
            padding: 0;

            .md-datepicker-expand-triangle {
              display: none;
            }
          }
        }
      }

      .md-datepicker-focused {
        border: none;
      }
    }

  }

  .tabs {
    .history-tab {
      border: 1px solid #d2dbda;
      color: @text-gray;
      font-family: "OpenSans", sans-serif;
      font-size: 24px;
      font-weight: 100;
      text-align: center;
      padding: 10px 0;

    }

    .active {
      background-color: @light-gray;
    }
  }

  empty-result img {
    display: none;
  }

}