#rate-search {
  padding-left: 30px;
  padding-right: 30px;
  .gradient(#fff, #f2ffff);

  .search-bar {
    padding-top: 40px;
    md-autocomplete {
      position: relative;
      top: 0px;
      height: 52px;
      width: 377px;

      md-progress-linear {
        visibility: hidden;
      }
      button {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
    }

    input {
      width: 377px;
      height: 52px;
      padding: 17px 18px;
      color: @text-black;
      background-color: #fff;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      border: 1px solid @dark-gray;
      .border-radiuses(0, 0, 5px, 5px) !important;
    }

    .currency {
      width: 97px;
      height: 54px;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #fff;
      background-color: @primary-color;
      opacity: 0.5;
      text-align: center;
      padding: 17px;
    }

    .search-btn {
      width: 68px;
      height: 54px;
      margin: 0;
      margin-left: -1px;
      background-color: @primary-color;
      color: #fff;
      text-align: center;
      padding: 17px;
      .border-radiuses(5px, 5px, 0, 0);
    }
  }

  .popular {
    padding-top: 22px;
    padding-bottom: 40px;

    > div {
      display: inline-flex;
      text-align: center;
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-gray;
      margin-right: 20px;
    }

    img, object {
      outline: none;
      cursor: pointer;
      width: 34px;
      height: 24px;
      margin-right: 15px;
      vertical-align: middle;
      margin-top: -5px;
    }

    span {
      font-family: "OpenSans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-gray;
      margin-right: 20px;
      display: inline-block;
    }
  }

  .rates-bar {
    background-image: linear-gradient(-50deg, #00FFFD 3%, #0EFDF4 6%, #F4D565 65%, #FD9427 92%, #FF8317 100%);
    background: rgba(0, 89, 88, 0.08);
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 40px;

    .country-wrapper {
      display: inline-block;

      .country-text {
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0px;
        color: @text-gray;
        margin-left: 10px;
        display: inline-block;
      }

      .country-flag {
        width: 70px;
        height: 50px;
        vertical-align: top;
      }
    }

    .row {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
    }

    .rates-wrapper {
      vertical-align: top;
    }
    .rates-wrapper > div {
      padding: 0 35px;
    }

    .rates-prices {
      width: 100%;

      .rates-icon-wrapper {
        padding-top: 5px;
        display: inline-block;
        vertical-align: top;
      }

      .rates-icon {
        height: 40px;
        width: 26px;

        &.landline {
          width: 46px;
        }

        &.mobile {
          padding: 0 10px;
        }

        &.sms {
          width: 46px;
          height: 32px;
          padding-top: 5px;
        }
      }

      .rates-price {
        font-family: "OpenSansLight", sans-serif;
        font-weight: 100;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0px;
        color: @text-gray;
        margin-left: 10px;
      }

    }

  }

  .rates-cards {
    margin-bottom: 80px;
  }

}

#primo-connect {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 877px;
  background-image: url('../images/homepage_map_bg.jpg');
  background-size: cover;

  .primo-connect-inner {
    padding-top: 40px;

    .connect-text-container {
      padding: 153px 0;

      .wrapper {
        max-width: 569px;
        float: right;

        .heading-line {
          width: 67px;
          height: 10px;
          background-color: #00babc;
          display: inline-block;
        }

        h4 {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 24px;
          line-height: 24px;
        }

        p {
          font-size: 18px;
        }

      }
    }

    .connect-image-container {
      text-align: right;
      overflow: hidden;

      img {
        width: 886px;
        margin-left: 170px;
      }
    }
  }

  .connect-way-to-call {
    text-align: center;

    .heading-line {
      width: 67px;
      height: 10px;
      background-color: #00babc;
      display: inline-block;
    }

    p {
      font-size: 18px;
      margin: 0;
    }
  }
}

#primo-plans {
  md-card:nth-child(1) {
    background-image: url('../images/free_minutes_bg.jpg');
    background-size: cover;

    .card-upper img {
      width: 46px !important;
    }
  }

  md-card:nth-child(2) {
    background-image: url('../images/rate_plans_bg.jpg');
    background-size: cover;
  }

  md-card:nth-child(3) {
    background-image: url('../images/primo_credit_bg.jpg');
    background-size: cover;
  }

  md-card:nth-child(4) {
    background-image: url('../images/unlimited-plans_bg.jpg');
    background-size: cover;
  }

}

#primo-talk {
  background-image: url('../images/primo_talk_bg.png');
  background-size: cover;
  padding-bottom: 40px;

  .primo-talk-inner {
    padding: 80px 0;
    min-height: 762px;

    .talk-image-container {
      text-align: right;

      img {
        width: 295px;
      }
    }

    .talk-text-container {
      text-align: left;
      .wrapper {
        max-width: 569px;

        .heading-line {
          width: 67px;
          height: 10px;
          background-color: #00babc;
          display: inline-block;
        }

        .talk-cell {
          padding-top: 24px;
          padding-bottom: 24px;
          margin-left: -200px;
          padding-left: 200px;

          .homepage-subheading {
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
          }

          p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
          }

          &.active {
            p {
              margin-top: 1px;
            }
            h4 {
              margin-top: -1px;
            }
            &:before {
              content: " ";
              position: relative;
              left: -26%;
              top: 13px;
              height: 1px;
              width: 20%;
              background-color: @dark-gray;
              display: block;
            }
          }
        }

        .talk-cell:last-child {
          margin-bottom: 0;
        }

      }
    }

  }

  .button-wrapper {
    text-align: center;
    display: block;

    a {
      width: 390px;
      height: 80px;
      margin: 0 auto;
      letter-spacing: 0px;
      color: white;
      text-transform: none;
      background-color: @primary-color;

      span {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .rates-bar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .talk-cell {

    &.active {
      &:before {
        content: none;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .rates-bar {
    .country-wrapper {
      margin-bottom: 20px;
      text-align: center;
    }

    .rates-wrapper {
      text-align: center;
    }

    .talk-cell {
      &.active {
        &:before {
          content: none;
          display: none;
          height: 0;
        }
      }
    }
  }

  .rates-bar > .primo-container {
    width: initial;
  }

  .results {

    .primo-connect-card {
      margin: 0 0 20px;
      width: 100%;

      .card-upper {
        height: auto;
      }

    }
  }

  .talk-cell {

    &.active {
      p {
        margin-top: 2px !important;
      }
      h4 {
        margin-top: 0px !important;
      }
      &:before {
        content: none !important;
        height: 0px !important;
      }
    }
  }

  #primo-connect {
    .connect-text-container {
      padding: 20px 0 !important;
      text-align: center;
    }

    .connect-way-to-call {
      padding-bottom: 20px;
    }
  }

  #primo-plans {
    md-card {
      height: auto;

      md-card-content {
        padding: initial;
        height: auto;
      }
    }
  }

  #primo-talk {
    padding-left: 30px;
    padding-right: 30px;

    .talk-text-container {
      text-align: center;
    }

    .button-wrapper {
      .blue-button {
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .talk-cell {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    &.active {
      &:before {
        content: " ";
        position: relative;
        left: -18% !important;
        top: 13px;
        height: 1px;
        width: 16% !important;
        background-color: @dark-gray;
        display: block;
      }
    }
  }
}

#send {
  textarea {
    height: 141px !important;
    resize: none;
  }
  .md-button {
    min-height: 71px !important;
    &[disabled="disabled"] {
      background-color: #ebf2f2 !important;
    }
  }
}

home-carousel {
  .cd-hero-slider {
    height: 580px;
    @media only screen and (min-width: 768px) {
      height: 450px;
    }
  }
}