#international-rates {

  .cd-hero-slider li {
    background-image: url('../images/rates_hero.jpg');
  }

  .cd-hero-slider .cd-full-width {
    padding-top: 110px;

    p {
      margin-top: 10px;
    }
  }

  #rate-plans, #primo-credit {
    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 36px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  #rate-plans {
    h1 {
      line-height: 1.1em;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  .rate-image {
    width: 100%;
  }

  .rates-text-column {
    max-width: 70%;
  }

  .arrow-container {
    background: transparent;
    margin-top: -95px;
  }

  span.block {

    .bubbles {
      width: 24px;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  #rates {
    ul > li {
      cursor: pointer;
      list-style-type: none;
      padding: 30px;
      margin: 5px 0;
      border: 1px solid @background-color;
      .border-radius(3px);

      &:hover {
        background: silver;
      }
    }
  }

  .rate-section-wrapper {
    background-color: @light-gray;
    text-align: center;
    padding-bottom: 30px;

    .search-bar {
      margin-bottom: 30px;
    }

    .text-1 {
      font-size: 24px;
      margin-top: 30px;
    }

    .text-2 {
      display: block;
      font-size: 16px;
      margin: 0;
    }

    .text-2:first-child {
      margin-top: 40px;
    }

    primo-credit-card {
      max-width: 300px;
    }
    primo-rate-card, primo-credit-card {

      width: 100%;
      margin: 0 10px;

      md-card {
        width: 100%;
        height: 232px;
        margin: 0;
        border: 1px solid rgba(108, 135, 134, .3) !important;
      }

      .card-upper {
        height: 150px;

        .card-title {
          margin-top: 30px;
          h2 {
            font-size: 2.3em;
          }
        }

        img {
          width: 40px;
          height: 40px !important;
        }

        h2 {
          margin-top: 10px;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-family: "OpenSans", sans-serif;
          font-size: 24px;
        }
        .md-subhead {
          margin-bottom: 14px;
          p {
            font-size: 15px;
          }
          &.small {
            p {
              font-size: smaller;
              line-height: 1.3em;
              margin: 0;
            }
          }
        }
      }

      md-card-actions {

        a {
          height: 54px;
          line-height: 0;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 20px;

          span {
            font-size: 20px !important;
          }
        }
      }
    }

    primo-credit-card {
      .card-upper {

        .card-title {
          margin-top: 40px;
          margin-bottom: 10px;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          margin: -20px 0 0 0 !important;
        }

        h2 {
          display: inline-block;
        }

        p {
          font-size: 18px;
        }
      }
    }

    primo-rate-card:first-child, primo-credit-card:first-child {
      margin-left: 0;
    }

    see-countries-card {
      width: 100%;
      margin-left: 10px;

      md-card {
        width: 100%;
        height: 337px;
        margin: 0;
        background-image: url('../images/rates_minimap_bg.png');
        background-size: contain;
      }

      .card-upper {
        //padding: 30px;

        p {
          margin-top: 80px;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 20px;
        }
      }

      md-card-actions {

        button {
          line-height: 0;

          span {
            font-size: 18px !important;
            font-family: "OpenSans", sans-serif;
          }
        }
      }
    }

  }

  .search-bar {

    md-autocomplete {
      position: relative;
      top: 0px;
      height: 52px;
      width: 377px;

      md-progress-linear {
        visibility: hidden;
      }
      button {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
    }

    input {
      width: 377px;
      height: 52px;
      padding: 17px 18px;
      color: @text-black;
      background-color: #fff;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      border: 1px solid @dark-gray;
      .border-radiuses(0, 0, 5px, 5px) !important;
    }

    .currency {
      width: 97px;
      height: 54px;
      font-family: "OpenSans", sans-serif;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #fff;
      background-color: @primary-color;
      opacity: 0.5;
      text-align: center;
      padding: 17px;
    }

    .search-btn {
      width: 68px;
      height: 54px;
      margin: 0;
      margin-left: -1px;
      background-color: @primary-color;
      color: #fff;
      text-align: center;
      padding: 17px;
      .border-radiuses(5px, 5px, 0, 0);
    }
  }

  #rates {
    background-image: url('../images/homepage_map_bg.jpg');
    background-size: cover;
    padding-top: 40px;

    h1 {
      margin-bottom: 10px;
    }

    span {
      font-size: 18px;
      font-family: "OpenSans", sans-serif;
      color: @text-gray;
    }

    .block {
      color: @primary-color;
    }

    .block:before {
      width: 24px;
      height: 24px;
      margin-right: 20px;
      border-radius: 4px;
      vertical-align: middle;
    }

    .regions {
      padding: 0;

      li {
        border: 1px solid rgba(108, 135, 134, .3) !important;
        border-radius: 8px !important;
        padding: 0;

        .region-item {
          padding: 40px;
          outline: none;
        }

        span:first-child {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 24px;
        }

        span:last-child {
          font-size: 24px;
        }

        img {
          margin-left: 20px;
          margin-top: 10px;
          width: 14px;
          height: 8px;
        }

        img.reversed {
          transform: scaleY(-1);
        }
      }

      li:hover, li:active, li:focus {
        background-color: @light-gray;
        outline: none;
      }

      .countries {
        background-color: @light-gray;
        border-radius: 8px;

        table {
          width: 100%;
          background-color: white;
          border-collapse: collapse;
          margin-bottom: 30px;

          thead tr {
            background-color: @text-gray;
            color: white;

            th {
              height: 45px;
              border: none;
              font-family: "OpenSans", sans-serif;
              font-weight: 100;
              font-size: 1em;
              line-height: 24px;
              text-align: center;

              img {
                height: 18px;
                width: auto;
                vertical-align: middle;
                margin-top: -5px;
                margin-right: 10px;
              }
              span {
                color: white;
                font-size: 1em
              }
            }
          }

          tr {
            border-top: 1px solid rgba(108, 135, 134, .3);
            border-bottom: 1px solid rgba(108, 135, 134, .3);

            td {
              font-family: "OpenSansLight", sans-serif;
              font-weight: 100;
              font-size: 18px;
              width: 20%;
              text-align: center;
              height: 81px;
              color: @text-black;

              b {
                color: @primary-color;
                font-weight: 100;
              }

              img {
                height: 18px;
                width: auto;
                vertical-align: top;
                margin-top: 4px;
              }
            }

            td:first-child {
              width: 10%;

              img {
                width: 34px;
                height: 24px;
                margin-left: 30px;
                margin-right: 10px;
                vertical-align: bottom;
              }
            }

            td:nth-child(2) {
              text-align: left;
              color: @text-gray;
              width: 40%;
            }
          }
        }
      }

    }

  }

  @media only screen and (max-width: 960px) {
    primo-credit-card {
      width: 100%;
    }

    .rate-section-wrapper {
      primo-rate-card, see-countries-card, primo-credit-card {
        margin: 0;
        margin-bottom: 30px;
      }

      .search-bar {
        padding: 0 30px;
      }
    }

  }

  @media only screen and (max-width: 720px) {
    #rates {
      h1 {
        font-size: 30px;
      }

      .regions {
        .countries {
          table {
            thead tr {
              th {
                span {
                  width: 0;
                  display: none;
                }
              }
            }
          }
        }
        .region-item {
          span {
            font-size: 16px !important;
          }
        }
      }
    }

  }

  @media only screen and (max-width: 600px) {
    #rates {
      .regions {
        .countries {
          table {
            tbody {
              tr {
                td {
                  font-size: 0.725em !important;
                }
              }
            }
          }
        }
      }
    }

  }
}


