#invite-friends {
  .pill {
    outline: none;
    background: @light-gray;
    color: black;
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    .border-radius(5px);
    cursor: pointer;
    &.active {
      //background: @primary-color;
      font-weight: bold;

      img {
        width: 16px;
        height: 16px;
      }
    }

  }

  input {
    min-height: inherit;
  }

  .email-template {
    pointer-events: none;
    cursor: default;
    p {
      padding: 0;
      margin: 0;
    }
  }
}