#purchase {

  .toolbar {
    text-align: center;
    padding: 10px;
    min-height: 100px;
  }

  .final {
    height: 480px!important;
  }

  .md-accent-green {
    background-color: #ecf2f2;

    h2 {
      color: #6b8886;
      font-size: 1.5em;
    }

    p {
      margin: 15px 0;
    }
  }

  > div {
    padding-bottom: 100px;

    div[class*="flex"] {
      h4[ng-show*="authStep"] {
        color: #b3b3b3;
        a {
          color: #b3b3b3;
          font-size: inherit;
          font-family: OpenSansBold,sans-serif;
          &[disabled] {
            color: #6C8786;
          }
        }
      }
      @media (min-width: 960px) {
        &:first-child {
          border-right: 1px solid #d9d9d9;
          margin-left: 1px;
        }
        &:last-child {
          border-left: 1px solid #d9d9d9;
          margin-left: -1px;
          margin-right: 1px;
        }
      }
    }
  }
  .invest-btn {
    min-width: 146px;
    min-height: 33px;
    color: white;
    background-color: @primary-color;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    .border-radius(3px);
  }
  md-menu {
    > a {
      color: @text-gray;
      margin-bottom: 5px;

      &.empty {
        color: lighten(@text-gray, 30);
      }
      span {
        img {
          vertical-align: middle;
        }
        &:first-child {
          img {
            height: 32px;
            margin-right: 10px;
          }
        }
        &:last-child {
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .md-char-counter {
    display: none;
  }

  md-input-container {
    label {
      &:after {
        display: none;
      }
    }
  }

  .md-button {
    margin: 1px;
  }

  #braintree-wrapper {
    position: relative;

    @media(min-width: 768px) {
      margin-bottom: -80px;
    }

    @media(min-width: 768px) {
      padding-bottom: 100px;
    }

    braintree-dropin {
      ~ div {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -320px;

        @media(min-width: 960px) {
          top: 300px !important;
          right: ~"calc(-100% - 35px)";
          bottom: auto;
          left: auto;
        }
      }

    }

    braintree-paypal {
      ~ div {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -320px;

        @media(min-width: 960px) {
          top: 300px !important;
          right: ~"calc(-100% - 35px)";
          bottom: auto;
          left: auto;
        }
      }

    }

    &.two-items {
      braintree-dropin {
        ~ div {
          @media(min-width: 960px) {
            top: 250px;
          }
        }
      }
    }

  }


  @media(max-width: 960px) {
    .primo-container {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }

  @media(max-width: 768px) {
    .cant-access {
      font-size: 12px;
    }
  }

}