#register-page {

  .account-info {
    margin: 0 0 20px;
  }

  .first-row {
    padding: 0;

    md-input-container:first-child {
      margin-right: 5px;
    }

    md-input-container:last-child {
      margin-last: 5px;
    }
  }

  .checkbox-tos {
    text-align: left;
    padding: 0px 30px 10px 30px;
    background-color: white;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    color: @text-gray;

    md-checkbox {
      margin-bottom: 0;
    }

    ._md-container {
      width: 20px;
      height: 20px;
      margin-top: 2px;

      ._md-icon {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(108, 135, 134, 0.50);
        border-radius: 4px;
      }

    }

    ._md-label {
      margin-left: 40px;

      span {
        font-size: 16px;
      }

      a {
        font-size: 16px;
      }
    }

    .md-checked ._md-icon {
      background-color: @primary-color;
    }

    .md-checked ._md-icon:after {
      left: 5px;
      top: 1px;
      width: 9px;
      height: 14px;
      border-width: 3px;
    }

  }

  .links-wrapper {
    text-align: center !important;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    color: @text-gray;
    margin-top: 10px;
  }

  .md-errors-spacer {
    display: none;
  }

  .phone-wrapper {
    padding: 0;

    input {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
    }
  }

  .select-style {
    background: #fff url('../images/dropdown_icon.png') no-repeat 92% 50%;
    overflow: hidden;
    border: 1px solid rgba(108, 135, 134, .5);
    border-radius: 4px;
    height: 45px;
    max-width: 90%;

    select {
      width: 130%;
      height: 45px;
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      line-height: 0px;
      letter-spacing: 0px;
      color: @text-black;
      border: none;
      text-align: left;
      background-color: transparent;
      padding-left: 5px;
      outline: none;
    }

    select:focus, select:active, a:selected, a:visited {
      outline: none;
    }

    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @text-black;
    }

  }

}