#retailers {
  .right {
    float: right;
    margin: 30px 0 0;
    color: white;
    font-weight: bold;
    text-transform: inherit;
    font-size: 1.4em;
  }
  &.sub-content {
    padding: 0;
    margin: 0;
  }
  .cd-hero {
    padding: 0;
    margin: 0;
    .cd-hero-slider {
      li {
        background-image: url('../images/retail_bg.jpg');
      }
    }
  }
  .cd-hero-slider .cd-full-width {
    padding-top: 110px;

    p {
      margin-top: 10px;
    }
  }
  .primo-container {
    padding: 40px;
    p {
      padding-left: 1%;
    }

    ul {
      padding-left: 3%;
      li {
        font-family: OpenSans, sans-serif;
        font-size: 1.125em;
        line-height: 150%;
        color: @background-color;
      }
    }
  }

  .retailers-button-wrapper {

    .blue-button {
      display: inline-block;
      margin: 10px !important;
      align-items: center;
      padding: 20px 0 0;
      text-align: center;
      width: inherit !important;
      font-size: 1.5em !important;

      @media (max-width: 600px) {
        font-size: 14px !important;
        height: 72px !important;
        margin: 0 0 10px !important;
      }
    }

    .black-button {
      background: black !important;
    }

    span {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
  }
}

#retailers-contact {
  margin: 0 auto;

  p.header-text {
    position: relative;
    span {
      font-size: 2em;
      line-height: 2em;
    }

    img {
      position: absolute;
      width: 30px;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
    background: @primary-color;
    color: white;
    margin: 0 0 40px;
    font-size: 1.5em;
    padding: 20px 4%;
    text-align: center;
  }

  md-input-container {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  .blue-button {
    font-size: 1.5em !important;
    font-weight: normal !important;
  }

  md-checkbox {
    color: @background-color;
  }
}
