#tos {
  text-align: justify;

  p, li {
    font-size: 16px;
    font-family: 'OpenSans', sans-serif;
    color: @text-gray;
  }

  h2 {
    text-align: left;
  }

  .blue-button {
    float: right;
    margin-left: 30px !important;
    margin-bottom: 30px !important;
    text-align: center;
    padding: 20px 25px;
    height: auto !important;
  }

}

@media only screen and (max-width: 1200px) {
  #tos {
    padding: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  #tos {
    text-align: left;

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 24px;
      text-align: left;
    }
  }
}