#unlimited-plans {
  .image-wrapper {
    img {
      width: 100%;
    }
  }
  .cd-hero-slider {
    li {
      background-image: linear-gradient(
        rgba(0, 142, 140, 0.36),
        rgba(0, 142, 140, 0.36)
      ), url("../images/unlimited_hero.jpg");
    }
    p {
      margin-bottom: 30px;
    }
  }
  .invest-btn {
    width: 146px;
    height: 33px;
    color: white;
    background-color: @primary-color;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    .border-radius(3px);
  }
  #rate-search {
    padding-bottom: 40px;
  }
  #call-free {
    .md-button {
      text-transform: uppercase !important;
    }
  }
  .rate-section-wrapper {
    background-color: #eaf2f2;
    text-align: center;
    padding: 40px 0 60px;
    md-card {
      border: 1px solid #979797 !important;
      border-radius: 8px;
      margin: 0 20px 40px;
      .md-headline {
        font-size: 34px;
        padding-top: 5px;
        font-weight: 700;
      }
      md-card-title {
        min-height: 100px;
        background-size: cover;
        color: #fff;
        .border-radius(5px 5px 0 0);
        @media (max-width: 1279px) {
          min-height: 39vw;
        }
      }
      md-card-content {
        padding: 0 25px 25px;
        font-size: 12px;
        p {
          margin: 10px 0;
        }
        strong {
          color: #6C8786;
          font-size: 24px;
          font-family: OpenSansBold, sans-serif;
        }
      }
      md-card-actions {
        margin: 0;
        .md-button {
          font-weight: 700;
          line-height: 27px;
          letter-spacing: 0;
          width: 100%;
          margin: 0;
          padding: 21px 0;
          text-align: center;
          height: 70px;
          text-transform: none;
          background-color: #00babc;
          color: #fff;
          font-size: 22px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        a {
          .border-radius(0 0 7px 7px);
        }
      }
    }
    .primo-container {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      .primo-rate-card {
        width: 100%;
      }
      primo-rate-card {
        width: 100%;
        margin: 30px 15px 0 15px !important;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}