<div class="primo-container" id="tos" layout-padding>
  <h1>Privacy Policy</h1>
  <p><i>Last Revised: February 7, 2017</i></p>

  <p>The following sets forth the Privacy Policy (&ldquo;Privacy Policy&rdquo;) of Primo Connect, Inc.
    (&ldquo;Primo Connect,&rdquo; &ldquo;we&rdquo; or &ldquo;us&rdquo;), and is incorporated into and made a part of
    Primo's <a
      ui-sref="tos">Terms of Service</a>, available at <a ui-sref="tos">www.primo.me/terms-of-service</a>.</p>

  <h2>1. Purpose of Privacy Policy</h2>
  <p>Your privacy is important to Primo Connect. Accordingly, Primo Connect provides these policies so that you
    understand how Primo
    collects, uses and, in certain circumstances, discloses the information that you provide and/or that is
    automatically provided to Primo Connect as a result of your Connect as a result of your accessing the web
    browser-based version of the Primo software application (&ldquo;Web App&rdquo;) or downloading, installing
    and using the Primo mobile
    application (&ldquo;Mobile App&rdquo;) (the Web App and Mobile App, collectively referred to as the &ldquo;App&rdquo;)
    to purchase or use Primo Connect products and services (&ldquo;Services&rdquo;). The
    Privacy Policy also explains the steps Primo has taken to secure your personal information. Finally, this Privacy
    Policy explains your options regarding the collection, use and disclosure of your personal information. Finally,
    this
    Privacy Policy explains your options regarding the collection, use and disclosure of your personal information. By
    using the App or purchasing or using any Primo Connect Services, you accept the practices described in this Privacy
    Policy.
    Primo Connect is not responsible for the content or privacy practices on any third party web site that may be linked
    to or
    from the App.</p>

  <p>The Privacy Policy does not apply to information that: (i) we collect offline or on any other Primo Connect apps or
    websites that do not offer our Services,
    including websites you may access through this App; or (ii) you provide to or is collected by any third party.</p>

  <p>Please read the Privacy Policy carefully to understand our policies and practices regarding your information and
    how
    we will treat it. If you do not agree with our policies and practices, do not download, register with or use the
    App.
    By downloading, registering with or using the App, you agree to the Privacy Policy. This policy may change from time
    to time. Your continued use of the App after we make and post changes is deemed to be acceptance of those changes,
    so
    please check the Privacy Policy periodically for updates.</p>

  <p>Any questions regarding the Privacy Policy should be directed to:</p>

  <p>Primo Connect, Inc.<br/>
    Attn: Privacy Policy Officer<br/>
    Email: <a href="mailto:support@primo.me">support@primo.me</a></p>

  <h2>2. Information We Collect and How We Collect It</h2>
  <p>We collect information from and about users of the App: (i) directly from you when you provide it to us; and
    (ii) automatically when you use the App.</p>

  <p><strong>Information You Provide to Us</strong></p>
  <p>When you download, register with or use the App, we may ask you to provide information:</p>
  <ul>
    <li>By which you may be personally identified, such as your name, address, email address, mobile phone number, and
      phone numbers of recipients of your calls and messages, but specifically excluding location data (&ldquo;Personal
      Data&rdquo;).
    </li>
  </ul>

  <p><strong>This information includes:</strong></p>
  <ul>
    <li><u>Registration Information:</u> Before using the App or purchasing Services, you must sign up for an
      account (&ldquo;Account&rdquo;) by filling in forms in the App. During Account registration, you will be prompted
      to
      provide Primo Connect with certain Personal Data, including your: name, address, email address, mobile phone
      number, city,
      state, country of residence, and an account password. This Personal Data is used for billing purposes, fulfilling
      your purchases for Services, and for communicating with you about the App. If Primo Connect needs to communicate
      with you
      about your Account, your purchases of Services, or otherwise, it will use your Personal Data to contact you.
    </li>

    <li><u>Purchasing Services/User Submissions:</u> The App may permit you to provide information by filling in forms
      in
      the App. This includes information that you provide at the time of purchasing Services, undertaking search queries
      through the App, and requesting further information from Primo Connect. We may also ask you for information when
      you enter
      a
      contest or promotion sponsored by us or when you report a problem with the App. We keep records and copies of your
      correspondence (including email addresses and phone numbers) if you contact us and your responses to surveys that
      we
      might ask you to complete for research purposes. Information you provide to us includes details of transactions
      you
      carry out through the App and for the fulfillment of your purchases for Services.
    </li>
  </ul>

  <p><strong>Information Automatically Collected by Us</strong></p>
  <p>When you use the App, it may utilize technologies to collect information and track your user
    experience. Primo Connect will use this information to improve the App and user experience and for advertising
    within and
    throughout the App and the Services in the App.</p>

  <p>In addition, the App automatically collects the following information (&ldquo;Behavioral Data&rdquo;):</p>

  <ul>
    <li><u>Usage Information:</u> When you access and use the App, we may automatically collect certain details of your
      access
      to
      and use of the App, including traffic data, the number of messages you send and receive, date and time messages
      are
      sent and received, location data, logs and other communication data and the resources that you use on or through
      the
      App.
    </li>
    <li><u>Device Information:</u> We may collection information about your mobile device or personal computer and
      device
      identifiers such as UDID,
      Ethernet MAC address and/or advertising identifier, operating system, browser type, mobile network information and
      the device's telephone number.
    </li>
    <li><u>Stored Information and Files</u> The App also may access metadata and other information associated with other
      files
      stored on your device. This may include, for example, photographs, audio and video clips, personal contacts and
      address book information.
    </li>
    <li><u>Location Information</u> This App collects real-time information about the location of your mobile device. In
      addition,
      all
      wireless communication systems know when your mobile device is turned on and approximately where the device is
      physically located.
    </li>
  </ul>

  <p>If you do not want us to collect this information, do not download or use the App or delete it from your device.
    For more
    information, see How we Use and Disclose Your Information.</p>

  <p>We may also use these technologies to collect information about your activities over time and across third-party
    websites, apps or other online services.</p>

  <h2>3. Information Collected by Third-Parties</h2>
  <p>When you use the App or its Services, certain third parties may use automatic information collection technologies
    to
    collect information about you or your device. These third parties may:</p>

  <ul>
    <li>Include, among others, advertisers, ad networks, ad servers, analytics companies, and your mobile service
      provider, who may use, for example, tracking technologies (as described below); or
    </li>
    <li>Provide integration with other services and providers.</li>
  </ul>

  <p>These third parties may use tracking technologies to collect information about you when you use the App. The
    information they collect may be associated with your Behavioral Data or they may collect information, including
    Behavioral Data, about your online activities over time and across different websites, Apps and other online
    services
    websites. They may use this information to provide you with targeted content.</p>

  <p>We do not control these third parties' tracking technologies or how they may be used. If you have any questions
    about
    an advertisement or other targeted content, you should contact the responsible provider directly.</p>

  <h2>4. How We Use Your Information</h2>
  <p>Generally, Primo Connect uses the Personal Data that we collect about you or that you provide to us, to:</p>

  <ul>
    <li>Provide you with the App and its contents, and any other information, products or Services that you request from
      us;
    </li>
    <li>Communicate with you regarding the App and give you Account notices, including suspension and termination
      notices;
    </li>
    <li>Let you know when people you know join our Service;</li>
    <li>Notify you when App updates are available, and of changes to products or Services we offer or provide through
      it;
    </li>
    <li>Contact you about Services you have purchased from Primo Connect; or</li>
    <li>Respond to your inquiries.</li>
  </ul>

  <p>The Behavioral Data we collect also helps us to improve our App and to deliver a better and more personalized
    experience, by enabling us to:</p>

  <ul>
    <li>Estimate our users usage patterns;</li>
    <li>Store information about your preferences, allowing us to customize our App according to your individual
      interests;
    </li>
    <li>Recognize you when you use the App;</li>
    <li>Improve the Services that Primo Connect sells to App users; or</li>
    <li>Manage and develop our business and operations, administer accounts, and collect and process payments.</li>
  </ul>

  <p>We may use your Behavioral Data to contact you about our own and third parties' goods and services that may be of
    interest to you. If you do not want us or third parties to contact you in this way, please adjust your user
    preferences in your Account settings.</p>

  <p>We may also use and share with third parties, including advertisers, Behavioral Data you provide in using the
    Services, such as general demographic and location information that does not identify you personally. Advertisers
    may
    use this information to make predictions about your interests or preferences so that they can display advertisements
    on our Services and on other sites across the Internet tailored to your apparent interests. The use and disclosure
    of
    such Behavioral Data is not subject to any restrictions under this Privacy Policy.</p>

  <h2>5. How We Disclose Your Information</h2>

  <p>(a) Primo Connect will not sell, rent, trade, license or otherwise disclose your specific Personal Data to third
    parties,
    except that Primo: </p>

  <ul>
    <li>Uses third parties to perform specific functions for or on Primo's behalf and it must disclose information to
      help those
      third parties perform their services;
    </li>
    <li>May be required to disclose such information in response to a legal process, order or investigation (for
      example,
      a subpoena or court order);
    </li>
    <li>May disclose Personal Data where disclosure is necessary to protect its legal rights or to protect itself or
      others (for example, in order to reduce the risk of fraud or illegal activities);
    </li>
    <li>May share such information amongst our subsidiaries and affiliates for the purpose of marketing products and
      services to you;
    </li>
    <li>May acquire, merge with or be acquired by another company or it might sell some or all of its assets, and, in
      such
      a case, your Personal Data and may be included in the transferred business assets. Also, in the event of our
      bankruptcy, insolvency, reorganization, receivership, or assignment for the benefit of creditors, we may not be
      able
      to control how your Personal Data is treated, transferred, or used and your Personal Data may be included in the
      transferred assets.
    </li>
  </ul>

  <p>(b) Primo Connect may sell, rent, trade, license, use and disclose all Behavioral Data and aggregate information,
    so long
    as
    such information does not personally identify you, to any third party for any purpose, including, but not limited
    to,
    research and analytical purposes.</p>

  <h2>6. Information Collecting and Tracking Technologies</h2>
  <p>The technologies that we use for automatic information collection may include mobile cookies, tokens and/or web
    beacons, as well as other technology now existing or yet to be developed.</p>

  <h2>7. Security</h2>
  <p>We take precautions and have implemented certain technical measures intended to protect against unauthorized access
    to, disclosure of, and unlawful interception of Personal Data submitted via the App, including Secure Sockets Layer
    (&ldquo;SSL&rdquo;)
    for all financial transactions through the App. However, your communications containing Personal Data may be
    unlawfully intercepted or accessed by third parties and/or the App or Primo's web site may be subject to network
    attacks or malfunctions. We cannot and do not guarantee the security of any information transmitted over the
    Internet.
    Once we receive your Personal Data, we take steps that we believe are reasonable to limit access to your Personal
    Data
    to only those employees and service providers whom we determine need access to the Personal Data to provide the
    requested products, services, offers or opportunities that may be of interest to you or that you have ordered, or
    that
    we otherwise disclose in accordance with Section 5 above. However, even after we receive your Personal Data, we
    cannot
    and do not guarantee that your Personal Data will not be accessed, disclosed, altered, or destroyed as a result of a
    breach of our security efforts or as a result of any other event beyond our reasonable control. Accordingly, we
    cannot
    and do not guarantee that your Personal Data or any other information is completely secure and safe from any
    risk.</p>

  <h2>8. Your Choices About Our Collection, Use and Disclosure of Your Information</h2>
  <p>If you decide that you no longer wish to receive in-App notifications, emails or text messages from Primo Connect
    to
    promote
    our own or third parties' products or services, you can opt-out of receiving in-App notifications, emails and text
    messages by adjusting your App's Account settings or by any other reasonable opt-out method available to you.</p>

  <p>You can also review and change your Personal Data by logging into the App and visiting your Account settings page.
    Upon your request through the App's Account settings, Primo Connect will: (a) correct or update your Personal Data;
    and/or
    (b)
    disable your Account to prevent any future purchases through that Account. You may make these updates/changes
    yourself by managing your Account settings through the App or by any other reasonable Account update mechanism
    available to you. You may also send your requests to: Attn: Customer Service, Primo Connect, Inc., Email: <a
      href="mailto:support@primo.me">support@primo.me</a>. We cannot delete your Personal Data except by also deleting
    your Account. We may not accommodate a request to change information if we believe the change would violate any law
    or
    legal requirement or cause the information to be incorrect. Please do not email your credit card number or other
    sensitive information. Please note that Primo may have to communicate with you about the Services that you choose to
    purchase. Accordingly, you cannot opt out of receiving Services-related emails or In-App notifications.</p>


  <h2>9. Your California Privacy Rights</h2>
  <p>California Civil Code Section 1798.83 permits users of our App that are California residents to request certain
    information regarding our disclosure of Personal Data to third parties for their direct marketing purposes. To make
    such a request, please send an email to Attn: Privacy Officer, Primo Connect, Inc., 1550 Scenic Ave., Suite 100,
    Costa
    Mesa, CA, 92626, Email: <a href="mailto:support@primo.me">support@primo.me</a>.</p>

  <h2>10. Ability to Accept Terms/Children Under the Age of 13</h2>
  <p>The App is not intended for children under 13 years of age, and we do not knowingly collect Personal Data from
    children under 13. If we learn we have collected or received Personal Data from a child under 13 without
    verification
    of parental consent, we will delete that information. If you believe we might have any information from or about a
    child under 13, please contact us at <a href="mailto:support@primo.me">support@primo.me</a>.</p>

  <h2>11. Revisions and Changes to our Privacy Policy</h2>
  <p>From time to time, we may revise the Privacy Policy. Your use of the App or any Services following the
    posting
    of any revised Privacy Policy shall be deemed acceptance of the revised policy, so we recommend that you check the
    Privacy Policy periodically. If you disagree with the terms of the Privacy Policy at any time, your sole remedy is
    to
    terminate your use of the App and all Services. Continued use of the App or any Services constitutes
    your
    agreement to any Privacy Policy as in effect.</p>

  <h2>12. Severability</h2>
  <p>If any part of the Privacy Policy is determined to be invalid or unenforceable by any arbitrator, court of
    competent
    jurisdiction or applicable law, the parties intend that such provision be amended and construed in a manner designed
    to effectuate the purposes of the provision to the fullest extent permitted by law.</p>
</div>