<md-list-item class="md-3-line contact-list-card reward-list-card" layout-align="left center"
              ng-click="select(item, $index)">
  <img class="profile-image" data-ng-src="{{item.icon_base64_data | profileImageFilter}}"
       alt="{{item.description}}"/>
  <div class="md-list-item-text" layout="column">
    <span ng-if="item.count" class="reward-indicator"><span>{{item.count}}x</span></span>
    <h3><span>{{item.description}}</span></h3>
  </div>
</md-list-item>
