<md-dialog aria-label={{"INVITE_FRIENDS" | translate}} id="invite-friends">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{"INVITE_FRIENDS_EMAIL" | translate}}</h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
        <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
        <!--</md-button>-->
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding="">
      <div layout-padding="">
        <p>{{"FRIENDS_EMAIL_ADDRESS" | translate}}</p>

        <form name="addFriendForm" ng-submit="addToList()">
          <input type="email"
                 ng-model="email"
                 ng-keyup="$event.keyCode == 13 ? addToList() : null"
                 placeholder="{{'ENTER_EMAIL' | translate}}"
                 ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
          >
          <md-button
            ga-send-event
            event-category="Invite Friends Page"
            event-action="click"
            event-label='Add To Friends List'
            class="blue-button small button-auto-width"
            ng-click="addToList()"
            type="submit" ng-transclude="">{{"ADD" | translate}}
          </md-button>
        </form>

      </div>

      <div layout="row">
        <div ng-repeat="email in inviteEmails"
              class="pill"
              ng-class="isSelected($index) ? 'active':'' "
              ng-click="select($index)">
          <img src="resources/images/close_icon.png"
               ng-click="removeFromList($index)"
               alt="close" ng-if="isSelected($index)" width="16"> {{email}}
        </div><br>
      </div>
      <div class="errors" ng-messages="inviteForm.inviteEmails.$error">
        <div ng-message="md-max-chips">{{"MAX_EMAILS_PROVIDED" | translate}}</div>
      </div>
      <!-- <div>
        <label>{{"YOUR_MESSAGE" | translate}}</label>
        <span class="email-template" ng-bind-html="emailTemplateText"></span>
      </div> -->
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="blue-button small" ng-click="answer(false)">
        {{"CANCEL" | translate}}
      </md-button>
      <md-button
        ga-send-event
        event-category="Invite Friends Page"
        event-action="click"
        event-label='{{"INVITE_FRIENDS" | translate}}'
        class="blue-button small" ng-disabled="inviteEmails.length == 0" ng-click="answer(true)">
        {{"INVITE_FRIENDS" | translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
