<div id="faq" layout="column" class="sub-content">
  <section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
      <li class="selected">
        <div class="cd-full-width">
          <h2>{{ "HOW_CAN_WE_HELP" | translate }}</h2>
        </div>
      </li>
    </ul>
  </section>

  <div class="search">
    <div layout="row" layout-align="center center" class="search-bar">
      <md-input-container class="md-icon-float md-block" md-no-float="true">
        <input type="text" ng-model="search" class="ng-pristine ng-untouched ng-valid ng-scope flex ng-empty search"
               ng-change="sendToMparticle()"
               ng-model-options="{debounce: 500}"
               placeholder="{{ 'HOW_CAN_WE_HELP' | translate }}">
        <a
          ga-send-event
          event-category="FAQ Page"
          event-action="click"
          event-label='Search Icon'
          class="search-btn">
          <i class="sprite icon-search_icon"></i>
        </a>
      </md-input-container>
    </div>
  </div>

  <!-- faq menu -->
  <div sticky id="submenu" offset="70">
    <ul layout="row" layout-align="center center">
      <li
        ga-send-event
        event-category="FAQ Page"
        event-action="click"
        event-label='Selected Group - {{section.name | translate}}'
        flex ng-repeat="section in  sections"
        ng-class="isSelected(section) ? 'active':'' "
        ng-click="select(section)">{{section.name | translate}}
      </li>
    </ul>
  </div>
  <!-- end faq menu -->

  <!-- search results -->
  <div class="primo-container" ng-if="search != ''">
    <section class="articles">
      <ul ng-if="selected" class="fade-in-out">
        <li ng-repeat="article in filteredArticles = (allArticles | filterArticles:search)" class="fade-in-out">
          <h4 ng-click="selectArticle(article)">{{article.name}}</h4>
          <p ng-bind-html="article.body" ng-if="isSelectedArticle(article)"></p>
        </li>
      </ul>
    </section>
  </div>
  <!-- end search articles -->

  <!-- faq articles by category -->
  <div class="primo-container" id="group-articles" ng-if="search == ''">
    <section class="articles">
      <ul ng-if="selected" class="fade-in-out">
        <li ng-repeat="article in filteredArticles = (selected.articles | filterArticles:search)">
          <h4
            ga-send-event
            event-category="FAQ Page"
            event-action="click"
            event-label='Selected Article - {{article.name}}'
            ng-click="selectArticle(article)">{{article.name}}</h4>
          <p ng-bind-html="article.body" ng-if="isSelectedArticle(article)"></p>
        </li>
      </ul>
    </section>
  </div>

  <!-- end faq articles by category -->
  <div class="help" layout-align="center center" layout="column">
    <h1>{{"CANT_FIND_LOOKING_FOR" | translate}}</h1>
    <a
      ga-send-event
      event-category="FAQ Page"
      event-action="click"
      event-label='Create Ticket'

      ng-click="createTicketDialog();" class="blue-button">{{"CONTACT_US" | translate}}</a>
  </div>

</div>