/* Styles go here */

.custom-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	zoom: 1;
	*display: inline;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-select.small {
	width: 104px;
}
.custom-select.medium {
	width: 164px;
}
.custom-select.large {
	width: 300px;
}
.custom-select.xlarge {
	width: 380px;
}
.custom-select > select {
	display: none !important;
}
.custom-select > a.dropdown-toggle {
	border-radius: 0;
	line-height: 28px;
	box-shadow: none;
	background: #ffffff;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	border: 1px solid #aaa;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	color: #888;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
	cursor: not-allowed;
	color: #aaa;
	background: #eee;
}
.custom-select > a.dropdown-toggle:hover, 
.custom-select.open > a.dropdown-toggle {
	color: #333;
}
.custom-select.open > a.dropdown-toggle {
	border-bottom: 0;
	line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
	border-color: #f09784;
	color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.custom-select > a.dropdown-toggle > b {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
	content: "\f0d7";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 12px;
	position: relative;
	top: -1px;
	left: 1px;
}
.custom-select.open > a.dropdown-toggle > b:before {
	content: "\f0d8";
}
.custom-select > .dropdown-menu {
	margin-top: 0;
	border-color: #aaa;
	border-top: 0;
	padding-bottom: 0;
	width: auto;
	min-width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 0 4px;
	white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
	width: 100%;
	min-height: 30px;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 20px 4px 5px;
	border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
	content: "\f002";
	display: inline-block;
	color: #888;
	font-family: FontAwesome;
	font-size: 14px;
	position: absolute;
	top: 4px;
	right: 10px;
}
.custom-select > .dropdown-menu > ul {
	border-color: #aaa;
	border-top: 0;
	margin: 4px 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 240px;
	padding-right: 14px;
}
.custom-select > .dropdown-menu > ul > li > a {
	font-size: 13px;
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
	padding: 3px 8px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	cursor: pointer;
	width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover, 
.custom-select > .dropdown-menu > ul > li > a:focus {
	color: #fff;
	text-decoration: none;
	background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover {
	background: #4f99c6;
}
.custom-select > .dropdown-menu > ul > li > a:focus {
	background: #2283c5;
}
.custom-select > .dropdown-menu > ul > li.empty-result > em {
	text-align: center;
	padding: 4px 8px;
	display: block;
}
.custom-select > .dropdown-menu > .custom-select-action > button {
	border-radius: 0;
	background-image: none;
}
input.form-control.srch_icon {
    background-color: #e0e3e9 !important;
}
.arrow{
	margin-top: 10px;
}
.load-more-button {
    margin-bottom: 50px;
    text-align: center;
}

.setCursor {
cursor: pointer;
}
.top-scholarship{
	vertical-align: middle !important;
    width: auto !important;
    height: 99px !important;
    width: 90px !important;
}
.headingTxet{
	    color: #7a7a7a !important;
    margin: 35px 0 !important;
    line-height: none !important;
}
.apply-btn{
	    font-size: 12px !important;
    font-weight: 600 !important;
    color: #fff !important;
    background: #f90 !important;
    padding: 11px 0 !important;
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin-top: 40px !important;
}

#signup__wrapper{
	padding: 40px 0 0px !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
    cursor: pointer;
}

.schloarship-landingpage-button{
	background: #f90;
    font-size: 24px;
    color: #fff;
    padding: 14px 32px;
    margin-top: 30px;
}
.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
.forgot-password-button{
  width: 100% !important;
}
select option:disabled {
    color: #040404;
    font-size: 20px;
}
.add-btn{
      border-radius: 50%;
      border-color: #fff;
      float: right;
}
button.ada-chat-button {
    display: none;
}
.profile-edit-button {
    opacity: 0;
    position: absolute;
    margin-left: 20px;
}
.notification .info:hover .profile-edit-button {
    opacity: 1;
}
.profile-img img {
    border-radius: 50% 50%;
}
.site__logo {
    margin-top: 18px !important;
}
.srch_select a{
  padding: 9px 15px !important;
}
.profile_detail{
  margin-top: 28px !important;
}
.marginB25{
  margin-bottom: 25px;
}
.nomargin {
    margin: 0px !important;
}

.nopadding {
    padding: 0px !important;
}

small {
    font-size: 70%;
}


.searchandselect {
    cursor: pointer;
    position: relative;
    width: 500px;
    border: 1px solid #e6e8ea;
    z-index: 9999;
}

    .searchandselect .header {
        height: 40px;
        padding: 10px 15px;
        z-index: 9999;
    }

    .searchandselect .search {
        padding: 5px;
        display: none;
        z-index: 9999;
    }

    .searchandselect .dropdown {
        border: 1px solid #e6e8ea;
        left: 0;
        list-style: outside none none;
        overflow: auto;
        position: absolute;
        right: 0;
        top: 100%;
        margin: 0;
        padding: 0;
        display: none;
        z-index: 9999;
    }

    .searchandselect.active .search {
        display: inherit;
    }

    .searchandselect.active .dropdown {
        display: inherit;
        max-height: 290px;
    }

    .searchandselect .dropdown li {
        margin: 10px 0 0;
        padding: 0 10px;
    }

        .searchandselect .dropdown li i {
            color: inherit;
            margin-right: 5px;
            vertical-align: middle;
            float: right;
        }

        .searchandselect .dropdown li small {
            margin-right: 10px;
        }