/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: #f9f9f9;
}
h1, h2, h3, h4{
	margin-top: 0;
}
a:focus, a:hover{
	text-decoration: none;
}
a:hover{
	opacity: .75;
}
*,html{
	padding: 0;
	margin: 0;
}
h2{
	font-size: 42px;
	font-weight: 600;
}
h4{
	font-size: 22px;
	font-weight: 600;
}
ul{
	list-style: none;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.bg_white{
	background: #fff;
	border: 1px solid #cdcdcd;
}
.bg_orange{
	background: #ff9900;
	color: #fff !important;
}
.bg_grey{
	background: #f0f0f0;
	color: #333 !important;
}
.bg_grey_light{
	background: #f9f9f9;
	color: #333 !important;
}
.bg_grey_dark{
	background: #cdcdcd;
	color: #fff !important;
}
.bg_blue, .btn-primary{
	background: #0db1f0;
	color: #fff !important;
}
.bg_dark{
	background: #333;
	color: #fff !important;
}
.bg_green{
	background: #9acd32;
	color: #fff !important;
}
.bg_blue_light{
	background: #53bfdf;
	color: #fff !important;
}
.bg_orange_light{
	background: #f78f6a;
	color: #fff !important;
}
#site__header{
	background: #fff;
	padding-bottom: 10px;
}
.top__header{
	border-bottom: 1px solid #cdcdcd;
}
.top_left{
	margin-top: 7px;
}
.uni_select a{
	font-size: 16px;
	font-weight: 600;
    padding: 11px;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.uni_title{
	font-size: 20px;
	font-weight: 600;
	margin-top: 9px;
}
.srch_feild input{
	border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 19px 20px;
}
.cate_select p{
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 19px 0;
}
@media only screen and (min-width: 768px){
	.cate_select p{
		margin-left: -30px;
	}
}
.main__header a{
	font-size: 16px;
	color: #333;
	font-weight: 600;
}
.site__logo{
	margin-top: 12px;
}
.site__logo a{
	font-size: 30px;
	color: #0db1f0;
}
.nav__menu{
	margin-top: 20px;
	padding-left: 0;
}
.nav__menu ul{
	margin-bottom: 0;
}
.nav__menu > ul > li{
	display: inline-block;
	margin: 0 10px;
}
.nav__menu ul li:first-child{
	margin-left: 0;
}
.nav__menu ul li:last-child{
	margin-right: 0;
}
.srch_select a{
	padding: 11px 15px;
    min-width: 150px;
    display: block;
	border-radius: 5px;
	position: relative;
}
.dropdown-submenu.open > a{
	border-radius: 5px 5px 0 0;
	outline: none;
}
.dropdown-menu{
	margin-top: 0;
	padding: 0;
	border-radius: 0 5px 5px 5px;
	min-width: 200px;
}
.dropdown-menu li{
	display: block;
	margin: 5px 0;
}
.dropdown-menu li a{
	color: #fff;
	padding: 3px 14px;
}
.dropdown-menu li a:hover{
	color: #f5f5f5;
	background: transparent;
}
.srch_select > a:after{
	content: '';
	position: absolute;
	right: 15px;
	top: 18px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #fff;
}
#ucchub__noti .srch_select > a,
#ucchub__job .srch_select > a{
	border: 1px solid #cdcdcd;
}
#ucchub__noti .srch_select > a:after,
#ucchub__job .srch_select > a:after{
	border-top-color: #333;
}
.profile_detail{
	margin-top: 30px;
	padding: 0;
}
.profile_title{
	margin: 2px 0 0 8px;
}
.profile_title a{
	padding-right: 25px;
}
.profile_title a:after{
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #333;
}
.profile_title .dropdown-menu{
	margin-top: 5px;
}
#banner__wrapper{
	background: url(../images/banner.jpg) no-repeat;
	color: #fff;
	position: relative;
	height: 377px;
}
#banner__wrapper.big_banner{
	height: 576px;
}
#banner__wrapper:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
#ucchub__job #banner__wrapper{
	background: url(../images/job_banner.jpg) no-repeat;
}
#banner__wrapper.event_banner{
	background: url(../images/event_banner.jpg) no-repeat;
}
.banner_content{
	margin-top: 103px;
}
.banner_title h1{
	font-weight: bold;
	font-size: 48px;
	margin: 0;
}
.banner_title p{
	margin-top: 10px;
}
.banner_form {
    margin-top: 20px;
}
#ucchub__job .banner_form {
    margin-top: 50px;
}
.nav-tabs{
	border: none;
}
.nav-tabs li{
	margin-right: 2px;
}
.nav-tabs li a{
	background: rgba(0,0,0,.8);
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: 600;
}
.nav-tabs li.active a{
	background: #0db1f0;
	color: #fff;
	border-color: transparent;
}
#banner__wrapper form{
	position: relative;
}
#banner__wrapper form input{
	width: 100%;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 15px;
    border: 5px solid rgba(0, 0, 0, 0.8);
}
#banner__wrapper form button{
	position: absolute;
    right: 5px;
    top: 5px;
	background: #0db1f0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 30px;
}
#banner__wrapper form button span{
	margin-right: 12px;
}
#ucchub__job #testimonial__wrapper{
	padding-bottom: 50px;
}
.testi_detail{
	max-width: 965px;
    margin: auto;
    padding: 50px 0;
}
.testi_user {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
	max-width: 185px;
	margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}
.testi_user img{
	border-radius: 50%;
}
.testi_content{
	max-width: 760px;
}
.testi_content p{
	font-size: 30px;
	font-weight: 300;
	color: #525252;
	line-height: 1.25;
	margin-bottom: 0;
}
.testi_content .user_name{
	font-size: 24px;
	font-weight: 600;
}
#heading_section,
#marketplace_section,
#market_section{
	padding: 50px 0;
}
.heading_highlight p{
	font-size: 24px;
}
.heading_detail, .marketplace_detail{
	margin-top: 50px;
}
.heading_detail p{
	max-width: 90%;
}
.heading_detail a{
	font-weight: 600;
    color: #0db1f0;
}
.market_link{
	margin-top: 20px;
}
.market_link a{
	display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 3px;
}
#market_section h2{
	margin-bottom: 50px;
} 
.book_lists li{
	display: inline-block;
	margin: 0 18px 20px 0;
}
.book_img {
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
}
.book_detail p{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}
.book_detail .book_author{
	font-weight: 400;
}
.magazine_links{
	margin-top: 25px;
}
.quick_links .highlight{
    color: #0db1f0;
    margin-top: 0;	
}
.quick_links li{
	margin-bottom: 10px;
}
.quick_links a{
    color: #0db1f0;
}
#signup_page #footer__section{
	background: url(../images/footer_bg.png) no-repeat;
	position: relative;
	margin-top: -275px;
	padding-top: 300px;
}
#footer__section{
	background: #212225;
	color: #fff;
	padding-top: 50px;
}
#signup_page #footer__section .footer_bg{
	margin-top: -57px;
    padding-top: 50px;
    background: #212225;
}
#footer__section a{
	color: #fff;
}
.footer_liks li{
	margin-bottom: 10px;
}
.social_links li{
	display: inline-block;
	margin-right: 15px;
}
.copyright{
	color: #868a93;
	margin: 50px 0 0;
}
.srch_results{
	padding: 50px 0;
}
.srch_results_title {
    margin: 0 0 50px 15px;
}
.srch_list{
	border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 20px;
	background: #fff;
	margin-bottom: 30px;
}
.srch_rslt_detail{
	font-size: 14px;
    margin-top: 10px;
}
.srch_rslt_detail p{
	margin-bottom: 5px;
}
.book_title{
	font-size: 18px;
	font-weight: 600;
}
.book_author{
	font-weight: 600;
}
.book_price{
	font-size: 18px;
	font-weight: 600;
	color: #0db1f0;
}
.book_price p:last-child{
	margin-bottom: 0;
}
.book_price span{
	font-size: 16px;
	color: #000;
	text-decoration: line-through;
}
.book_stock p{
	font-weight: 600;
}
.book_stock p a{
	padding: 2px 5px;
	margin-right: 5px;
}
.book_stock p span{
	color: #ff9900;
}
.site__login a{
	padding: 5px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 4px;
}
#signup__wrapper{
	font-family: 'Roboto', sans-serif;
	background: #edf9fe;
	padding: 40px 0 350px;
}
#signup__wrapper h3{
	font-size: 36px;
}
.signup__form{
	max-width: 442px;
	margin: auto;
	padding: 30px;
	background: #fff;
	margin-top: 20px;
}
.signup__form .form-group{
	margin-bottom: 20px;
}
.signup__form input,
.signup__form select{
	width: 100%;
    background: #e0e3e9;
    padding: 15px 10px;
    border: none;
	min-height: 50px;
}
.signup__form input.srch_icon{
	background-image: url(../images/srch_icon.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}
.signup__form input::placeholder{
	color: #333;
	font-size: 16px;
	display: block;
}
.signup__form button{
	float:left;
	width:40%;
    background: #0db1f0;
    outline: none;
    color: #fff;
    padding: 15px 33px;
}
.signup__form .choice{
	width: 10%;
    float: left;
    text-align: center;
    margin-top: 15px;
}
.signup__buttons .form-group{
	float:right;
	width:50%;
}
.gender .form-group {
    width: 47%;
}
.signup__link a {
    color: #0db1f0;
    font-size: 24px;
}
.signup__link {
    text-align: right;
}
.arrow {
    text-align: right;
}
.controls.arrows{
	font-size: 35px;
}
.controls.arrows a{
	margin-left: 10px;
	color: #333;
}
.headline h3{
	font-weight: 600;
	margin-bottom: 1em;
}
.no_margin_left{
	margin-left: 0;
}
.book_profile{
	background: #fff;
	padding: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.book_profile .book_img{
	max-width: 24%;
}
.profile_book_detail{
	max-width: 76%;
	padding: 0 0 0 25px;
}
.profile_book_detail .book_title{
	font-size: 24px;
	line-height: 1;
}
.book_description p{
	font-size: 14px;
	margin-bottom: 2px;
	font-weight: 600;
}
.book_description p:first-child{
	margin-bottom: 5px;
}
.normal{
	font-weight: normal;
}
.color_666{
	color: #666;
}
.regular_price{
	text-decoration: line-through;
    color: #333;
    margin: 15px 0 0;
}
.panel-group{
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 0;
}
.panel-group .panel{
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #cdcdcd;
}
.panel-group .panel:last-child{
	border-bottom: none;
}
.panel-heading{
	padding: 20px 15px;
	background-color: #f9f9f9 !important;
}
.panel-group .panel + .panel{
	margin: 0;
}
.panel-group .panel span{
	display: block;
}
.panel-title{
	font-size: 18px;
	color: #666;
}
.panel-title a{
	display: block;
	position: relative;
}
.panel-title span{
	font-size: 14px;
	margin-top: .5em;
}
.panel-body{
	position: relative;
	border: none;
	padding: 20px 15px;
}
.panel-body span + span{
	font-size: 14px;
	margin: 5px 0 20px;
}
.panel-body p{
	font-size: 14px;
	font-style: italic;
}
.add_cart {
    background: #81bc4b;
    color: #fff;
    font-size: 14px;
    padding: .5em;
    border-radius: 3px;
    position: absolute;
    right: 1em;
    top: 2em;
}
.panel-title-anchor[aria-expanded="true"]:after{
	content: ' ';
	display: block;
	position: absolute;
	right: 0;
	top: 20px;
	height: 3px;
	width: 15px;
	background: #cdcdcd;
}
.panel-title-anchor[aria-expanded="false"]:after{
	content: '+';
	display: block;
	position: absolute;
	right: 0;
	font-size: 30px;
	font-weight: bold;
	color: #cdcdcd;
	top: 5px;
	height: auto;
	width: auto;
	background: transparent;
}
.headline{
	margin-top: 2em;
}
#main__content .nav-tabs{
	border-bottom: 1px solid #666;
}
#main__content .nav-tabs li{
	margin-right: 35px;
}
#main__content .nav-tabs li:last-child{
	margin-right: 0;
}
#main__content .nav-tabs li a{
	color: #666;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
}
#main__content .nav-tabs li.active a,
#main__content .nav-tabs li:hover a{
	color: #0cb1f0;
	background: none;
	border-bottom-color: #0cb1f0;
}
#main__content .tab-content{
	padding: 1.5em .5em;
	font-size: 14px;
}
.tab_mrkt_details{
	text-align: center;
	margin: 15px 0 30px;
}
.tab_mrkt_details .nav-tabs{
	display: inline-block;
    border: 1px solid #cdcdcd !important;
	overflow: hidden;
    background: #fff;
    border-radius: 5px;
    text-align: left;
	margin-bottom: 0 !important;
}
.tab_mrkt_details .nav-tabs li{
	margin-right: 0 !important;
	border-right: 1px solid #cdcdcd;
}
.tab_mrkt_details .nav-tabs li:last-child{
	border-right: none;
}
.tab_mrkt_details .nav-tabs a {
    border: none !important;
    padding: 14px 25px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    line-height: 1.2 !important;
	font-size: 16px !important;
	margin-right: 0;
	min-height: 66px;
}
.tab_mrkt_details .nav-tabs li.active a,
.tab_mrkt_details .nav-tabs li:hover a {
	color: #fff !important;
	background: #0cb1f0 !important;
	border: none !important;
}
.tab_mrkt_details .profile-info .nav-tabs{
	border: none !important;
	border-radius: 0;
	display: block;
}
.tab_mrkt_details .profile-info .nav-tabs li{
	border-right: none;
	float: none;
	display: block;
}
.tab_mrkt_details .tab-content {
	text-align: left;
	background: #fff;
	margin-top: 20px;
	border-radius: 5px;
	padding: 0 !important;
	border: 1px solid #cdcdcd;
}
.tab-content ul{
	margin-bottom: 0;
}
.tab-content li {
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}
.tab-content li:last-child {
    border-bottom: none;
}
.tab-content li span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 28px;
    font-size: 14px;
    font-weight: 600;
}
span.seller_name {
    max-width: 150px;
}
span.img_linit {
    max-width: 270px;
}
span.book_price {
    max-width: 150px;
}
span.book_price span {
    color: #666;
	text-decoration: none;
}
span.usr_cmnt {
    max-width: 250px;
}
span.send_msg {
    max-width: 150px;
	text-align: right;
    margin-right: 0 !important;
}
span.send_msg a{
	background: #81bc4b;
	color: #fff;
	display: block;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
}
span.counter_img{
	max-width: 200px;
	margin: 0 48px !important;
}
.school_banner_form form{
    border: 5px solid rgba(0, 0, 0, 0.8);
	max-width: 915px;
}
.school_banner_form form input{
    max-width: 290px;
	margin-right: -3px;
	border: none !important;
}
.school_banner_form form select {
    width: 235px;
	color: #333;
	font-weight: 600;	
    padding: 12px 20px;
    margin-right: -3px;
	border: 1px solid #fff;
}
#ucchub__job .school_banner_form form select {
    width: 157px;
}
.school_banner_form form button {
    top: 0 !important;
	right: 0 !important;
    padding: 13px 30px !important;
}
.rank_title h1{
	font-size: 46px;
	font-weight: 600;
}
.rank_title p{
	font-size: 24px;
}
#ucchub__job .rank_title p{
	font-weight: 600;
	margin: 40px 0;
}
.sample_content p{
	margin-top: 10px;
	font-weight: 600;
}
.sample_content a{
	color: #ff9a02;
	font-weight: 600;
	border-radius: 5px;
	border: 2px solid #ff9a02;
	padding: .5em 1em;
	display: inline-block;
}
.why_detail{
	margin-bottom: 3em;
}
.why_detail + .why_detail{
	margin-bottom: 0;
}
.why_content{
	margin-top: 50px;
}
.team_mem_desc{
	font-size: 14px;
	font-weight: 600;
}
.team_mem_pic img {
    border-radius: 50%;
    border: 3px solid #fff;
}
.font-46{
	font-size: 46px;
	font-weight: 600;
}
.Signup_login_links{
	margin-top: 40px;
}
.Signup_login_links a {
    padding: 8px 25px;
	border-radius: 5px;
    display: inline-block;
}
#content__wrapper{
	padding: 50px 0;
}
.srch_filter{
	border-bottom: 2px solid #cdcdcd;
	margin-bottom: 25px;
}
.srch_filter ul{
	margin-bottom: -2px;
}
.srch_filter li{
	display: inline-block;
	font-size: 16px;
}
.srch_filter li a{
	font-size: 18px;
	font-weight: 600;
	color: #666;
	padding-bottom: 10px;
	display: inline-block;
	margin-right: 15px;
}
.srch_filter li.filtr_active a,
.srch_filter li:hover a{
	color: #0db1f0;
	border-bottom: 2px solid #0db1f0;
}
.container_block{
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid #cdcdcd;
}
.padding__0{
	padding: 0 !important;
}
.left_quick_links li a{
	display: block;
	padding: 15px 15px 15px 70px;
	font-size: 18px;
	font-weight: 600;
	color: #666;
	border-bottom: 1px solid #cdcdcd;
}
.left_quick_links li:last-child a{
	border-bottom: none;
}
.left_quick_links li.location a{
	background: url(../images/location_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.majors a{
	background: url(../images/major_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.score a{
	background: url(../images/score_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.net_price a{
	background: url(../images/net_price_icon.jpg) no-repeat 15px center;
}
.initial_title {
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 600;
}
.srch_list_content li{
	margin-top: 20px;
}
.srch_content_detail h4{
	color: #0db1f0;
	margin-bottom: 0;
}
span.inline_list {
    display: inline-block;
    width: 100%;
    max-width: 140px;
    margin-top: 10px;
}
span.inline_list span {
    display: block;
}
.semibold {
    font-weight: 600;
}
.avg_count{
	padding: 0 5px;
	border-radius: 3px;
}
.views_counter p + p {
    font-size: 12px;
    margin: 0;
}
.wishlist a {
    background: #cdcdcd;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 10px;
}
p.wishlist {
    margin-top: 10px !important;
}
.more_reviews{
	display: none;
}
.refine_results{
	margin-bottom: 30px;
	overflow: hidden;
}
.refine_results ul{
	margin-bottom: 0;
}
.refine_results li {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}
.frm_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.refine_results label{
	font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.refine_results input{
	padding: 11px;
	height: auto;
    font-size: 16px;
}
.refine_results .checkbox{
	max-height: 325px;
	overflow: auto;
}
.refine_results .checkbox label{
	display: block;
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 5px;
    font-weight: normal;
    padding-left: 35px;
    position: relative;
}
.refine_results input[type="checkbox"] {
    height: 24px;
    width: 24px;
	margin-left: -35px;
	top: 0;
    -webkit-appearance: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
	outline: none;
    box-shadow: inset 1px 1px 2px rgba(205, 205, 205, 0.6);
}
.refine_results input[type=checkbox]:checked {
    -webkit-appearance: checkbox !important;
}
#ucchub__job .panel-group{
	border: none;
	border-radius: 0;
}
#ucchub__job .panel-heading{
	background-color: transparent !important;
	border-color: transparent;
}
#ucchub__job .panel-heading a{
	padding-left: 20px;
	position: relative;
}
#ucchub__job .panel-heading a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	border-bottom: 7px solid transparent;
	border-top: 7px solid transparent;
	border-left: 7px solid #525252;
}
.job_detail_list {
    margin-bottom: 20px;
}
.job_body {
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}
.job_bottom {
    padding: 15px;
	font-size: 14px;
}
.job_bottom a{
    color: #0cb1f0;
}
span.job_author {
	float: right;
}
.job_title{
	max-width: 90%;
}
.job_title a {
    font-size: 22px;
    font-weight: 600;
    color: #0cb1f0;
}
.job_comp {
    font-weight: 600;
    margin: 5px 0 15px;
}
span.job_exp {
    margin-right: 20px;
}
.job_location_exp {
    margin-bottom: 10px;
}
span.job_skill {
    font-weight: 600;
    margin-right: 15px;
}
span.fav_select {
    position: absolute;
    right: 15px;
	top: 10px;
	font-size: 20px;	
    color: #ccc;
}
.job_apply_btns{
	margin-top: 20px;
}
.job_apply_btns a{
	font-size: 24px;
	font-weight: 600;
	color: #ff9900;
	border: 1px solid #ff9900;
	border-radius: 5px;
	line-height: 1;
	padding: 10px 20px;
	display: inline-block;
}
.job_apply_btns a + a{
	margin-left: 15px;
}
.no_border{
	border: none !important;
}
li.rslt_cnt {
    font-size: 14px;
	border-bottom: none;
}
li.rslt_cnt p:last-child{
    margin-bottom: 0;
}
span.refine_title {
    min-width: 110px;
    display: inline-block;
}
span.part_col {
    margin-right: 60px;
}
pre{
	background: none;
    font-size: 14px;
    padding: 0;
    border: none;
    line-height: 25px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}
.social_icon_btns a{
	display: inline-block;
	width: 37px;
	height: 34px;
	background: url(../images/social_icons.png) no-repeat;
}
.social_icon_btns a.twtr{
	background-position: -40px 0;
}
.social_icon_btns a.linkdin{
	background-position: -80px 0;
}
.social_icon_btns a.t_social{
	background-position: -120px 0;
}
.social_icon_btns a.gplus{
	background-position: -160px 0;
}
.social_icon_btns a.n_social{
	background-position: -200px 0;
}
.social_icon_btns a.pintrest{
	background-position: -240px 0;
}
.social_icon_btns {
    float: right;
    margin-top: 20px;
}
.content_data .tab-pane > ul > li{
	margin-bottom: 20px;
	border: none;
}
.content_img {
    float: left;
    max-width: 261px;
    width: 20.6%;
    overflow: hidden;
}
.content_img img{
    /*width: 100%;*/
}
.content_info {
    float: left;
    width: 100%;
    max-width: 60.4%;
}
.info_body {
    padding: 20px 20px 15px;
}
.info_body p {
    font-size: 14px;
    margin-bottom: 5px;
}
p.cont_tilte {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
}
.info__bottom {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.info__bottom li {
    display: inline-block;
    border-bottom: none;
	padding: 12px 20px;
    border-left: 1px solid #cdcdcd;
}
@media (min-width: 992px){
	.social_icon_btns {
		float: right;
		margin-top: -36px;
	}
}
#banner__wrapper.event_banner .banner_content{
	margin-top: 225px;
}
.event_banner_title{
	font-size: 62px;
	text-transform: uppercase;
}
.event_banner_subtitle{
	font-size: 32px;
}
.event_srch_form{
	margin: 30px 0;
	text-align: center;
}
.event_srch_form input, .event_srch_form select, .event_srch_form button{
    font-size: 16px;
    padding: 10px;
	height: 52px;
    color: #999;
    margin-right: -4px;
	vertical-align: top;
	border-radius: 0;
    border: 1px solid #cdcdcd;
    border-right-color: transparent;
}
.event_srch_form input{
	width: 265px;
}
.event_srch_form input + input, .event_srch_form button{
	width: 265px;
}
.event_srch_form button{
	border-right-color: #cdcdcd;
}
.event_srch_form button span{
	margin-right: 10px;
}
.event_venue{
	background: url(../images/cross.png) no-repeat right 6px;
	padding-right: 35px;
	display: inline-block;
}
.event_venue span{
	color: #0db1f0;
}
.events_lists > div{
	margin-bottom: 30px;
}
.event_cate_img img,
.viewed_img img,
.event_img img {
    width: 100%;
}
.events_lists .container_block{
	border-radius: 0;
}
.event_detail p {
    font-size: 14px;
}
.event_title {
    font-weight: 600;
    font-size: 16px !important;
}
.event_bottom{
	padding: 0;
	border-top: 0;
}
.event_bottom p{
	float: left;
	margin: 18px 0 18px 15px;
}
.event_bottom p span{
	margin-left: 10px;
}
.event_bottom ul{
	float: right;
	margin: 0;
}
.event_bottom ul li{
	display: inline-block;
	padding: 15px 10px;
	border-left: 1px solid #cdcdcd;
}
.event_bottom ul li + li{
	margin-left: -6px;
}
.event_bottom ul li a{
	font-size: 20px;
	color: #797979;
    display: inline-block;
    text-align: center;
    width: 26px;
}
.events_categories, .most-viewed_lists{
	margin-top: 30px;
}
.cate_list{
	position: relative;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
}
.event_cate_img:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 130px;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.03) 18%, rgba(0,0,0,0.09) 28%, rgba(0,0,0,0.19) 41%, rgba(0,0,0,0.37) 55%, rgba(0,0,0,0.89) 89%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,0.9) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 18%,rgba(0,0,0,0.09) 28%,rgba(0,0,0,0.19) 41%,rgba(0,0,0,0.37) 55%,rgba(0,0,0,0.89) 89%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.03) 18%,rgba(0,0,0,0.09) 28%,rgba(0,0,0,0.19) 41%,rgba(0,0,0,0.37) 55%,rgba(0,0,0,0.89) 89%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
}
.event_cate_name{
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 24px;
	color: #fff;
}
.viewed_img{
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
}
.upload_icon img{
	margin-top: -3px;
}
.feature_event_title{
	margin-bottom: 30px;
}

.map{
	margin-bottom: 20px;
}
.map img{
	width: 100%;
}
.mp_srch_field{
	margin-bottom: 0;
}
.mp_srch_field img{
	height: 24px;
    margin-top: -4px;
}
.mp_srch_field span{
	font-size: 18px;
    margin-left: 10px;
}
.event_srch_filter{
	margin-top: 20px;
	padding: 0;
}
.event_srch_filter .panel-group{
	border: none;
}
.event_srch_filter .panel-heading{
	background-color: transparent !important;
	padding: 0;
}
.event_srch_filter .panel-heading .panel-title a{
	padding: 15px;
}
.event_srch_filter .panel-heading .panel-title a:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	height: 0;
	width: 0;
	vertical-align: top;
	margin-top: 7px;
	border-top: 7px solid #666;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}
.event_srch_filter .panel-heading .panel-title a.collapsed:before{
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #666;
	margin-top: 2px;
}
.event_srch_filter .panel-body{
	padding: 0 15px;
	border-top: none !important;
}
.event_srch_filter .panel-body a {
    padding: 5px 10px 5px 17px;
    display: block;
    color: #666;
}
.coupon_banner_search form select {
    padding: 12px 20px 12px 15px;
}
#ucchub__job .coupon_banner_search form select {
    width: 84.5%;
}
#ucchub__job .coupon_title p {
    font-weight: 600;
    margin: 40px 0;
    font-size: 46px;
}
.coupon_section .col-sm-4 {
    padding: 0 10px;
	margin-bottom: 20px;
}
.coupon_info {
	position:relative;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.coupon_text {
    padding-left: 0;
}
.coupon_text  p:last-child{
	font-size:14px;
}
.coupon_name{
	font-size:18px;
	font-weight:700;
}
.coupon_saving{
	color:#0db1f0;
	font-size:18px;
	font-weight:700;
}
.coupon_path img {
    margin-right: -5px;
}
.coupon_path {
    text-align: right;
}
.coupon_offer_img {
    padding-top: 25px;
}
.coupon-links li .fa {
    font-size: 25px;
    margin-right: 15px;
}
.coupon-links li {
    float: left;
    width: 30%;
    color: #076589;
    font-size: 18px;
}
.coupon-links li a {
    color: #076589;
}
.coupon-links li a:hover {
    color: #ffffff;
}
.coupon-links li:first-child, .coupon-links li:nth-child(2) {
    border-right: 1px solid;
    margin-right: 13px;
}
.coupon-links {
	background: #ffffffc7;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 95%;
}
.link-options {
    background: #6bcef4;
    padding: 17px 15px 7px;
    position: relative;
    top: 57%;
}
.with-link-options{
	padding-bottom:55px;
}
.li-single li{
	width:100%;
	border-right:none !important;
}
.load-btn button {
    font-size: 18px;
    font-weight: 700;
    background: #333;
    color: #fff;
    padding: 7px 24px;
}.load-btn button:hover{
	color:#fff;
}
.load-btn {
    text-align: center;
    margin: 50px 0 25px;
}
.coupon_title .btn {
    width: 75%;
    background: #f90;
    color: #fff;
    border-radius: 5px 0 0 5px;
    border-right: 2px solid #bf7300;
    padding-top: 9px;
    padding-bottom: 9px;
	font-size:16px;
	
}
.coupon_title .input-number {
    width: 25%;
    background: #f90;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 6px;
	color:#fff;
}
.coupon_title .col-sm-2{
    padding: 0 5px;
	margin: 55px 0;
}

/****************** member profile ***************/

.services li {
    padding: 0;
    border-bottom: none;
    float: left;
	width:33%;
	margin-bottom: 10px;
}
.services li p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
}
.services{
    background: #fff;
    border: 1px solid #cdcdcd;
    padding: 20px 0 0;
}
.service-news-area .first-part{
	padding:0;
}
.services>p,.recent-news>p {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin: 0 30px 30px;
}
.service-news-area .second-part{
	padding:0 0 0 30px;
}
.recent-news {
    background: #fff;
    border: 1px solid #cdcdcd;
    padding: 20px 0 80px;
}
.recent-news li .col-xs-9 {
    text-align: left;
    font-size: 13px;
}
.recent-news li {
	margin-bottom:10px;
}
.recent-news .news-heading {
    font-weight: 700;
}
.recent-news .news-date {
    font-weight: 600;
}
.recent-news li .col-xs-9 p {
    margin-bottom: 5px;
}
.buttons-area {
    padding: 60px 0 30px;
}
.buttons-area .btn {
    float: left;
	font-size:18px;
	font-weight:600;
    padding: 14px 33px;
}
.buttons-area .btn-space {
    width: 300px;
    margin: 0 auto;
}
.buttons-area .classified {
    border-radius: 5px 0 0 5px;
	background:#0db1f0;
	color:#fff;
}
.Textbook {
    border-radius: 0 5px 5px 0;
    background: #fff;
    border: 1px solid #cdcdcd;
}
.product-area .product-image {
    background: #fff;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #999999;
}
.product-area .product-name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
	margin-bottom: 3px;
}
.product-detail {
    margin-top: 15px;
}
.product-area .product-detail .tags {
    text-align: left;
}
.product-area .product-detail .price {
    text-align: right;
    font-weight: 600;
    color: #0db1f0;
}
.product-area .product-detail li {
    display: inline-block;
    width: 49%;
	font-size:14px;
}
.main-event {
    border: 1px solid #cdcdcd;
	margin-bottom:25px;
}
.event-area {
    padding-top: 60px;
}
.event-heading {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.event-detail-part-1 .col-xs-4 {
    padding: 0 13px 0 0;
	background:#fff;
}
.event-area .event-img,.event-area .detail-box1 {
    height: 185px;
    overflow: hidden;
}

.event-detail-part-1 .col-xs-8 {
    padding: 0 15px 0 17px;
	background:#fff;
}
.event-area .detail-box1 {
    text-align: left;
    padding-top: 20px;
}
.event-area .heading {
    font-size: 16px;
    font-weight: 600;
	line-height: 14px;
}
.event-area .time,.event-area .address {
    font-size: 14px;
	color: #666;
}
.event-area .address {
    margin-top:35px;
}
.event-detail-part-2 .col-xs-4{
    padding: 0;
    width: 31.6%;
}
.event-price p {
    margin-bottom: 0;
	font-size:14px;
	text-align:left;
}
.event-price {
    background: #eee;
    padding: 15px 30px;
}
.event-detail-part-2 .col-xs-8 {
    width: 68.4%;
    padding: 0;
    background: #fff;
    border-top: 1px solid #cdcdcd;
}
.event-detail-part-2 .col-xs-8 ul{
	margin-bottom:0;
}
.event-area .event-tags li {
    display: inline;
    margin-right: 10px;
    color: #666;
}
.event-area .event-tags {
    padding: 0;
    text-align: left;
	padding: 15px 0 12px 30px;
}
.event-area .event-links li {
    float: left;
    width: 50%;
    border-left: 1px solid #cdcdcd;
    padding: 13.5px 0;
	text-align: center;
}
.event-links {
    padding:0;
}
.no-top-padding{
	padding-top: 0;
}
.event-srch-btns {
	text-align: center;
	margin: 20px 0;
}
.event-srch-btns li {
    display: inline-block;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
	border: 1px solid #dcdcdc;
}
.event-srch-btns li + li {
    margin-left: -5px;
    border-radius: 0 8px 8px 0;
}
.event-srch-btns li a {
    padding: 1em;
    display: block;
    background: #fff;
	color: #525252;
    font-size: 18px;
    text-transform: uppercase;
    min-width: 145px;
}
.event-srch-btns li.active a {
    background: #0db1f0;
	color: #fff;
}
.msg_btn li{
	text-align: left;
}
.msg_btn li a{
	color: #fff;
	padding: 10px;
	position: relative;
	display: block;
}
.msg_btn li.dropdown-submenu > a:after{
	content: '';
	position: absolute;
	margin-right: 10px;
	right: 0;
	height: 0;
	width: 0;
	vertical-align: top;
	margin-top: 8px;
	border-top: 7px solid #fff;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}
.msg_btn li li a{
	color: #525252;
	padding: 5px 10px;
	border-radius: 8px;
}
.msg_btn li li a:hover{
	color: #fff;
	background: #0db1f0;
}
.msg_srch{
	margin: 0 -15px;
}
.msg_srch input{
	background-image: url(../images/srch_icon.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	background-size: 18px;
	padding-left: 40px;
	border-top: 1px solid #dcdcdc;
}
.msgs_rcvd .profile-pic {
    float: left;
    width: 20%;
    margin-left: 2.5%;
}
h4.sender_name {
    font-size: 18px;
	color: #525252;
}
.msgs_rcvd .msg_text_rcvd {
    float: left;
    width: 75%;
    text-align: left;
    font-size: 13px;
    color: #666;
    margin-left: 2.5%;
}
.msgs_rcvd li {
	border-top: 1px solid #dcdcdc;
	padding: 10px 0;
}
.rcvd_msgs_detail{
	margin-right: -15px;
    margin-left: 15px;
    border-width: 0 0 0 1px;
    border-style: solid;
    margin-top: -15px;
    border-color: #dcdcdc;
    padding-top: 15px;
}
.msg_text_rcvd{
	text-align: left;
    margin-left: 10px;
    font-size: 14px;
	height: 52px;
}
.offer_btn{
	padding: 10px;
	border-radius: 8px;
}
.msg_text_rcvd h4.sender_name{
	margin-bottom: 5px;
}
.live_msg_chat {
    margin: 0 -15px;
    border-top: 1px solid #dcdcdc;
    padding: 15px 15px 0;
    min-height: 362px;
}
.chat_dt{
	font-size: 14px;
    font-weight: 600;
}
.chat_msgs {
    max-width: 20em;
    text-align: left;
	float: left;
	clear: both;
}
.snd_msg{
	float: right;
}
.msg_txt {
    padding: 5px 10px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}
.rcvd_msg .msg_txt {
    background: #f3f3f3;
}
.snd_msg .msg_txt {
    background: #b5e8fb;
}
span.msg_time {
    font-size: 13px;
}
.chatting_form {
    margin: 0 -15px;
    padding: 15px;
}
.chatting_form input{
	border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    float: left;
    height: 53px;
    vertical-align: top;
    font-weight: 600;
    width: 100%;
    max-width: 290px;
}
.chatting_form button{
	background: transparent;
    border: 1px solid #b7b7b7;
    min-width: 140px;
    padding: 10px;
    border-radius: 5px;
    float: left;
    height: 53px;
    margin-left: 5px;
}
.chatting_form .chng_ofr{
	display: inline-block;
    padding: 15px 10px;
    border-radius: 5px;
}

/* School Profile Page Css */
.uni_list{
	margin-bottom: 0;
	padding: 1em 2em 0;
}
.uni_list:after{
	display: block;
	content: '';
	clear: both;
}
.uni_list li{
	float: left;
	width: 100%;
	max-width: 33%;
	margin-bottom: .5em;
}
.uni_list li p{
	max-width: 85%;
	line-height: 1.5em;
}
.uni_list li span{
	display: block;
	font-weight: bold;
}

#main__content .tab-content.container_block{
	margin-bottom: 30px;
	border-radius: 0 5px 5px 5px;
	padding: 24px 15px;
}

#main__content .tabs_detail.sch_profile_tabs .nav-tabs{
	border-bottom: none;
}
#main__content .tabs_detail.sch_profile_tabs .nav-tabs li{
	margin-right: 0;
}
#main__content .tabs_detail.sch_profile_tabs .nav-tabs li a{
	padding: 15px;
	background: transparent;
	border: none;
	border-bottom: 2px solid transparent;
}
#main__content .tabs_detail.sch_profile_tabs .nav-tabs li.active a{
	color: #fff;
	background: #0cb1f0;
	border-bottom-color: #0cb1f0;
}
#main__content .tabs_detail.sch_profile_tabs .nav-tabs li:hover a{
	color: #0cb1f0;
	background: none;
	border-bottom-color: #0cb1f0;
}
#main__content .tabs_detail.sch_profile_tabs .nav-tabs li.active:hover a{
	color: #fff;
	background: #0cb1f0;
	border-bottom-color: #0cb1f0;
	opacity: .8;
}

.std_title{
	font-weight: 600;
	font-size: 24px;
}
.std_title img{
	float: left;
	margin: 5px 10px 0 0;
}
.sub_title{
	font-weight: 600;
	font-size: 18px;
}
.sub_title span{
	color: #0cb1f0;
	font-size: 36px;
}
.grade_list {
	max-width: 85%;
	margin-top: 20px;
}
.grade_list li{
	margin-bottom: 10px;
}
.grade_list li span{
	float: right;
	font-weight: 600;
}
.prog_bar_text{
	font-size: 18px;
}
.reviews{
	font-size: 14px;
	color: #666;
	max-width: 50%;
}
.reviews span{
	float: right;
}
.bar_report{
	margin-bottom: 20px;
}
.progress{
	margin-bottom: 5px;
}
.bar_title{
	font-size: 14px;
}
.bar_title span{
	float: right;
	font-weight: 700;
}
.show_more_btn{
	float: right;
    margin-right: 22px;
    position: relative;
}
.show_more_btn:hover{
	color: #0db1f0;
}
.show_more_btn:after{
	content: '';
    border: solid #0db1f0;
    position: absolute;
    padding: 5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    right: -20px;
    top: 4px;
    transform: rotate(45deg);
}
.show_more_btn:hover:after{
	opacity: .75;
}
.right_arrow:after{
    right: -15px;
    top: 7px;	
    transform: rotate(-45deg);
}
.uni_profile_show{
	margin-top: 20px;
}
.uni_icon_img{
	display: inline-block;
	border: 2px solid #666;
}
.uni_profile_title{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 0;
}
.uni_profile_location{
	font-size: 14px;
}
.uni_profile_reviews{
	font-weight: 600;
	font-size: 12px;
}
.uni_profile_reviews span{
	padding: 0 5px;
	display: inline-block;
}
.add_wish_btn{
	padding: 8px 20px 8px 40px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
	position: absolute;
	left: 15px;
	border-radius: 5px;
	bottom: -2.75em;
}
.add_wish_btn{
	background-image: url(../images/wish_list_icon.png);
	background-repeat: no-repeat;
	background-position: 10px;
}
.add_wish_btn:hover{
	opacity: .85;
}
.sch_profile_banner_sp{
	position: relative;
}
@media screen and (min-width: 520px){
	.uni_icon_img{
		float: left;
		margin-right: 20px;
		margin-top: 12px;
	}
	.uni_profile_show{
		margin-top: 75px;
	}
	.uni_profile_title{
		font-size: 36px;
	}
	.uni_profile_location{
		font-size: 18px;
	}
	.uni_profile_reviews{
		font-size: 16px;
	}
}
@media screen and (min-width: 640px){
	.add_wish_btn{
		right: 15px;
		left: auto;
		bottom: 0.5em;
	}
}
#landing_banner__wrapper{
	background: #fff;
}
.slider_banner_content .item img{
	width: 100%;
	height: 300px;
}
.login_signup_form .nav-tabs li{
	margin-right: 0;
	padding: 0;
	text-align: center;
}
.login_signup_form .nav-tabs li a{
	margin-right: 0;
	padding: 10px;
	border: none;
	font-size: 16px;
}
.login_signup_form .nav-tabs li.active a,
.login_signup_form .nav-tabs li a:hover{
	background: #16ae85;
	border: none;
}
.direct_signup{
	margin: 10px 0;
}
.direct_signup li{
	display: inline-block;
	width: 49%;
	text-align: center;
}
.direct_signup li a{
	padding: 8px 10px;
	color: #fff;
	display: block;
	border-radius: 20px;
}
.direct_signup li a i{
	margin-right: 15px;
}
.direct_signup li.fb_signup a{
	background: #5e5aa2;
}
.direct_signup li.go_signup a{
	background: #d64434;
}
.login_signup_form input{
	background: #e9e8ed;
}
.login_signup_form .btn{
	width: 150px;
	padding: 8px 10px;
}
.login_signup_form .btn + .btn{
	width: auto;
    padding: 0;
    float: right;
}
.partner_logos{
	margin: 20px 0;
}
.partner_logos ul{
	column-count: 10;
}
.partner_logos li img{
	width: 100%;
}
.partner_logos li a{
	display: block;
}
.color_purple{
	color: #9d5096;
}
.color_mustud{
	color: #deae00;
}
.color_green{
	color: #008332;
}
.color_blue{
	color: #353276;
}
.self_lists .col-sm-6{
	margin-bottom: 20px;
}
.counter_title {
    background: #f3f5f5;
    padding: 20px;
	min-height: 283px;
}
.counter_title .c_number,
.counter_title .icon,
.counter_title .c_title{
	text-align: center;
	font-size: 20px;
}
.counter_title .c_number{
	margin-bottom: 0;
}
.counter_title .icon{
	font-size: 60px;
	margin-bottom: 0;
}
.counter_title .c_adr{
	font-weight: 600;
    font-size: 20px;
    line-height: 1.33333;
}
.counter_title .c_adr,
.counter_title .c_text{
	color: #333;	
}
.go_link_btn a {
    padding: 10px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.go_link_btn a i{
    margin-right: 15px;
}
.color_purple .go_link_btn a {
    background: #9d5096;
}
.color_mustud .go_link_btn a {
    background: #deae00;
}
.color_green .go_link_btn a {
    background: #008332;
}
.color_blue .go_link_btn a {
    background: #353276;
}
span.arrow_link {
    top: 43%;
    position: absolute;
    font-size: 32px;
}
a.left span.arrow_link {
    left: 5px;
}
a.right span.arrow_link {
    right: 5px;
}

.carousel-caption{
	top: 12px;
	right: 7px;
	left: 7px;
}
.carousel-caption h3{
	font-size: 30px;
	letter-spacing: 1px;
	margin-bottom: 4px;
}
.carousel-caption p{
	font-size: 22px;
	margin-bottom: 17px;
	letter-spacing: 1px;
	color: #c9c9c9;
}
.banner_btn_links a{
	display: inline-block;
    padding: 7px 8px;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 3px;
	background: #d64434;
}
.banner_btn_links a + a{
    margin-right: 0;
	background: #0db1f0;
}