.coupon_banner_search form select {
    padding: 12px 20px 12px 15px;
}
#ucchub__job .coupon_banner_search form select {
    width: 84.5%;
}
#ucchub__job .coupon_title p {
    font-weight: 600;
    margin: 40px 0;
    font-size: 46px;
}
.coupon_section .col-sm-4 {
    padding: 0 10px;
	margin-bottom: 20px;
}
.coupon_info {
	position:relative;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.coupon_text {
    padding-left: 0;
}
.coupon_text  p:last-child{
	font-size:14px;
}
.coupon_name{
	font-size:18px;
	font-weight:700;
}
.coupon_saving{
	color:#0db1f0;
	font-size:18px;
	font-weight:700;
}
.coupon_path img {
    margin-right: -5px;
}
.coupon_path {
    text-align: right;
}
.coupon_offer_img {
    padding-top: 25px;
}
.coupon-links li .fa {
    font-size: 25px;
    margin-right: 15px;
}
.coupon-links li {
    float: left;
    width: 30%;
    color: #076589;
    font-size: 18px;
}
.coupon-links li a {
    color: #076589;
}
.coupon-links li a:hover {
    color: #ffffff;
}
.coupon-links li:first-child, .coupon-links li:nth-child(2) {
    border-right: 1px solid;
    margin-right: 13px;
}
.coupon-links {
	background: #ffffffc7;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 95%;
}
.link-options {
    background: #6bcef4;
    padding: 17px 15px 7px;
    position: relative;
    top: 57%;
}
.with-link-options{
	padding-bottom:55px;
}
.li-single li{
	width:100%;
	border-right:none !important;
}
.load-btn button {
    font-size: 18px;
    font-weight: 700;
    background: #333;
    color: #fff;
    padding: 7px 24px;
}.load-btn button:hover{
	color:#fff;
}
.load-btn {
    text-align: center;
    margin: 50px 0 25px;
}
.coupon_title .btn {
    width: 75%;
    background: #f90;
    color: #fff;
    border-radius: 5px 0 0 5px;
    border-right: 2px solid #bf7300;
    padding-top: 9px;
    padding-bottom: 9px;
	font-size:16px;
	
}
.coupon_title .input-number {
    width: 25%;
    background: #f90;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 6px;
	color:#fff;
}
.coupon_title .col-sm-2{
    padding: 0 5px;
	margin: 55px 0;
}

/****************** member profile ***************/

.services li {
    padding: 0;
    border-bottom: none;
    float: left;
	width:33%;
	margin-bottom: 10px;
}
.services li p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
}
.services{
    background: #fff;
    border: 1px solid #cdcdcd;
    padding: 20px 0 0;
}
.service-news-area .first-part{
	padding:0;
}
.services>p,.recent-news>p {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin: 0 30px 30px;
}
.service-news-area .second-part{
	padding:0 0 0 30px;
}
.recent-news {
    background: #fff;
    border: 1px solid #cdcdcd;
    padding: 20px 0 80px;
}
.recent-news li .col-xs-9 {
    text-align: left;
    font-size: 13px;
}
.recent-news li {
	margin-bottom:10px;
}
.recent-news .news-heading {
    font-weight: 700;
}
.recent-news .news-date {
    font-weight: 600;
}
.recent-news li .col-xs-9 p {
    margin-bottom: 5px;
}
.buttons-area {
    padding: 60px 0 30px;
}
.buttons-area .btn {
    float: left;
	font-size:18px;
	font-weight:600;
    padding: 14px 33px;
}
.buttons-area .btn-space {
    width: 300px;
    margin: 0 auto;
}
.buttons-area .classified {
    border-radius: 5px 0 0 5px;
	background:#0db1f0;
	color:#fff;
}
.Textbook {
    border-radius: 0 5px 5px 0;
    background: #fff;
    border: 1px solid #cdcdcd;
}
.product-area .product-image {
    background: #fff;
    overflow: hidden;
    padding: 5px;
    border: 1px solid #999999;
}
.product-area .product-name {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
	margin-bottom: 3px;
}
.product-detail {
    margin-top: 15px;
}
.product-area .product-detail .tags {
    text-align: left;
}
.product-area .product-detail .price {
    text-align: right;
    font-weight: 600;
    color: #0db1f0;
}
.product-area .product-detail li {
    display: inline-block;
    width: 49%;
	font-size:14px;
}
.main-event {
    border: 1px solid #cdcdcd;
	margin-bottom:25px;
}
.event-area {
    padding-top: 60px;
}
.event-heading {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.event-detail-part-1 .col-xs-4 {
    padding: 0 13px 0 0;
	background:#fff;
}
.event-area .event-img,.event-area .detail-box1 {
    height: 185px;
    overflow: hidden;
}

.event-detail-part-1 .col-xs-8 {
    padding: 0 15px 0 17px;
	background:#fff;
}
.event-area .detail-box1 {
    text-align: left;
    padding-top: 20px;
}
.event-area .heading {
    font-size: 16px;
    font-weight: 600;
	line-height: 14px;
}
.event-area .time,.event-area .address {
    font-size: 14px;
	color: #666;
}
.event-area .address {
    margin-top:35px;
}
.event-detail-part-2 .col-xs-4{
    padding: 0;
    width: 31.6%;
}
.event-price p {
    margin-bottom: 0;
	font-size:14px;
	text-align:left;
}
.event-price {
    background: #eee;
    padding: 15px 30px;
}
.event-detail-part-2 .col-xs-8 {
    width: 68.4%;
    padding: 0;
    background: #fff;
    border-top: 1px solid #cdcdcd;
}
.event-detail-part-2 .col-xs-8 ul{
	margin-bottom:0;
}
.event-area .event-tags li {
    display: inline;
    margin-right: 10px;
    color: #666;
}
.event-area .event-tags {
    padding: 0;
    text-align: left;
	padding: 15px 0 12px 30px;
}
.event-area .event-links li {
    float: left;
    width: 50%;
    border-left: 1px solid #cdcdcd;
    padding: 13.5px 0;
	text-align: center;
}
.event-links {
    padding:0;
}