@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

#banner_bar_wrapper {
    padding: 0 0 1px;
	border-top: 1px solid #cdcdcd;
}
.news-detail a{
    background: #f63d29;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 9px 11px;
    font-weight: 700;
	display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}
.news-text, .news-button {
    display: inline-block;
}
.news-text{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
    margin-left: 10px;
}
.banner-img img{
	min-height:100%;
}
.banner-img {
    padding: 0;
    height: 342px;
    display: block;
    overflow: hidden;
	position:relative;
}
.banner .col-sm-6:nth-child(1){
	padding-right:1px;
	padding-left:0;
}
.banner .col-sm-6:nth-child(2) {
    padding-left: 1px;
    padding-right: 0;
}
.caption{
    padding: 11px 15px;
    background: rgba(45, 40, 40, 0.48);
    position: absolute;
    bottom: 0;
	color: #fff;
	width: 99.15%;
}
.lower-banner .col-sm-4:nth-child(1) .caption,
.lower-banner .col-sm-4:nth-child(3) .caption{
	width: 100%;
}
.banner .caption {
    width: 99.9%;
}
.fa-clock-o {
    margin-right: 5px;
}
.caption-date,.caption-text{
	font-size:14px;
}
.caption-heading{
	font-size:18px;
	font-weight:600;
	margin:0;
	line-height:2;
}
.caption-text{
	margin:0;
}
.lower-banner{
    padding-top: 2px;
}
.lower-banner .col-sm-4:nth-child(1),.lower-banner .col-sm-4:nth-child(3){
	padding-right:0;
	padding-left:0;
}
.lower-banner .col-sm-4:nth-child(2){
	padding-right:2px;
	padding-left:2px;
}

.news-bar {
    background: #0db1f0;
	padding: 9px 0;
}
.news-bar ul{
    margin:0;
}
.news-bar li{
    display:inline;
}
.news-bar li a {
    color: #fff;
    font-weight: 600;
    padding: 0px 6px;
}
.main-block {
    padding-bottom: 50px;
    background: #f9f9f9;

}
.main-heading{
    text-align: center;
    font-weight: 700;
    padding: 57px 0;
    font-size: 24px;
	margin:0;
}
.main-caption p{
	margin:0;
}
.main-caption {
	background:#fff;
    border: 1px solid #cdcdcd;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 20px;
    color: #0cb1f0;
    font-size: 18px;
}
.main-img {
    border: 1px solid #cdcdcd;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}
.main-block .col-sm-4 {
    padding:10px;
}

/******************* Description page *************************/
.page-banner .banner-img {
    height: 597px;
}	
.page-banner .caption-text {
    font-size: 28px;
}
.page-banner .col-sm-12{
	padding:0;
}
.upper-content {
    margin-top: 40px;
}
.lower-content .main-heading{
    text-transform:uppercase;
}
.upper-content li{
    margin-bottom: 15px;
}
.upper-content .col-sm-1{
	padding:5px;
}
.subscribers {
    background: #0cb1f0;
    padding: 0 5px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}
.subscribers p{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
}
.user-count{
	font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.user-count img{
    margin-left: 13px;
}
.reactions {
    margin-top: 30px;
}
.reactions li {
	font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-align: center;
    margin: 0;
    border: 1px solid #e4e4e4;
    padding: 20px 25px;
    height: 115px;
    background: #fff;
	text-transform:uppercase;
}
.reactions li a{
	font-size:14px;
	color:#8c8c8c;
}
.reactions li p{
	font-size:16px;
	font-weight:700;
	margin:0;
}
.reactions li img {
    margin-bottom: 10px;
}
.reactions li:nth-child(1) img{
    margin-top: 10px;
}